$tables-default: (
	border-radius: 3px,
	text-transform: capitalize,
);

$tables-config: map-extend($tables-default, $tables-user);


table {
  table-layout: fixed;
  width: 100%;
  line-height: inherit;
  td, th {
    padding: sizes(half) 0;
    // border-bottom: 1px solid colors(keyline, light);
  }
  th {
    padding: sizes(half) 0;
  }
  td {
    padding: sizes(base) 0;
  }
  tr:last-child {
    td {
      border-bottom: 0;
    }
  }
  thead {
    th {
      font-weight: 600;
      text-align: left;
    }
  }

  &.bordered {
  	border: 1px solid colors(keyline, dark);
  }

  &.lined, &.table-lined {
  	th {
  		border-bottom: 1px solid colors(keyline, light);
  	}
  	tr:not(:last-child) {
  		td {
  			border-bottom: 1px solid colors(keyline, light);
  		}
  	}
  }

  &.striped, &.table-striped {
  	// thead {
  	// 	background: 
  	// }
    tr:nth-child(even) {
      background: map-get($tables-config, stripes);
    }
  }
}

// table
// 	table-layout: fixed
// 	width: 100%
// 	border-radius: 3px
// 	font-size: 14px

// 	td
// 		padding: sizes(base)
// 		line-height: 1.8
// 		border-bottom: 1px solid colors(keyline, light)

// 	tr:last-child
// 		td:first-child
// 			border-radius: 0 0 0 3px
// 		td:last-child
// 			border-radius: 0 0 3px 0

// 	tr
// 		td:first-child
// 			font-weight: bold
// 			border-left: 1px solid colors(keyline, light)
// 		td
// 			border-right: 1px solid colors(keyline, light)
// 		td:not(:first-child)
// 			// text-align: center
// 	tr:not(:last-child)
// 		td
// 			border-bottom: 1px solid colors(keyline, light)

// 	thead
// 		th
// 			font-weight: 600
// 			border: 1px solid colors(keyline, light)
// 			color: colors(greyscale, 800)
// 			padding: sizes(half) sizes(base)
// 			text-align: left
// 			background: colors(greyscale, 100)
// 			border-bottom: 1px solid colors(keyline, light)
// 			&:first-child
// 				border-radius: 3px 0 0 0
// 			&:last-child
// 				border-radius: 0 3px 0 0
// 			&:not(:first-child)
// 				border-left: 0