@import "theme";
@import "globals/globals";
@import "mixins/mixins";
@import "helpers/helpers";
@import "components/components";


$sign-up: (device-medium: 4, device-small: 6, device-x-small: 6);
$split-panels: (device-x-small: 12, device-large: 6);


.module-team {

	h4 {
		color: colors(brand-primary)
	}
	img {
		max-width: 180px;
		margin-bottom: sizes(base);
		transition: scale, 0.25s;
		&:hover {
			transform: scale(0.95);
		}
	}
	.module-team-member {
		@include grid-test($sign-up);
		transition: border .5s;
		cursor: pointer;
	}
}

.module-split-panel {
	@include clearfix;
	.module-split-panel-summary, .module-split-panel-points  {
		@include grid-test($split-panels);
		padding: sizes(triple);
		@include respond-above(device-medium) {
			padding: 100px sizes(quad) !important;
		}
	}
	.module-split-panel-points {
		h3 {
			&:before {
				display: inline-block;
				vertical-align: middle;
				margin-right: sizes(quarter);
				content: "";
				background-image: url("../images/dots.png");
				background-size: contain;
				background-repeat: no-repeat;
				width: sizes(base);
				height: sizes(base);
				margin-top: -4px;
			}
		}
		p {
			@include responsive-text-size(small);
		}
	}
}
