@import "theme.scss";
@import "globals/globals.scss";
@import "mixins/mixins.scss";
@import "helpers/helpers.scss";
@import "components/components";

#map {
  width: 100%;
  height: 400px;
  -moz-filter:grayscale(1);
  -webkit-filter:grayscale(1);
}
.service-list {
	@include no-bullet;
	li {
		transition: all .5s;

		padding: sizes(double-half) 0;
		border-bottom: 1px solid colors(keyline, light);
		cursor: pointer;
		> span {
			color: colors(brand-secondary);
			font-size: 18px;
			font-family: SabonLTPro-Bold, Times, Georgia, serif
		}
		> p {
			display: none;
			margin-top: 30px;
		}
		&:first-child {
			border-top: 1px solid colors(keyline, light);
		}
		&:before {
			display: inline-block;
			vertical-align: middle;
			margin-right: sizes(quarter);
			content: "";
			background-image: url("../images/dots.png");
			background-size: contain;
			background-repeat: no-repeat;
			width: sizes(base);
			height: sizes(base);
			margin-top: -4px;
		}
		&:hover {
			// padding-left: sizes(half);
			color: colors(brand-primary);
		}
	}
}

.site-container {
	width: 100%;
	max-width: 1480px;
	margin: auto;
	background: white;
}

hr {
	border-top: 1px solid colors(keyline, light);
	width: 100%;
	margin: 60px 0;
}

.masthead-content {
	vertical-align: bottom !important;
	padding: 0 !important;
}

.masthead h1 {
	background: rgba(11, 38, 56, 0.5);
	padding: sizes(triple);
	width: 100%;
	max-width: 100%;
	font-size: 48px;
}

.footer-primary {
	background: colors(brand-primary, dark);
	padding: sizes(quad) 0;
	text-align: center;
	.copyright {
		color: white;
		opacity: 0.4;
		font-size: 14px;
		line-height: 1.6;
	}
}

.section {
	padding: 100px sizes(base);
	@include respond-above(device-medium) {
		padding: 100px sizes(quadruple);
	}
	&.expertise {
		background-image: url("../images/building.jpg");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
}

$sign-up: (device-medium: 4, device-small: 6, device-x-small: 6);
$split-panels: (device-x-small: 12, device-large: 6);


.module-team {

	h4 {
		color: colors(brand-primary)
	}
	img {
		max-width: 180px;
		margin-bottom: sizes(base);
		transition: scale, 0.25s;
		&:hover {
			transform: scale(0.95);
		}
	}
	.module-team-member {
		@include grid-test($sign-up);
		transition: border .5s;
		cursor: pointer;
	}
}

.module-split-panel {
	@include clearfix;
	.module-split-panel-summary, .module-split-panel-points  {
		@include grid-test($split-panels);
		padding: sizes(triple);
		@include respond-above(device-medium) {
			padding: 100px sizes(quad) !important;
		}
	}
	.module-split-panel-points {
		h3 {
			&:before {
				display: inline-block;
				vertical-align: middle;
				margin-right: sizes(quarter);
				content: "";
				background-image: url("../images/dots.png");
				background-size: contain;
				background-repeat: no-repeat;
				width: sizes(base);
				height: sizes(base);
				margin-top: -4px;
			}
		}
		p {
			@include responsive-text-size(small);
		}
	}
}

.module-image {
	height: 480px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	&.door {
		background-image: url("../images/door.jpg");
	}
	&.angels {
		background-image: url("../images/angels.jpg");
	}
	&.boardroom {
		background-image: url("../images/boardroom.jpg");
	}
	&.roman {
		background-image: url("../images/head.jpg");
	}
}