@import "theme.scss";
@import "globals/globals.scss";
@import "mixins/mixins.scss";
@import "helpers/helpers.scss";
@import "components/components";

body {
	background: #16415C;
}

.footer-primary {
	background: colors(brand-primary, dark);
	padding: sizes(quad) 0;
	text-align: center;
	.copyright {
		color: white;
		opacity: 0.4;
		line-height: 1.4;
	}
}

.site-container {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	background: white;
}

.section {
	padding: 100px sizes(double);
	&.expertise {
		background-image: url("images/building.jpg");
	}
}

$sign-up: (device-medium: 4, device-small: 6, device-x-small: 6);
$split-panels: (device-x-small: 12, device-large: 6);


.module-team-member-bio {
	position: fixed;
}

.module-team {

	h4 {
		color: colors(brand-primary)
	}
	img {
		max-width: 140px;
		margin-bottom: sizes(base);
	}
	.module-team-member {
		@include grid-test($sign-up);
		transition: border .5s;
		border: 1px solid transparent;
		border-radius: 5px;
		cursor: pointer;
		&:hover {
			border: 1px solid colors(keyline, dark);
		}
	}
}

.module-split-panel {
	@include clearfix;
	.module-split-panel-summary, .module-split-panel-points  {
		@include grid-test($split-panels);
		padding: sizes(triple);
		@include respond-above(device-medium) {
			padding: 100px sizes(quad) !important;
		}
	}
	.module-split-panel-points {		
		h3 {
			&:before {
				display: inline-block;
				vertical-align: middle;
				margin-right: sizes(quarter);
				content: "";
				background-image: url("images/dots.png");
				background-size: contain;
				background-repeat: no-repeat;
				width: sizes(base);
				height: sizes(base);
				margin-top: -4px;
			}
		}
		p {
			@include responsive-text-size(small);
		}
	}
}

.module-image {
	height: 400px;
	width: 100%;
	background-image: url("images/bg-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	&.angels {
		background-image: url("images/angels.jpg");
	}
	&.boardroom {
		background-image: url("images/board-room.jpg");
	}
	&.roman {
		background-image: url("images/roman.jpg");
	}
}