body.page-layout-docs
	.backdrop
	header.mobile-docs-navigation
		a.logo(href = "welcome.html")
			img(src="../../assets/images/logo.png")

		.mobile-navigation-toggle
			span
			span
			span
			span
				
	header.docs-navigation
		a.logo(href = "welcome.html")
			img(src="#{image_base}logo.png")
		ul
			li
				a(href='index.html') Getting Started

			li
				a(href='settings.html') Settings
			li
				a(href='grid.html') Grid
			li
				a(href='mixins.html') Mixins & Functions
			li
				a(href='helpers.html') Helpers



		.download
			a.button.block(href="#{repo}" target="_blank") Download
			.made Made in London by <a href="http://www.getagent.co.uk" target="_blank">Getagent.co.uk</a>

