include _head.jade

body.page-layout-docs
	.backdrop
	.primary-navigation
		a.logo(href = "index.html")
			img(src="#{image_base}logo-blue.png")
		.github
			a(class="github-button" href="https://github.com/sebpowell/barebones-sass" data-style="mega" data-count-href="/sebpowell/barebones-sass" data-count-api="/sebpowell/barebones-sass" data-count-aria-label="# stargazers on GitHub" aria-label="Star ntkme/github-buttons on GitHub") Star

	.mobile-docs-navigation
		a.logo(href = "welcome.html")
			img(src="#{image_base}logo.png")

		.mobile-navigation-toggle
			span
			span
			span
			span

	.share-bar
		.newsletter
			form(action="//getagent.us8.list-manage.com/subscribe/post?u=8e7e2415ce6f230a2587c4d65&amp;id=efa90a8389" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
				input.newsletter-input(type="email" id="mce-EMAIL" name="EMAIL" placeholder="Sign up for release updates")
				input.newsletter-submit(type="submit" name="subscribe" id="mc-embedded-subscribe", value="Submit")

	.docs-container
		.docs-navigation
			ul.docs-navigation-primary-links
				li
					a(href='introduction.html') Getting Started
					ul.sub-navigation
						li
							a(href='#installing') Installing Barebones
						li
							a(href='#requirements') Requirements
						li
							a(href='#support') Support
						li
							a(href='#background') Background Reading
				li
					a(href='settings.html') Settings
					ul.sub-navigation
						li
							a(href='#misc') Misc
						li
							a(href='#colors') Colors
						li
							a(href='#fonts') Fonts
						li
							a(href='#grid') Grid
						li
							a(href='#breakpoints') Breakpoints
						li
							a(href='#sizes') Sizes
						li
							a(href='#layers') Layers
				li
					a(href='grid.html') Grid
					ul.sub-navigation
						li
							a(href='#generator') Grid Settings
						li
							a(href='#generator') Containers
						li
							a(href='#generator') Columns
						li
							a(href='#generator') Galleries
						li
							a(href='#generator') Helpers
				li
					a(href='mixins.html') Mixins &amp; Functions
					ul.sub-navigation
						li
							a(href='#arrow') Arrow
						li
							a(href='#placeholder') Placeholder
						li
							a(href='#uppercase') Uppercase
						li
							a(href='#clearfix') Clearfix
						li
							a(href='#ellipsis') Ellipsis
						li
							a(href='#media-queries') Media Queries
						li
							a(href='#strip-units') Strip Units
						li
							a(href='#convert-to-rem') Convert to REM
						li
							a(href='#no-bullet') No Bullet

				li
					a(href='utilities.html') Utilities
					ul.sub-navigation
						li
							a(href='#background') Background Color
						li
							a(href='#borders') Borders
						li
							a(href='#margin') Margins & Padding
						li
							a(href='#layout') Layout
						li
							a(href='#grid') Grid
						li
							a(href='#typography') Typography
						li
							a(href='#visibility') Visibility

		block body
