.inline-code {
	font-family: "Roboto Mono";
	border: 1px solid colors(keyline);
	padding: 3px 5px 4px 5px;
	color: colors("greyscale", "900");
	font-size: 13px;
	border-radius: 2px;
	line-height: 1;
	display: inline-block;
	position: relative;
	top: -1px;
}

code {
	font-family: "Roboto Mono";
}

pre {
	font-family: "Roboto Mono";
	border: 1px solid #e8e8e8;
	padding: sizes(5);
	font-size: 13px;
	border-radius: 3px;
	margin: 0;
	line-height: 1.5;
	max-width: 650px;
	margin: 0 auto;
	tab-size: 3;
	hyphens: none;
	&:not(:last-of-type) {
		margin-bottom: sizes(8);
	}
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #FFFFFF;
}

// .hljs,
// .hljs-subst {
//   color: colors("greyscale", "700");
// }

// .hljs-attribute,
// .hljs-selector-tag,
// .hljs-doctag,
// .hljs-name, .hljs-selector-class {
//   color: colors("greyscale", "500");
// }


.hljs-keyword {
	color: colors("greyscale", "500");
}

.hljs-comment {
  color: colors("greyscale", "300");
}

.hljs-variable, .hljs-number, .hljs-selector-class, .hljs-attribute {
	color: colors("greyscale", "700");
}

