.docs-navigation {
	width: 300px;
	float: left;
	height: 100%;
	background: white;
	border-right: 1px solid #efefef;
	// box-shadow: 1px 0px 2px rgba(00,00,00,0.1);
	position: relative;
	z-index: 999;
	overflow: scroll;

	> a {
		display: block;
		padding: sizes(8);
		color: #797979;
	}

	.parent {
		padding: sizes(6) sizes(8);
		display: block;
		&:hover {
			color: colors("brand");
		}
	}
}

.sub-navigation {
	@include no-bullet;
	background: white;
	border-bottom: 1px solid #efefef;
	border-top: 1px solid #efefef;
	display: none;

	a {
		display: block;
		padding: sizes(5) sizes(8);
		font-size: 14px;
		color: grey;
		&:hover {
			color: black;
		}
	}
}

.nav-logo {
	padding: sizes(12);
	text-align: center;
	// border-bottom: 1px solid colors(keyline);

	img {
		max-width: 40px;
		display: inline-block;
	}
}