
table {
	width: 100%;
	border: 1px solid colors(keyline);
	// border: 1px solid colors(keyline);
	border-spacing: 0;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(00,00,00,0.1);
	// box-shadow: 0 0 0 2px rgba(00,00,00,0.05);

	td {
		padding: sizes(5);
		font-size: 14px;
		// line-height: 2;
	}

	thead {
		th {
			// border-bottom: 1px solid colors(keyline);
			text-align: left;
			padding: sizes(3) sizes(5);
			font-weight: 400;
			font-size: 14px;
			border-bottom: 1px solid colors(keyline);
		}
	}

	td {
		vertical-align: top;
	}

	p {
		font-size: 14px !important;
	}
}


.settings-table {
	width: 100%;
	tr {
		td {
			&:first-child {
				width: 400px;
			}
		}
	}
}