.function {
	color: colors(secondary, green);
	font-family: "Roboto Mono", "Menlo", "Monaco", Courier, monospace;
}

pre, .example {
	overflow-x: scroll !important;
}


.example {
  border: 1px solid colors(keyline, light);
  border-radius: 3px;


  .example-code {
  	padding: sizes(double-half);
  }

  .example-rendered {
  	padding: sizes(double-half);
  	border-bottom: 1px solid colors(keyline, light);
  }

  .example-gallery-item {
    height: 100px;
    background: pink;
  }

  // Example grid
  .example-wrapper {
    @include container();
    @include clearfix;

    [class^="column"], .example-sidebar, .example-content-block, .example-offset, .example-span {
      height: 100px;
    }
    .example-sidebar {
      @include span(4);
    }

    .example-span {
    	width: span(6);
    }

    .example-offset {
    	@include if-below(device-small) {
    		@include span(6);
    	}
    	@include span(6, $offset: 3);
    }

    .example-content-block {
      @include span(8, last);
    }
  }

  .modal, .dropdown-menu {
    position: static;
    visibility: visible;
    opacity: 1;
  }
  .row {
  	[class^="column"] {
  		background: pink;
  		padding: sizes(base);
  		font-size: 13px;
  		color: darken(pink, 60%);
  	}
  }

  .photo-gallery {
  	@include clearfix;

  	.photo-gallery-item {
  		@include gallery(3);
  		background-color: lightpink;
  		height: 40px;
  	}
  }
  .element {
		width: gallery(4, 4);
  }

  .element-2 {
  	@include gallery(2,2,3,5);
  }
}


code[class*="language-"],
pre[class*="language-"] {
	color: colors(greyscale, 600);
	background: none;
	font-family: "Roboto Mono", "Menlo", "Monaco", Courier, monospace;
	text-align: left;
	white-space: pre;
	font-size: 13px;
	margin: 0;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	tab-size: 2;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: colors(greyscale, 50);
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: colors(greyscale, 50);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: colors(greyscale, 600);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: colors(brand, primary);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #3d9970;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #3d9970;
}

.token.function {
	color: colors(secondary, green);
}

.token.regex,
.token.important,
.token.variable {
	color: colors(secondary, green);
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
