.page-layout-docs {
  padding: 52px grid(mobile-gutter) grid(mobile-gutter) grid(mobile-gutter);
}

.row {
	[class^="column"] {
		background: lightBlue;
		padding: sizes(base);
	}
}

.example {
  border: 1px solid colors(keyline, light);
  border-radius: 3px;
  padding: 24px;

  .modal, .dropdown-menu {
    position: static;
    visibility: visible;
    opacity: 1;
  }
}

.docs-container {
  @include clearfix;
	max-width: 1000px;
  padding-top: 24px;
  
  margin: auto;
  @include respond-above(device-medium) {
    padding-top: 80px;
    padding-bottom: 100px;
  }
}

.button:hover {
  // transform: translateY(-10px);
  box-shadow: 0 0 6px 6px rgba(255,255,255,0.3);
}


.main-container {
	// @include container(720px);
  @include span(9, $position: last);

}


.page-title {
	font-size: 42px;
	font-weight: weights(primary, light);
  color: colors(greyscale, 800);
}


.example-gallery-item {
  height: 100px;
  background: pink;
  // @include gallery-item(1, device-small);
  // @include gallery-item(4, device-medium);
  // margin bottom on mobile?
}


.example-wrapper {
  @include container();
  @include clearfix;

  [class^="column"], .example-sidebar, .example-content-block {
    height: 100px;
  }
  .example-sidebar {
    @include span(4);
  }

  .example-content-block {
    @include span(8, last);
  }
}


.phantom {
  margin: auto;
  width: 100%;
  height: 100%;

  // background: colors(greyscale, x-light);
}

.content {
  background: #e5e5e5;
  height: 100px;
  width: 100%;
}

iframe {
  width: 100%;
  transition: all .15s;
  height: 100%;
  // max-width: 1200px;
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}




