.page-layout-docs {
  // padding: 52px grid(mobile-gutter) 60px grid(mobile-gutter);
}



// .test-grid {
//   @include gallery(1, $gutter: 24px);
// }

.main-container-intro {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
  height: 600px;
}


.docs-container {
  // @include container(1100px);
  // padding-top: 24px;
  @include if-above(device-medium-large) {
    // padding-top: 80px;
    // padding-bottom: 100px;
  }
}



.main-container {
	@include if-above(device-medium-large) {
		@include span(8, $position: last, $gutter: 0);
	}
}

.page-title {
	font-size: 42px;
	font-weight: weights(primary, bold);
  color: colors(greyscale, 900);
}
