.page-layout-docs {
  padding: 52px grid(mobile-gutter) grid(mobile-gutter) grid(mobile-gutter);
}

.example {
  border: 1px solid colors(keyline, light);
  border-radius: 3px;
  padding: 24px;

  .example-gallery-item {
    height: 100px;
    background: pink;
  }

  // Example grid
  .example-wrapper {
    @include container();
    @include clearfix;

    [class^="column"], .example-sidebar, .example-content-block {
      height: 100px;
    }
    .example-sidebar {
      @include span(4);
    }

    .example-content-block {
      @include span(8, last);
    }
  }

  .modal, .dropdown-menu {
    position: static;
    visibility: visible;
    opacity: 1;
  }
  .row {
  	[class^="column"] {
  		background: pink;
  		padding: sizes(base);
  		font-size: 13px;
  		color: darken(pink, 60%);
  	}
  }

  .photo-gallery {
  	@include clearfix;

  	.photo-gallery-item {
  		@include gallery(3);
  		background-color: lightpink;
  		height: 40px;
  	}
  }
  .element {
  	@include gallery(6, 2, 4);
  }

  .element-2 {
  	@include gallery(2,2,3,5);
  }
}

.docs-container {
  @include clearfix;
	max-width: 1000px;
  padding-top: 24px;

  margin: auto;
  @include respond-above(device-medium) {
    padding-top: 80px;
    padding-bottom: 100px;
  }
}

.button:hover {
  box-shadow: 0 0 6px 6px rgba(255,255,255,0.3);
}

.main-container {
  @include span(9, $position: last);
}

.page-title {
	font-size: 42px;
	font-weight: weights(primary, light);
  color: colors(greyscale, 800);
}







