
.button {
  transition: all .25s;
  box-shadow: 0 0 0 0 rgba(255,255,255,0.3);
}

.mobile-docs-navigation {
  background: colours(brand, primary);
  padding: sizes(base);
  display: block;
  @include respond-above(device-large) {
    display: none;
  }
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;

  .logo {
    margin: auto;
  }
}

.logo {
  width: 140px;
  display: block;
}


.button:hover {
  // transform: translateY(-10px);
  box-shadow: 0 0 6px 6px rgba(255,255,255,0.3);
}
.docs-navigation {
  background: white;
  @include respond-below(device-large) {
    box-shadow: 0 0 30px rgba(00,00,00,0.2);
  }
  
  left: -300px;
  width: 300px;
  
  padding-top: sizes(double);

  position: fixed;
  height: 100%;
  top: 0;
  transition: left 0.5s ease-in-out;
  z-index: 9999;

  &.show {
    left: 0;
    display: block;
  }
  
  .made {
    font-size: 12px;
    color: lighten(colours(brand, primary), 30%);
  }
  @include respond-above(device-large) {

    display: block;
    left: 0;
    background-color: settings(colours, brand, primary);

  }

  .logo {
    position: relative;
    display: none;
    @include respond-above(device-large) {
      display: block;
    }
    margin: auto;
  }

  .download {
  	position: absolute;
  	bottom: settings(layout, sizes, base);
  	left: settings(layout, sizes, base);
  	right: settings(layout, sizes, base);
  	padding: sizes(base);
  	text-align: center;
  	margin-bottom: sizes(base);
  	transition: all .5s;
    .button {
      @extend .button.primary;
      margin-bottom: sizes(base);
      @include respond-above(device-large) {
        background: white;
        color: colours(brand, primary);
        &:hover {
          background: white;
          color: colours(brand, primary);
        }
      }
    }
  }

 

  > ul {
    @include no-bullet;
    transition: all .5s;
    @include respond-above(device-large) {
      padding-top: 100px;
    }
    width: 300px;
    left: -300px;
    height: 100%;
    overflow-y: scroll;

    &.is-visible {
      left: 0;
    }

    > li {
      > a {
      	transition: color .5s;
        padding: sizes(base) sizes(double);
        text-decoration: none;
        display: block;
        @include respond-above(device-large) {
          color: lighten(colours(brand, primary), 30%);

          &:hover {
          	color: white;
          }
        }
      }
    }
  }
}