
.button {
  transition: all .25s;
  box-shadow: 0 0 0 0 rgba(255,255,255,0.3);
}

.primary-navigation {
  @include clearfix;
  display: none;
	width: 100%;
	position: fixed;
  top: 0;
  left: 0;
  // z-index: layers(primary-navigation);
	padding: sizes(base) sizes(double-half);

	background: white;
	border-bottom: 1px solid colors(keyline, light);
  @include respond-above(device-medium) {
    display: block;
  }

	.logo {
		float: left;
		margin-top: 6px;
	}
	ul {
		@include no-bullet;
		float: left;
		> li {
			display: inline-block;
			// @include uppercase;
			font-size: 14px;
			color: white;
			opacity: 0.7;
			transition: all .5s;
			font-weight: 500;
			margin-right: sizes(base);
			&:hover {
				opacity: 1;
			}
		}
	}

	.github {
		float: right;
	}
	iframe {
		background: transparent;
		position: static;
	}
}

.mobile-docs-navigation {
  background: colors(brand, primary);
  padding: sizes(base);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;

  @include respond-above(device-medium) {
    display: none;
  }
  .logo {
    margin: auto;
  }
}

.logo {
  width: 140px;
  display: block;
}



.docs-navigation {
  @include span(3);
  background: white;
  position: fixed;
  // max-height: calc(400px)
  // overflow-y: scroll;

  &.show {
    visibility: visible;
    opacity: 1;
    transform: scale(1)
  }

  @include respond-below(device-medium) {
    transition: all .5s;
    transform: scale(0.9);
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
    top: 58px;
    width: 94%;
    left: 3%;
    z-index: 9999; // temp
  }


  .logo {
    position: relative;
    @include respond-above(device-medium) {
      // display: block;/
    }
    margin: auto;
  }

  .sub-navigation {
  	display: none;
  }

  .docs-navigation-primary-links {
    @include respond-above(device-medium) {
      position: fixed;
      min-width: 200px;
      max-height: 500px;
      overflow-y: scroll;
      border: 1px solid colors(keyline, light);
    }
  }
  ul {
    @include no-bullet;
    &.is-visible {
      left: 0;
    }
    > li {
    	&.active {
    		> a {
          color: colors(brand, primary);
    		}
    		.sub-navigation {
    			display: block;
          a {
            color: colors(greyscale, 500);
            font-size: 14px;
            &:hover {
              color: colors(greyscale, 900);
            }
          }
    		}
    	}
      &:first-child {
        @include respond-above(device-medium) {
          > a {
            padding-top: 0;
          }
        }
      }
      > a {
      	transition: color .5s;
        padding: sizes(base);
        text-decoration: none;
        display: block;
        @include respond-above(device-medium) {
          // color: lighten(colors(brand, primary), 30%);
          &:hover {
          	// color: white;
            color: colors(brand, primary);
          }
        }
      }
    }
  }
}
