// keyline(bottomm, dark, 1px);


.article {
	padding: 60px 0;
	border-bottom: 1px solid colours(keyline, light);

	p > a, li > a {
		color: colours(brand, primary);
		&:hover {
			text-decoration: underline;
		}
	}
	ul > li {
	  margin-bottom: sizes(base);
	  line-height: 1.5;
	  &:last-child {
	    margin-bottom: 0;
	  }
	}

	> h2 {
		margin-bottom: sizes(base);
		color: colours(brand, primary);
		font-weight: weights(primary, regular);
		font-size: settings(fonts, sizes, medium-large);
	}

	h3 {
		font-size: settings(fonts, sizes, medium-large);
		color: colours(greyscale, 800);
		font-weight: weights(primary, regular);
		margin-top: sizes(quad);
	}

	> p, > ul li {
		font-size: 18px;
		color: colours(greyscale, 800);
		line-height: 1.8;
		margin-bottom: sizes(double);
	}

	.bullet-list {
		list-style-type: none;
		margin-bottom: sizes(double);
		> li {
			position: relative;
			padding-left: 24px;
			&:before {
				content: "";
				position: absolute;
				top: 12px;
				left: 0;
				width: 4px;
				height: 4px;
				border-radius: 4px;
				background-color: colours(brand, primary);
			}
		}
	}

	> section {
	  margin-bottom: 80px;

	  &:last-child {
	    margin-bottom: 0;
	  }
	}
}