// keyline(bottomm, dark, 1px);


.var {
	color: colors(greyscale, 600);
	font-family: font(code);
	border: 1px solid colors(keyline, dark);
	border-radius: 3px;
	padding: 2px 6px;
	font-size: 13px;
	font-weight: 500;
}

.arguments {
	border-radius: 3px;
	border: 0;
	thead th {
		background-color: colors(greyscale, 100);
		text-align: left;
		padding: sizes(half) sizes(base);
		font-weight: weights(primary, semi-bold);
	}
}

.article {
	padding: 24px 0;

	&.introduction {
		p {
			font-size: 20px;
		}
	}
	p {
		font-weight: 400;
	}
	p > a, li > a {
		color: colors(brand, primary);
		&:hover {
			text-decoration: underline;
		}
	}
	ul > li {
	  margin-bottom: sizes(base);
	  line-height: 1.5;
	  &:last-child {
	    margin-bottom: 0;
	  }
	}

	> h2 {
		margin-bottom: sizes(base);
		font-weight: weights(primary, regular);
		font-size: settings(fonts, sizes, medium-large);
	}

	h3 {
		font-size: settings(fonts, sizes, medium-large);
		color: colors(greyscale, 800);
		font-weight: weights(primary, regular);
		margin-top: sizes(quad);
		margin-bottom: sizes(base);
	}

	> p, > ul li {
		font-size: map-get($font-sizes, base);
		color: colors(greyscale, 800);
		line-height: 1.8;
		margin-bottom: sizes(double);
		&:last-child {
			margin-bottom: 0;
		}
	}

	.bullet-list {
		list-style-type: none;
		margin-bottom: sizes(double);
		> li {
			position: relative;
			padding-left: 24px;
			&:before {
				content: "";
				position: absolute;
				top: 12px;
				left: 0;
				width: 4px;
				height: 4px;
				border-radius: 4px;
				background-color: colors(brand, primary);
			}
		}
	}

	> section {
	  margin-bottom: 80px;

	  &:last-child {
	    margin-bottom: 0;
	  }
	}
}