.photo-gallery
	@include clearfix

	.photo-gallery-item
		+gallery(3)
		background-color: lightpink
		height: 40px

.element
	+gallery(6, 2, 4)


.element-2
	+gallery(2,2,3,5)

table
	table-layout: fixed
	width: 100%
	// box-shadow: 0 0 3px rgba(00,00,00,0.05)
	border-radius: 3px
	padding: 0
	margin: 0
	border-collapse: initial
	border-spacing: 0
	font-size: 14px
	margin-bottom: sizes(double)
	td
		padding: sizes(base)
		border-left: 1px solid colours(keyline, light)
		border-bottom: 1px solid colours(keyline, light)

	tr:first-child
		td:first-child
			border-radius: 3px 0 0 0
		td:last-child
			border-radius-right: 0 3px 0 0
	tr:last-child
		td:first-child
			border-radius: 0 0 0 3px
		td:last-child
			border-radius: 0 0 3px 0
			
	tr
		td:first-child
			font-weight: bold
		td:not(:last-child)
			border-right: 1px solid colours(keyline, light)
		td:not(:first-child)
			text-align: center
	tr:not(:last-child)
		td
			border-bottom: 1px solid colours(keyline, light)
			

	thead
		th
			font-weight: 700
			font-size: 14px
			color: colours(greyscale, 800)
			padding: sizes(half) sizes(base)
			text-align: left
			background: colours(greyscale, 100)
			border-bottom: 1px solid colors(keyline, light)
