@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateY(40px);
		// color: red;
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

.welcome-masthead {
	background: linear-gradient(to right, rgba(0,98,227,1) 0%, rgba(0,117,254,1) 100%);
	padding-top: 40px;
	width: 100%;
	@include if-above(device-medium) {
		padding: 160px 0;
		height: 100vh;
		overflow: hidden;
		display: table;
	}

	.logo {
		margin-bottom: 60px;
		@include if-above(device-medium) {
			position: absolute;
			margin-bottom: 0;
			left: 32px;
		top: 32px;

		}
	}

	.welcome-masthead-inner {
		display: table-cell;
		width: 100%;
		vertical-align: middle;
		color: white;
		padding: 0 grid(mobile-padding);
		text-align: center;
	}

	// .welcome-masthead-left, .welcome-masthead-right {
	// 	@include span(6);
	// 	float: none;
	// 	display: table-cell;
	// 	vertical-align: middle;
	// 	height: 100%;
	// }
	.welcome-masthead-heading {
		font-family: font(secondary);
		font-size: 40px;
		letter-spacing: 0.1em;
		line-height: 1.2;
		text-shadow: 0 0px 50px rgba(0, 0, 0, 0.1);
		@include if-above(device-medium) {
			font-size: 80px;
			max-width: 800px;
			line-height: 1;
			margin: 0 auto sizes(half);
		}
	}

	.welcome-masthead-subheading {
		opacity: 0.7;
		line-height: 2;
		font-size: 18px;
		font-weight: 300;

		letter-spacing: .01em;
		max-width: 1000px;
		margin-bottom: sizes(double-half);
		@include if-above(device-medium) {
			font-size: 20px;
		}
	}

	.welcome-masthead-buttons {
		margin-bottom: 48px;
		.button {
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 0.05em;
		}
	}

}

.selling-points {
	@include clearfix;
	@include if-below(device-medium) {
		margin-bottom: 100px;
	}
}

.selling-point {
	margin-bottom: 60px;
	opacity: 0;
	animation: fade-in 1s forwards;

	@include if-above(device-medium) {
		@include span(4);
		margin-bottom: 0px;
		padding: 16px;
	}

	&:last-child {
		margin-bottom: 0;
	}

	img {
		width: 42px;
		margin-bottom: sizes(base)
	}


	.selling-point-title {
		font-size: 16px;
		letter-spacing: 0.03em;
		font-weight: weights(primary, semi-bold);
		margin-bottom: sizes(half);
	}
	.selling-point-description {
		font-size: 15px;
		opacity: 0.7;
		line-height: 1.8;
		// color: lighten(colors(brand, primary), 30%);
	}
}

.welcome-masthead-footer {
	padding: sizes(double-half) grid(mobile-padding);
	width: 100%;
	text-align: center;
	color: white;
	@include if-above(device-medium) {
		position: absolute;
		bottom: 0;
		left: 0;
	}



	.notice {
		opacity: 0.6;
		font-size: 12px;
	}
	.made-by {
		margin-bottom: sizes(base);
		font-weight: weights(primary, semi-bold);
		font-size: 14px;
		@include if-below(device-medium) {
			line-height: 1.8;
		}
	}

	a {
		color: white;

		&:hover {
			text-decoration: underline;
		}
	}
}
