.welcome-masthead {
	background-color: colors(brand, primary);
	padding-top: 40px;
	width: 100%;
	text-align: center;
	@include respond-above(device-medium) {
		// height: 100%;
		padding: 160px 0;
		// padding-top: 100px;
		display: table;
	}

	.logo {
		margin-bottom: 60px;
		@include respond-above(device-medium) {
			position: absolute;
			margin-bottom: 0;
			left: 32px;
		top: 32px;

		}
	}

	.welcome-masthead-inner {
		display: table-cell;
		width: 100%;
		vertical-align: middle;
		color: white;
		padding: 0 grid(mobile-padding);
	}

	.welcome-masthead-heading {
		font-family: font(secondary);
		font-size: 40px;
		letter-spacing: 0.1em;
		line-height: 1.2;
		text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
		@include respond-above(device-medium) {
			font-size: 70px;
			max-width: 800px;
			line-height: 1;
			margin: 0 auto sizes(base);
		}
	}

	.welcome-masthead-subheading {
		color: lighten(colors(brand, primary), 30%);
		line-height: 2;
		font-size: 18px;
		max-width: 1000px;
		margin-bottom: sizes(double);
		@include respond-above(device-medium) {
			font-size: 20px;
		}
	}

	.welcome-masthead-buttons {
		.button {
			@include respond-below(device-medium) {
				display: block;
				margin-right: 0 !important;
				&:first-child {
					margin-bottom: sizes(base);
				}
			}
			@include respond-above(device-medium) {
				width: 240px;
			}
		}
	}


}

.selling-points {
	@include clearfix;
	border-bottom: 1px solid colors(keyline, light);
}

.selling-point {
	@include span(4, $gutter: false);
	padding: sizes(triple);
	border-right: 1px solid colors(keyline, light);
	@include respond-below(device-medium) {
		margin-bottom: 24px;
	}

	img {
		display: none;
	}
	.selling-point-title {
		font-size: 16px;
		font-weight: weights(primary, semi-bold);
		margin-bottom: sizes(half);
	}
	.selling-point-description {
		font-size: 15px;
		line-height: 1.8;
		// color: lighten(colors(brand, primary), 30%);
	}
}

.welcome-masthead-footer {
	padding: sizes(double-half) grid(mobile-gutter);
	width: 100%;
	left: 0;
	font-size: 13px;

	.made-by {
		color: lighten(colors(brand, primary), 30%);
		@include respond-below(device-medium) {
			line-height: 1.8;
		}
	}

	a {
		color: white;
		font-weight: weights(primary, semi-bold);
		&:hover {
			text-decoration: underline;
		}
	}
}
