@function sizes($value) {
  @return map-get($sizes, $value);
}

$sizes: (
  quarter: map-get($theme, font-base-size) / 4,
  half: map-get($theme, font-base-size) / 2,
  base: map-get($theme, font-base-size),
  double-half: map-get($theme, font-base-size) * 1.5,
  double: map-get($theme, font-base-size) * 2,
  triple: map-get($theme, font-base-size) * 3,
  quad: map-get($theme, font-base-size) * 4,
);
