<!-- @@include('./template.html')









<!-- What is Barebones?

Barebones is a SASS boilerplate for creating custom CSS frameworks.

Unlike systems like Bootstrap, it's not designed to be simply included in a project and forgotten about. The idea is to provide a set of mixins, functions and basic components with the minimum amount of styling which we've found are common to projects we work on. This server as a fpundation, oupon which you can build components, modules and so on.


Getting Started

Barebones is split into two sets of files.

1.) A Base file that includes the following

Mixins
Elements
Config
Utilities

The above files reference a series of values stored in a theme file. The theme file is where project-specific global values are held. One of the advances of storing these values in a SASS map, aside from organisation, is that you can if you wish convert to a JSON file and then parse the values using gulp-sass, allowing you to share your theming.

The theme file defines


2.) Download the latest version of Barebones here.

3.)


			//- p Barebones is not designed to be
			//- | Getting Started
			//- | Barebones is split into two sets of files.
			//- | 1.) A Base file that includes the following
			//- | Mixins
			//- | Elements
			//- | Config
			//- | Utilities
			//- | The above files reference a series of values stored in a theme file. The theme file is where project-specific global values are held. One of the advances of storing these values in a SASS map, aside from organisation, is that you can if you wish convert to a JSON file and then parse the values using gulp-sass, allowing you to share your theming.
			//- | The theme file defines
			//- | 2.) Download the latest version of Barebones here.
			//- | 3.)
			//- | So What's the Upgrade Path?





	//- 	article
	//- 		h2 Avoid presentationl naming
	//- 		p
	//- 			| It's generally best to avoid naming classes
	//- 			| http://tympanus.net/codrops/2013/01/22/defending-presentational-class-names/
	//- 	article.article
	//- 		h2 Media Queries
	//- 		p
	//- 			| Media queries are kept inline, and reference a set of global breakpoints specified in
	//- 			span.code config/breakpoints
	//- 			| .
	//- 		p
	//- 			| By default, a mobile-first approach shhould be taken throughouth the platform. The mixins are configured as such.
	//- 		p
	//- 			| For components with multiple descender selectors, we declare media rules after every one, so you can see how a selector responds to different breakpoints in one place (as opposed to declaring these at the end of the parent selector).
	//- 	article.article
	//- 		h2 JavaScript
	//- 		p
	//- 			| Separate style and behavior concerns by using .js- prefixed classes for behavior. For example:
	//- 		pre.
	//- 			\n
	//- 		p
	//- 			| The .js- class makes it clear to the next person changing this template that it is being used for some JavaScript event and should be approached with caution. Be sure to use a descriptive class name. The intent of .js-open-content-menu is more clear than .js-menu. A more descriptive class is less likely to conflict with other classes and it’s lots easier to search for. The class should almost always include a verb since it’s tied to an action.
	//- 		p
	//- 			| .js- classes should never appear in your stylesheets. They are for JavaScript only. Inversely, there is never a reason to see presentation classes like .header-nav-button in JavaScript. You will see state classes like .is-state in your JavaScript and your stylesheets as .component.is-state.
	//- 	| {% endblock %}


	//- 	h2 What is Barebones?

	//- 	p Barebones is a SASS-based esponsive web design projects that harnesses the power of Sass and Compass.
	//- 	p It comes with just enough to get you on your way, and no unnecessary extras, so you can spend less time deleting what you don’t need and more time building.

	//- 	p Barebones is loosely based on SMACCS and BEM.

	//- 	p See the full list of features offered.

	//- 	p Here's what you get:

	//- 	p A super flexible and customis


	//- 	P By default, it is desifgned in a certain way. It's fluid, and responsive, mobile-first.
	//- 	What’s new in version two

	//- Sassafras: A flexible, responsive grid system that you can configure how you like
	//- Typeset module: Style blocks of content independently of global site settings
	//- Flexible breakpoints: Configure with ease and with fallbacks for IE
	//- Super settings: Flexible settings file that controls type measure, breakpoints, colours and more
	//- …and loads more. Check out the readme.
	//- Sassafras grid system

	//- We’ve added a grid system that we think is flexible enough for use on most projects. As is the mantra of Sassaparilla, it’s a starting point for you to build on and tailor to your needs.

	//- More importantly than that, you can configure the syntax, column numbers and break points however you like.

	//- Be sure to check the readme file for full information on how it works, or check the grid page to see it in action.

	//- All the usual goodies

	//- Great typography defaults
	//- Work in pixels, Compile in EMs
	//- Minimalist set-up to get you started faster
	//- CSS variables
	//- Open license – use it how you like.


	//- 	h2 Getting Started

	//- 	p Barebones is not meant to be used in the same way as fully-featured frameworks such as Bootstrap and Foundation are. These frameworks have their use, but are often used as a base. This is problematic for various reasons.
	//- 	p
	//- 		| <a href="">Click here to download the latest version</a>.
	//- 	p
	//- 		| You'll aso need to add the Meta viewport tag to control the the width and scale of the viewport on mobile browsers:
	//- 	pre
	//- 		code.markup
	//- 			| &lt;meta name="viewport" content="width=device-width, initial-scale=1"&gt;
	//- 	p When you download the source files, you'll find the following structure:
	//- 	ul
	//- 		li <strong>Mixins</strong>
	//- 		li <strong>Config</strong>
	//- 		li <strong>Components</strong>
	//- 		li <strong>Helpers</strong>
	//- 	p
	//- 		| Each file in the above folders hich then get imported into the <strong>_base.sass</strong> file. This file, and the theme file then gets imported into a global <strong>styles.sass</strong> which
	//- 		| then gets compiled into the CSS.

	//- 	h2 Who's This For?
	//- 	p Enso was built for designers that want to maitain their create their own code protoypyes, without the bloat and styling that comes from popular frameworks like Bootstrap .
	//- 	p The documentation and approach assumes basic knoweldge of HTML &amp; CSS, and the SASS language.
	//- 	p
	//- 		| If you're new to SASS, I would suggest checking out their docs, and reading the excellent <a href="http://abookapart.com/products/sass-for-web-designers">SASS for Web Designers</a>,
	//- 		| For those who are compltely new to HTML &amp; CSS, I would suggest taking a quick course with either Treehouse or CodeAcademy to get up to speed with the basics.
	//- 		| My hope is to encourage more designers to learn how to design in the browser, by offering a tool
	//- 		| It's far from perfect, but it's a start - I hope you nejoy using it.

	//- 	h2 Customising Enso
	//- 	p
	//- 		| Enso is not designed as to be a 'turnkey' solution. It's primary purpose is to provide a foundation to help both experiented and
	//- 		| less experienced designers build beautiful web and mobile interfaces. To learn more about customising Enso, check out the <a>Theme section</a>.

	//- 	h2 Why does the world need another framework?
	//- 	p
	//- 		| Short answer: it doesn't. But there's a few reasons why I thought builing this would be useful.

	//- 	p I fundamentally believe that UI designers need to know how to code. Here are some of the benefits I've found:
			//- ul
			//- 	li <strong>Better, faster protoyping:</strong> you can build something that looks almost identical to the final product, allowing you to test ideas in their real context.
			//- 	li Allows the engineering team to focus on the heavy-lfiting instead of wrestling with CSS &amp; marktup
			//- 	li Building a system: Encourages the designer to design a consistent UI
			//- 	li I realised that works best in many cases is prototpying directly in the browser. Doing this allows you to fine tune your aesthic,
			//- 	li see how your design adapts to different screen sizes and many more benefits.
		//- p
		//- 	| Over time, I've worked with various frameworks, including Bootstrap, Foundation and others. I tried a few frameworks, and found them to be either too complex, opinionated, or bloated.
		//- 	| And I've often found the namving convetions hard to read. And I evnetually found that I spent more time wrestiling with the framework  - you end up wrtestinh with it more than enjoying it;s benefits.

		//- p
		//- 	| Dave Rupert posted this excellt article a couple of years ago, titled <a href="http://daverupert.com/2013/04/responsive-deliverables/">Xbuilding boostraps for clients'</a>
		//- 	| Enso is built with this theme in mind - that designers need to know how ot code, and should provide style guides to their clients ot teams.
		//- 	| But to do so effectively, it's important to have a good foundation that doesn't interfere with how the UI looks.
		//- p
		//- 	| Enso is a colletion of all the buts of the various modules, mixins and other SASS functions I find myself using over and over again.
		//- 	| It's not designed to be a turn key solution,
		//- 	| but rather a resource you can use to either learn to build interfaces, or quickly build prototpyes.


		//- h2 Principles
		//- h3 SMACSS & OOCSS
		//- p Enso is built using <a href="http://sass-lang.com/">SASS</a>.Enso is loosely based on the SMACSS approach by Jon Snooks. This code down into components, modules, states and layouts.
		//- p If you aren't familiar with SMACSS, I strongly  you should give it a quick read.

		//- h3 Class Name Conventions
		//- p One of the conventions in Pure is for every module to have a standard class name for common rules across a module, and then have additional class names for specific presentational rules for a specific sub-module. A
		//- p ll classes start with a pure- prefix to prevent collisions. In addition, we try not to have presentational class names. Instead of calling something pure-form-horizontal, we prefer to call it pure-form-aligned. This prevents a tight coupling between class names and styles, which is good for maintainability.</p>
		//- p Additioanlly:
		//- p
		//- 	ul
		//- 		li Class names are always hyphenated (this is my erpsonal preference, I find it easier to read than camelcase)
		//- 		li Modifier classes don't use the elemtn name twice.
		//- 		li Modules are always description (e.g. Testimonial-header, testimonial-body)
		//- 		li I use the indented version of the SASS language, and in some cases the SCSS syntax
		//- 		li Try to keep styles less than 3 levels deep
		//- 		li Try not to use !important, only if really needed or obvious classes e.g. a hidden class
		//- 		li Avoid using IDs for styling
		//- 		li Make classes and modules reusable throughout your project
		//- 		li Names are always descriptive
		//- 		li Have a standard agreed way for you and your team to write CSS - Harry Roberts has some great CSS Guidelines

		//- h2 Browser Support
		//- p Enso styles have been tested in Chrome, Safari،

		//- p Compass uses Sass.

		//- p Sass is an extension of CSS3 which adds nested rules, variables, mixins, selector inheritance, and more. Sass generates well formatted CSS and makes your stylesheets easier to organize and maintain.

		//- h2 Acknowledgements
		//- ul
		//- 	li Bootstrap
		//- 	li SMACSS
		//- 	li Hugo Giraudel, for his awesome articles on SASS maps


So What's the Upgrade Path? -->



<h1 class="page-header">HTML & CSS Guidelines</h1>
<article class="article">
<h2>General Rules</h2>
<p>
<ul>
  <li>Use hyphenated class names (e.g. "<span class="code">.modal-header</span>") - no underscores or camelCase.</li>
  <li>Use shorthand when appropriate (e.g. padding: 15px 0; rather than padding: 15px 0px 15px 0px;).</li>
  <li>Vendor prefixing is handled by Rails, so there's no need to use mixins.</li>
  <li>Units are always specified in PX, rather than EMs or REMs.</li>
  <li>Comments rarely hurt -  make use of them, especially where a rule may seem counter-intuitive to the next person.</li>
  <li>In your markup, order classes like so <span class="code">&lt;div class="component modifiers helpers state js"&gt;</span>.</li>
  <li>Avoid body classes where possible. Stick to modifiers within your component.</li>
  <li>ID and tag selectors can complicate things because CSS specificity is a pain. Avoid using these for CSS.</li>
  <li>Where possible, avoid using <span class="code">@extend</span>, as overusage can significantly impact compile-time.</li>
</ul>
</p>

<p>Our CSS is loosely based on the principles of SMACSS, OOCSS and BEM. Since OOCSS is an abstract coding methodology, BEM is a concrete application of OOCSS, and SMACSS is an OOCSS-focused organizational structure, they actually play together very nicely.</p>

<h3>Semantic Names</h2>
<p>We always use complete words to name our classes. For example, instead of <span class="code">.btn</span>, we use <span class="code">.button</span>. If you're unsure how to name a component, check out other pattern libraries like Bootstrap, Founation or Semantic UI</p>

<h3>Parent-Child Relationships</h3>
<p>Adopting a naming convention for parent-child relationships between objects can really help clean up your CSS.
This approach helps us avoid polluting the global name-space with generic classes that should only be used within a specific component. In the first example, if a title object was declared in another context it could conflict with the post title. Not so in the second example. Because the child object is prefixed with the parent object's name it is less likely that an accidental conflict will occur. Win and win.</p>
<p>To use it simply prefix the name of the of the child object with the name of the parent object. I like to separate with a single dash.</p>
<pre>
<code>
.post {
  margin: 2em;

  .title {
    font-size: 2em;
    font-weight: normal;
  }
}
</code>
</pre>

<p>Would be better written as:</p>
<pre>
<code>
// Posts
.post {
  margin: 2em 0;
}
.post-title {
  font-size: 2em;
  font-weight: normal;
}
</code>
</pre>

<h3>Using modifiers</h3>
<p>Modifiers are used to indicate that the object is in a certain state or make small modifications to existing behavior.</p>
<p>Component modifiers should alway use the ampersand operator to tightly associate the modifier with the object and avoid the selector impacting other objects (is this true in the context of nested selectors?).</p>

<h3>States</h3>
<p>State classes show that something is enabled, expanded, hidden etc. For these classes, use the <span class="code">.component.is-state</span> pattern.</p>

<p>For example, showing a dropdown menu can be done using something like <span class="code">.dropdown-menu.is-open</span>.</p>


<h3>Behaviour</h3>
<p>The second a modifier can be used is to make small changes to existing behavior. Here's an example using modifers to allow for different size textboxes:</p>

<pre>
<code>
.textbox {
  font: 13px sans-serif;
  border: 1px solid #ccc;
  border-top: 1px solid #999;
  border-radius: 2px;
  padding: 2px 4px;

  &.large {
   font-size: 18px;
  }

  &.small {
    font-size: 11px;
    padding: 1px 2px;
  }
}
</code>
</pre>

<h3>Global Modifers / Helpers</h3>
<p>There are times when it makes perfect sense to make modifers global. These  should genearlly only change a single property, and should use the !important flag. Here are a couple of examples. These are included in the helpers section.</p>
<code>
.block        { display: block        !important; }
.inline       { display: inline       !important; }
.inline-block { display: inline-block !important; }

.text-left   { text-align: left   !important; }
.text-center { text-align: center !important; }
.text-right  { text-align: right  !important; }
</code>



Avoid nested selectors for more modular CSS

We've written before about the dangers of nesting your CSS selectors too deeply. The Inception Rule is a good one for getting you to avoid some mangled CSS selectors. But there's actually a lot of benefit to taking this concept a couple of steps farther. What happens when you avoid nesting for almost all of your major selectors?

http://thesassway.com/intermediate/avoid-nested-selectors-for-more-modular-css


</article>

<article class="article">
<h2>SASS Maps</h2>
<h2>Extends</h2>
</article>
<article>
<h2>Avoid presentationl naming</h2>
<p>It's generally best to avoid naming classes
http://tympanus.net/codrops/2013/01/22/defending-presentational-class-names/
</article>
<article class="article">
<h2>Media Queries</h2>
<p>Media queries are kept inline, and reference a set of global breakpoints specified in <span class="code">config/breakpoints</span>.</p>
<p>By default, a mobile-first approach shhould be taken throughouth the platform. The mixins are configured as such.</p>
<p>For components with multiple descender selectors, we declare media rules after every one, so you can see how a selector responds to different breakpoints in one place (as opposed to declaring these at the end of the parent selector).</p>

</article>

<article class="article">
<h2>JavaScript</h2>
<p>Separate style and behavior concerns by using .js- prefixed classes for behavior. For example:</p>

<pre>
<code class="javascript">// JavaScript (with jQuery)
  $(".js-open-content-menu").on("click", function(e){
  openMenu();
  });
</code>
</pre>


<p>The .js- class makes it clear to the next person changing this template that it is being used for some JavaScript event and should be approached with caution. Be sure to use a descriptive class name. The intent of .js-open-content-menu is more clear than .js-menu. A more descriptive class is less likely to conflict with other classes and it’s lots easier to search for. The class should almost always include a verb since it’s tied to an action.</p>

<p>.js- classes should never appear in your stylesheets. They are for JavaScript only. Inversely, there is never a reason to see presentation classes like .header-nav-button in JavaScript. You will see state classes like .is-state in your JavaScript and your stylesheets as .component.is-state.</p>
</article>
{% endblock %}
 -->