include _inc/_head.jade
include _inc/_layout.jade


.iframe-container

	.main-container


		h1.page-title Grid System
		article#containers.article

			p Barebones includes a flexible, responsive grid system that can be used in one of two ways.

			ul.bullet-list
				li Helper classes
				li Custom grid

		article#containers.article

			h2 Helper Classes


			h3 Rows & Columns

			p To create a grid, use the .row class (clears the floats), then .column-{number} classes for different column widths.
			p Columns work in the following way:

			ul.bullet-list
				li Each column has a % margin-right applied to it.
				li Margin is removed on the last column
				li They automatically grow to 100% at the breakpoint defined in the SASS map.

			.example
				.columns
					.columns-4 Columns 4
					.columns-5 Columns 5
					.columns-3 Columns 3

			pre
				code.language-html
					| &lt;div class="columns"&gt;
					|  &lt;div class="columns-4"&gt;
					|  &lt;div class="columns-5"&gt;
					|  &lt;div class="columns-3"&gt;
					| &lt;/div&gt;


			p Helper classes are also available to create different grids for different breakpoints.

			.example

				.columns
					.columns-4.columns-4-device-small Columns 4
					.columns-5.columns-4-device-small  Columns 5
					.columns-3.columns-4-device-small  Columns 3

			pre
				code.language-html
					| &lt;div class="columns"&gt;
					|  &lt;div class="columns-4 columns-4-device-small"&gt;
					|  &lt;div class="columns-5 columns-5-device-small"&gt;
					|  &lt;div class="columns-3 columns-3-device-small"&gt;
					| &lt;/div&gt;


			h3 Galleries

			p Galleries are grids containing a repeating number of equal-sized items. They work in a similar way to columns
			.example
				ul.gallery-5
					li.gallery-item
					li.gallery-item
					li.gallery-item
					li.gallery-item
					li.gallery-item

			pre
				code.language-html
					| &lt;div class="columns"&gt;
					|  &lt;div class="columns-4"&gt;
					|  &lt;div class="columns-5"&gt;
					|  &lt;div class="columns-3"&gt;
					| &lt;/div&gt;






			h2 Grid Generator
			p You can also create your own grid, without the need of 'messy' helper classes using the <span class="function">span($columns, $position)</span> function.

			ul.bullet-list
				li $colums: number of columns spanned by the element.
				li $position: if the column is the last one, pass the 'last' keyword to remove the margin.


			pre
				code.language-scss
					| .element-left {
					|   @include span(4);
					| }
					| #{''}
					| .element-right {
					|   @include span(8, last);
					| }


			.example
				.example-wrapper
					.example-content-block(style="background-color: lightpink")
					.example-sidebar(style="background-color: cyan")


			p To create different widths at different breakpoints, you can couple this with the <span class="function">respond-above($device)</span> mixin.

			pre
				code.language-scss
					| .example-sidebar {
					|  @include span(6, last);
					|  @include respond-above(device-small) {
					|    @include span(8, last);
					|  }
					| }


			h2 Galleries

			p Galleries are grids containing a repeating number of equal-sized items.


			.example
				ul.photo-grid
					each i in new Array(10)
						li.photo-grid-item Item


			pre
				code.language-scss
					| .example-gallery-item {
					|   @include gallery-item(1, device-small);
					|   @include gallery-item(4, device-medium);
					| }







