include _inc/_head.jade
include _inc/_layout.jade

.iframe-container

	.main-container

		h1.page-title Helpers



		article#background-color.article

			p Helpers or utlity classes should generally be used sparingly. They server two main purposes: first, for rapid brower prototyping, and second for adapting an element or component within a given context. All helper class attributes are suffixed with an !important flag.

			h3 Background Color
			p Generates a background-color helper for all colors specified in the palette category in the theme map.

			pre
				code.language-html
					| &lt;div class="background-brand-primary"&gt;&lt;/div&gt;

			pre
				code.language-scss
					| .background-brand-primary {
					|  background-color: #F5F5F5 !important;
					| }


		article#borders.article
			h3#borders Borders
			p Adds or removes a keyline to a given element. The border color uses the keyline value fromm the theme map.
			ul.bullet-list.margin-bottom-double
				li border-left
				li border-top
				li border-right
				li border-bottom
				li border-all
				li no-border
			pre
				code.language-scss
					| .border-top {
					|  background-color: #F5F5F5 !important;
					| }


		article#margin.article
			h3 Margin & Padding
			p Generated from the $sizes map.

			ul.bullet-list
				li <span class="class">.padding-{direction}-{size}</span>
				li <span class="class">.margin-{direction}-{size}</span>
				li <span class="class">.no-margin</span>
				li <span class="class">.no-padding</span>

			pre
				code.language-html
				| &lt;div class="margin-bottom-quarter"/div

		article#margin.article
			h3 Layout
			ul.bullet-list
				li block
				li inline-block
				li clearfix
				li float-left
				li float-right
			pre
				code.language-html
				| &lt;div class="margin-bottom-quarter"/div



		article#text-align.article
			h3 Typography

			p Use <span class="class">.text-{helper}</span> to use.

			h4 Alignment

			ul.bullet-list
				li left
				li right
				li center

			h4 Size

			p Helpers for creating the various text sizes specified in your settings file.

			ul.bullet-list
				li x-small
				li small
				li base
				li medium
				li medium-large
				li large
				li x-large

			h4 Transform

			ul.bullet-list
				li x-small
				li small
				li base
				li medium
				li medium-large
				li large
				li x-large

			h4 Transform

			ul.bullet-list
				li uppercase
				li lowercase
				li capitalize


