include _inc/_head.jade
include _inc/_layout.jade

.iframe-container

	.main-container

		h1.page-title Helpers



		article#background-color.article

			p Helpers or utlity classes should generally be used sparingly. All helper class attributes are suffixed with an !important flag to avoid specificity issues.

			h3 Background Color
			p Generates a background-color helper for all colors specified in the palette category in the settings map. To append the colour category and name to the helper. 

			pre
				code.language-html
					| &lt;div class="background-brand-primary"&gt;&lt;/div&gt;

			pre
				code.language-scss
					| .background-brand-primary {
					|  background-color: #F5F5F5 !important;
					| }

		article#borders.article
			h3#borders Borders
			p Adds or removes a keyline to a given element. The border color used is the keyline value specified in the settings map.
			ul.bullet-list.margin-bottom-double
				li border-left
				li border-top
				li border-right
				li border-bottom
				li border-all
				li no-border
			pre
				code.language-html
					| &lt;div class="background-brand-primary"&gt;&lt;/div&gt;

			pre
				code.language-scss
					| .background-brand-primary {
					|  background-color: #F5F5F5 !important;
					| }


		article#margin.article
			h3 Margin & Padding
			p Generated from the $sizes map.

			ul.bullet-list
				li <span class="class">.padding-{direction}-{size}</span>
				li <span class="class">.margin-{direction}-{size}</span>
				li <span class="class">.no-margin</span>
				li <span class="class">.no-padding</span>

			pre
				code.language-html
					| &lt;div class="background-brand-primary"&gt;&lt;/div&gt;

			pre
				code.language-scss
					| .background-brand-primary {
					|  background-color: #F5F5F5 !important;
					| }

		article#margin.article
			h3 Layout
			ul.bullet-list
				li block
				li inline-block
				li clearfix
				li float-left
				li float-right
			pre
				code.language-html
					| &lt;div class="background-brand-primary"&gt;&lt;/div&gt;

			pre
				code.language-scss
					| .background-brand-primary {
					|  background-color: #F5F5F5 !important;
					| }



		article#text-align.article
			h3 Typography

			p <span class="class">.text-{helper}</span>.

			h4 Alignment
			p These classes are for horizontally aligning content:

			ul.bullet-list
				li left
				li right
				li center

			h4 Size

			p Helpers for creating the various text sizes specified in your settings file.

			ul.bullet-list
				li x-small
				li small
				li base
				li medium
				li medium-large
				li large
				li x-large

			h4 Transform

			ul.bullet-list
				li uppercase
				li lowercase
				li capitalize
	

		article.article
			h2 Visibility 
			p We provide easy to use classes to hide content on specific screen sizes.

			pre
				code.language-html
					| &lt;div class="is-hidden"&gt;&lt;/div&gt;
					| &lt;div class="is-hidden-above-device-small"&gt;&lt;/div&gt;
					| &lt;div class="is-hidden-below-device-small"&gt;&lt;/div&gt;

			pre
				code.language-scss
					| .background-brand-primary {
					|  background-color: #F5F5F5 !important;
					| }

	//- article#text-align.article
	//- 	h2 Vertical Align
	//- 	p You can easily vertically center things by adding the class valign-wrapper to the container holding the items you want to vertically align.
