include _inc/_head.jade
include _inc/_layout.jade

.iframe-container
	.main-container

		h1.page-title Getting Started

		article.article
			p Barebones is a <a href="http://sass-lang.com/">SASS</a> boilerplate for building custom interfaces.
			p Unlike Bootstrap Foundation and other CSS frameworks, Barebones is not a fully fledged design system. It doesn't include a ton of pre-built, fully designed components – instead, it provides a set of commonly used tools; mixins, functions and helper classees, organised in a cohesive way to jump-start your next web project, using the full power of SASS.

			p The best way to get started with Barebones is to download the <a href="https://github.com/sebpowell/barebones">latest version</a> from Github and start building!

			p If you need help send an email to <a href="mailto:tech@getagent.co.uk">tech@getagent.co.uk</a>.


		article.article
			h2 Requirements

			p Baerbones relies heavily on SASS maps to work, so you'll need to make sure you're using SASS 3.3 or higher. Additionally, vendor prefixing mixins are not used or included as you can use the <a href="https://github.com/postcss/autoprefixer">autoprefixer plugin</a> to do this.



