include _inc/_layout.jade

.iframe-container

	.main-container

		h1.page-title Getting Started

		article.article
			h2 What is Barebones?
			p Barebones is a SASS boilerplate for creating your own CSS framework.
			p
				| Unlike projects such as Bootstrap or Foundation, Barebones simply provides a set of mixins, functions and basic components with the minimum amount of styling to rapidly start building your own, custom UI.

			p
				|Barebones is sepeareted into 2 layers. A config layer and.

			p
				a.button.primary(href = "") Download Barebones


		article.article
			h2 Getting Started


			p Barebones is a SASS boilerplate for creating custom CSS frameworks.

			p Unlike systems like Bootstrap, it's not designed to be simply included in a project and forgotten about. The idea is to provide a set of mixins, functions and basic components with the minimum amount of styling which we've found are common to projects we work on. This server as a fpundation, oupon which you can build components, modules and so on.


			p Getting Started

			p Barebones is split into two sets of files.

			p	1.) A Base file that includes the following

			ul
				li Mixins
				li Elements
				li Config
				li Utilities

			p The above files reference a series of values stored in a theme file. The theme file is where project-specific global values are held. One of the advances of storing these values in a SASS map, aside from organisation, is that you can if you wish convert to a JSON file and then parse the values using gulp-sass, allowing you to share your theming.

			p The theme file defines


			//- 2.) Download the latest version of Barebones here.

			//- 3.)



