include _inc/_layout.jade

.iframe-container
	h1.page-header Mixins
	article#arrow.article
		h2 Arrow
		p
			| Creates a triangle, used for things like tooltips or dropdowns. Available directions are "up", "right", "down" and "left".
		pre.
			\n
	article#clearfix.article
		h2 Clearfix
		p Clears floats. Apply this to the parent element.
		pre.
			\n
	article#ellipsis.article
		h2 Ellipsis
		p Adds ellipsis to text prevent text overflowing.
		pre.
			\n
	article#media-queries.article
		h2 Media Queries
		p
			| By default, media queries are mobile-first (the styles specified in the mixin will only apply to device sizes
			| greater than or equal to the specified breakpoint). The available values are those specified in the
			span.code $breakpoints
			|  map. Another mixin is available if you want to target screen sizes below a
			|     certain size.
		pre.
	article#no-bullet.article
		h2 No Bullet
		p
			| Removes list-style-type, margin and  padding attributes from
			span.code ul
			|  elements.
		pre.
	article#uppercase.article
		h2 Uppercase
		p
			| Sets text-transform to uppercase and adds 0.1em letter-spacing. No arguments required.
		pre.
			\n
