<html>
	<head>

		<!-- Meta Tags !-->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta property="og:title" content="" />
		<meta property="og:type" content="article" />
		<meta property="og:image" content="" />
		<meta property="og:description" content="" />
		<meta name="description" content="">
		<!-- / Meta Tags !-->


		<link rel="stylesheet" href="css/style.css">

		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/styles/default.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.8.0/highlight.min.js"></script>

		<title>Atlantis Capital</title>

		<link rel="stylesheet" href="../css/style.css">

		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon-precomposed" href="/screen-icon.png">

		<script src="js/vendor/jquery-1.11.3.min.js"></script>
		<script src="app.js"></script>
		<!-- Enable HTML5 elements in IE8 !-->
			<!--[if lt IE 9]>
				<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]-->
		<!-- / Enable HTML5 elements in IE8 !-->

		<!-- Google Analytics !-->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-68496170-1', 'auto');
		  ga('send', 'pageview');
		</script>
		<script type="text/javascript">
$(window).ready(function()
{

	$('.docs-navigation').on('click', '> ul > li > a', function(event)
	{

		if($(event.currentTarget).parents('li').length !== 1)
			return;

		event.preventDefault();
		// close all other menus
		$('.docs-navigation .is-open').removeClass('is-open');

		$(event.currentTarget).addClass('is-open');
	})

})
</script>
		<!-- Google Analytics !-->
	</head>

	<body class="page-layout-docs">
		<div class="modal-backdrop"></div>
		<header class="docs-navigation">
		  <a role="button" aria-hidden="true" class="mobile-site-navigation-open">
		    <span></span>
		  </a>
		  <ul>
		  	<li>
		      <a href="index">HTML & CSS</a>
		    </li>
		    <li>
		      <a href="js">JavaScript</a>
		    </li>
		    <li>
		      <a href="grid">Grid</a>
		      <ul>
		        <li><a href="#containers">Containers</a></li>
		        <li><a href="#rows">Rows & Columns</a></li>
		        <li><a href="#spacing">Spacing</a></li>
		        <li><a href="#offsets">Offsets</a></li>
		      </ul>
		    </li>
		    <li>
		      <a href="branding.html">Branding</a>
		      <ul>
		        <li><a href="branding#colors">Colors</a></li>
		        <li><a href="branding#typography">Typography</a></li>
		        <li><a href="branding#photography">Photography</a></li>
		        <li><a href="branding#logo">Logo</a></li>
		        <li><a href="branding#iconography">Iconography</a></li>
		      </ul>
		    </li>
		    <li>
		      <a href="globals">Globals</a>
		      <ul>
		        <li><a href="globals#breakpoints">Breakpoints</a></li>
		        <li><a href="globals#colors">Colors</a></li>
		        <li><a href="globals#grid">Grid</a></li>
		        <li><a href="globals#layout">Layout Units</a></li>
		        <li><a href="globals#">Typographic Scale</a></li>
		        <li><a href="globals#stacking">Stacking</a></li>
		      </ul>
		    </li>
		    <li>
		      <a href="components.html">Components</a>
		      <ul>
		        <li><a href="components#buttons">Buttons</a></li>
		        <li><a href="components#dropdown">Dropdown</a></li>
		        <li><a href="components#form">Form</a></li>
		        <li><a href="components#hero">Hero</a></li>
		        <li><a href="components#labels">Label</a></li>
		        <li><a href="components#panel">Panel</a></li>
		        <li><a href="components#progress-bars">Progress Bars</a></li>
		        <li><a href="components#tabs">Tabs</a></li>
		      </ul>
		    </li>
		    <li>
		      <a href="helpers">Helpers</a>
		      <ul>
		        <li><a href="helpers#background-color">Background Color</a></li>
		        <li><a href="helpers#borders">Borders</a></li>
		        <li><a href="helpers#floats">Floats & Clearfix</a></li>
		        <li><a href="helpers#margin">Margin & Padding</a></li>
		        <li><a href="helpers#text-align">Text Align</a></li>
		        <li><a href="helpers#text-color">Text Color</a></li>
		        <li><a href="helpers#text-size">Text Sizes</a></li>
		        <li><a href="helpers#text-transform">Text Transform</a></li>
		        <li><a href="helpers#text-weight">Text Weight</a></li>
		      </ul>
		    </li>
		    <li>
		      <a href="mixins">Mixins</a>
		      <ul>
		        <li><a href="mixins#arrow">Arrow</a></li>
		        <li><a href="mixins#clearfix">Clearfix</a></li>
		        <li><a href="mixins#ellipsis">Ellipsis</a></li>
		        <li><a href="mixins#media-queries">Media Queries</a></li>
		        <li><a href="mixins#no-bullet">No Bullet</a></li>
		        <li><a href="mixins#uppercase">Uppercase</a></li>
		      </ul>
		    </li>
		  </ul>
		</header>
		<div class="main-content">

	</body>
</html>


