include _inc/_head.jade

.welcome-masthead
	img.logo(src="../../assets/images/logo.png")
	.welcome-masthead-inner
		h1.welcome-masthead-inner-heading BUILD YOUR OWN SASS FRAMEWORK
		p Barebones is a SASS boilerplate to kickstart your next project.
		.welcome-masthead-buttons
			a.button.white.large.margin-right-base(href="index.html") Download
			a.button.white.bordered.large(href="index.html") Read the docs

	.welcome-masthead-footer
		| Made by <a href="">Getagent.co.uk</a>