$bb-align-content: (
	"name": "ac"
);

$bb-align-items: (
	"name": "ai"
);

$bb-aspect-ratio: (
	"name": "ar",
	"containerName": "aspect-ratio-content"
);

$bb-background-color: (
	"name": "bg"
);

$bb-background-position: (
	"name": "bg"
);

$bb-background-size: (
	"name": "bg"
);

$bb-border-radius: (
	"name": "br"
);

$bb-border: (
	"name": "b"
);

$bb-box-shadow: (
	"name": "bs"
);

$bb-clearfix: (
	"name": "cl"
);
$bb-cursor: (
	"name": "cu"
);

$bb-display: (
	"name": "d"
);

$bb-fill: (
	"name": "f"
);

$bb-flex-direction: (
	"name": "fx"
);

$bb-flex-order-settings: (
	"name": "fx"
);

$bb-flex-wrap: (
	"name": "fx"
);

$bb-float: (
	"name": "fl"
);

$bb-columns: (
	"name": "columns"
);

$bb-offset: (
	"name": "offset"
);

$bb-height: (
	"name": "height"
);

$bb-left: (
	"name": "pl"
);

$bb-letter-spacing-settings: (
	"name": "letter-spacing"
);

$bb-line-height-settings: (
	"name": "line-height"
);

$bb-margin-settings: (
	"name": "m"
);

$bb-max-width-settings: (
	"name": "max-width"
);

$bb-opacity: (
	"name": "o"
);

$bb-overflow-settings: (
	"name": "o"
);

$bb-padding-settings: (
	"name": "p"
);

$bb-position-settings: (
	"name": "ps"
);

$bb-right: (
	"name": "right"
);

$bb-table-settings: (
	"name": "table"
);

$bb-text-align-settings: (
	"name": "text"
);

$bb-text-color-settings: (
	"name": "t"
);

$bb-text-decoration-settings: (
	"name": "t"
);

$bb-text-size-settings: (
	"name": "t"
);

$bb-text-transform-settings: (
	"name": "t"
);

$bb-text-weight: (
	"name": "t"
);

$bb-top: (
	"name": "top"
);

$bb-transition-settings: (
	"name": "transition"
);

$bb-vertical-align: (
	"name": "va"
);

$bb-width-settings: (
	"name": "width"
);

$bb-z-index-settings: (
	"name": "z-index"
);