$bb-global-delimiter: "";

$bb-global-delimiter-second: "-";

$bb-hover-class-name: "Hover";

$bb-text-sizes: (

	"12": 12px,
	"14": 14px
);

$bb-align-content: (
	"modifiers": (
		"center": "content-center",
		"stretch": "content-stretch",
		"flex-start": "content-flex-start",
		"flex-end": "content-flex-end",
		"space-between": "content-space-between",
		"space-around": "content-space-around" 
	)
);

$bb-align-items: (
	"modifiers": (
		"flex-start": "items-flex-start",
		"flex-end": "items-flex-end",
		"center": "items-center"
	)
);

$bb-aspect-ratio: (
	"name": "ar",
	"containerName": "aspect-ratio-content"
);

$bb-background-color: (
	"name": "bg"
);

$bb-background-position: (
	"modifiers": (
		"top": "bg-top",
		"center": "bg-center",
		"bottom": "bg-bottom"
	)
);

$bb-background-size: (
	"name": "",
	"modifiers": (
		"cover": "cover",
		"contain": "contain"
	)
);

$bb-border-radius: (
	"name": "br"
);

$bb-border: (
	"modifiers": (
		"all": "b",
		"top": "bt",
		"right": "br",
		"bottom": "bb",
		"left": "bl"
	)
);

$bb-box-shadow: (
	"name": "bs"
);

$bb-clearfix: (
	"name": "cl"
);
$bb-cursor: (
	"name": "",
);

$bb-display: (
	"name": "",
	"modifiers": (
		"none": "none",
		"block": "block",
		"inline-block": "inlineBlock",
		"table": "table",
		"table-row": "tableRow",
		"table-cell": "tableCell",
		"flex": "flex"
	)
);

$bb-fill: (
	"name": "f"
);

$bb-flex-direction: (
	"name": "fx"
);

$bb-flex-order-settings: (
	"name": "fx"
);

$bb-flex-wrap: (
	"name": "fx"
);

$bb-float: (
	"name": "f",
	"modifiers": (
		"left": "l",
		"right": "r"
	)
);

$bb-columns: (
	"name": "c"
);

$bb-offset: (
	"name": "of"
);

$bb-height: (
	"name": "h"
);

$bb-left: (
	"name": "pl"
);

$bb-letter-spacing-settings: (
	"name": "ls"
);

$bb-line-height-settings: (
	"name": "lh"
);

$bb-margin-settings: (
	"name": "m"
);

$bb-max-width-settings: (
	"name": "mw"
);

$bb-opacity: (
	"name": "o"
);

$bb-overflow-settings: (
	"name": "o"
);

$bb-padding-settings: (
	"name": "p"
);

$bb-position-settings: (
	"name": "ps"
);

$bb-right: (
	"name": "right"
);

$bb-table-settings: (
	"name": "table"
);

$bb-text-align-settings: (
	"name": "text"
);

$bb-text-color-settings: (
	"name": "t"
);

$bb-text-decoration-settings: (
	"name": "t"
);

$bb-text-size-settings: (
	"name": "f"
);

$bb-text-transform-settings: (
	"name": "t"
);

$bb-text-weight: (
	"name": "t"
);

$bb-top: (
	"name": "top"
);

$bb-transition-settings: (
	"name": "transition"
);

$bb-vertical-align: (
	"name": "v",
	"modifiers": (
		"top": "Top",
		"bottom": "Bottom",
		"middle": "Middle"
	)
);

$bb-width-settings: (
	"name": "w"
);

$bb-z-index-settings: (
	"name": "z"
);