.columns-1 { padding: 0 10px; }

@media (max-width: 780px) { .columns-1 { width: 100%; }
  .columns-1:not(:last-of-type) { margin-bottom: 20px; } }

@media (min-width: 780px) { .columns-1 { float: left; width: 8.33333%; } }

.columns-2 { padding: 0 10px; }

@media (max-width: 780px) { .columns-2 { width: 100%; }
  .columns-2:not(:last-of-type) { margin-bottom: 20px; } }

@media (min-width: 780px) { .columns-2 { float: left; width: 16.66667%; } }

.columns-3 { padding: 0 10px; }

@media (max-width: 780px) { .columns-3 { width: 100%; }
  .columns-3:not(:last-of-type) { margin-bottom: 20px; } }

@media (min-width: 780px) { .columns-3 { float: left; width: 25%; } }

.columns-4 { padding: 0 10px; }

@media (max-width: 780px) { .columns-4 { width: 100%; }
  .columns-4:not(:last-of-type) { margin-bottom: 20px; } }

@media (min-width: 780px) { .columns-4 { float: left; width: 33.33333%; } }

.columns-5 { padding: 0 10px; }

@media (max-width: 780px) { .columns-5 { width: 100%; }
  .columns-5:not(:last-of-type) { margin-bottom: 20px; } }

@media (min-width: 780px) { .columns-5 { float: left; width: 41.66667%; } }

.columns-6 { padding: 0 10px; }

@media (max-width: 780px) { .columns-6 { width: 100%; }
  .columns-6:not(:last-of-type) { margin-bottom: 20px; } }

@media (min-width: 780px) { .columns-6 { float: left; width: 50%; } }

.columns-7 { padding: 0 10px; }

@media (max-width: 780px) { .columns-7 { width: 100%; }
  .columns-7:not(:last-of-type) { margin-bottom: 20px; } }

@media (min-width: 780px) { .columns-7 { float: left; width: 58.33333%; } }

.columns-8 { padding: 0 10px; }

@media (max-width: 780px) { .columns-8 { width: 100%; }
  .columns-8:not(:last-of-type) { margin-bottom: 20px; } }

@media (min-width: 780px) { .columns-8 { float: left; width: 66.66667%; } }

.columns-9 { padding: 0 10px; }

@media (max-width: 780px) { .columns-9 { width: 100%; }
  .columns-9:not(:last-of-type) { margin-bottom: 20px; } }

@media (min-width: 780px) { .columns-9 { float: left; width: 75%; } }

.columns-10 { padding: 0 10px; }

@media (max-width: 780px) { .columns-10 { width: 100%; }
  .columns-10:not(:last-of-type) { margin-bottom: 20px; } }

@media (min-width: 780px) { .columns-10 { float: left; width: 83.33333%; } }

.columns-11 { padding: 0 10px; }

@media (max-width: 780px) { .columns-11 { width: 100%; }
  .columns-11:not(:last-of-type) { margin-bottom: 20px; } }

@media (min-width: 780px) { .columns-11 { float: left; width: 91.66667%; } }

.columns-12 { padding: 0 10px; }

@media (max-width: 780px) { .columns-12 { width: 100%; }
  .columns-12:not(:last-of-type) { margin-bottom: 20px; } }

@media (min-width: 780px) { .columns-12 { float: left; width: 100%; } }

.columns { zoom: 1; margin-left: -10px; margin-right: -10px; }

.columns:before, .columns:after { content: ""; display: table; }

.columns:after { clear: both; }

.columns.no-gutter { margin-left: 0; margin-right: 0; }

.columns.no-gutter > [class^="columns"] { padding: 0; }

@media (min-width: 780px) { .columns.gutter-half { margin-left: -5px; margin-right: -5px; }
  .columns.gutter-half > [class^="columns"] { padding: 0 5px; }
  .columns.gutter-double { margin-left: -20px; margin-right: -20px; }
  .columns.gutter-double > [class^="columns"] { padding: 0 20px; } }

@media (min-width: 780px) { .offset-1 { margin-left: 8.33333%; } }

@media (min-width: 780px) { .offset-2 { margin-left: 16.66667%; } }

@media (min-width: 780px) { .offset-3 { margin-left: 25%; } }

@media (min-width: 780px) { .offset-4 { margin-left: 33.33333%; } }

@media (min-width: 780px) { .offset-5 { margin-left: 41.66667%; } }

@media (min-width: 780px) { .offset-6 { margin-left: 50%; } }

@media (min-width: 780px) { .offset-7 { margin-left: 58.33333%; } }

@media (min-width: 780px) { .offset-8 { margin-left: 66.66667%; } }

@media (min-width: 780px) { .offset-9 { margin-left: 75%; } }

@media (min-width: 780px) { .offset-10 { margin-left: 83.33333%; } }

@media (min-width: 780px) { .offset-11 { margin-left: 91.66667%; } }

@media (min-width: 780px) { .offset-12 { margin-left: 100%; } }
