$bb-colors: (
	"brand": blue, 
	"keyline": #efefef,
	"greyscale": (
		"x-light": #e5e5e5,
		"50":  #ECEFF1,
		"100": #CFD8DC,
		"200": #B0BEC5,
		"300": #90A4AE,
		"400": #78909C,
		"500": #607D8B,
		"600": #546E7A,
		"700": #455A64,
		"800": #37474F,
		"900": #263238
	)
);

$bb-breakpoints: (
	"medium": 780px,
	"large": 1200px
);

$bb-fonts: (
	"atlas-grotesk": (
		"name": #{'atlas grotesk', Helvetica, Arial, sans-serif},
		"weights": (
			"semi": 700,
			"bold": 900
		)
	)
);

// $bb-global-delimiter: "" !default;

$bb-spacing-scale: 15;

$bb-line-heights: (
	"small": 1.2,
	"medium": 1.5
);

$bb-spacing-base: 5px;

$bb-text-sizes: (
	"11": 11px,
	"13": 13px,
	"15": 15px,
	"20": 20px,
	"28": 28px
);


// generic font-weight helpers
// Rems?


.justify-content-center {
	justify-content: center;
}


// @import "_short-names";
@import "../../../dist/configurable/_base";
@import "components/components";


.label {
	@include uppercase(0.1em);
	border-radius: 40px;
	padding: 5px 8px 2px 8px;
	font-size: 10px;

	color: green;
	border: 1px solid green;

	&.label-red {
		border: 1px solid red;
		color: red;
	}
}



html {
	color: colors("greyscale", "900");
}

body {
	overflow: hidden;
	height: 100%;
	font-family: map-deep-get($bb-fonts, "atlas-grotesk", "name");
}


.next {
	background: white;
	border-top: 1px solid colors("keyline");
	box-shadow: -10px -20px 5px rgba(00,00,00,0.2);
	padding: sizes(6);
	font-size: 18px;
	bottom: 0;
	text-align: right;
	max-width: 1000px;

	&:hover {
		background-color: lighten(colors(brand), 10%);
		cursor: pointer;
	}

	.next-arrow {
		@include square(120px);
		position: absolute;
		background-color: darken(colors(brand), 10%);
		right: 0;
		top: 0;
	}
}

::selection {
  background: lighten(colors("brand"), 45%);
}