.top-0 { top: 0px; }

@media (min-width: 780px) { .top-0-above-m { top: 0px; } }

@media (max-width: 780px) { .top-0-below-m { top: 0px; } }

.top-1 { top: 5px; }

@media (min-width: 780px) { .top-1-above-m { top: 5px; } }

@media (max-width: 780px) { .top-1-below-m { top: 5px; } }

.top-2 { top: 10px; }

@media (min-width: 780px) { .top-2-above-m { top: 10px; } }

@media (max-width: 780px) { .top-2-below-m { top: 10px; } }

.top-3 { top: 15px; }

@media (min-width: 780px) { .top-3-above-m { top: 15px; } }

@media (max-width: 780px) { .top-3-below-m { top: 15px; } }

.top-4 { top: 20px; }

@media (min-width: 780px) { .top-4-above-m { top: 20px; } }

@media (max-width: 780px) { .top-4-below-m { top: 20px; } }

.top-5 { top: 25px; }

@media (min-width: 780px) { .top-5-above-m { top: 25px; } }

@media (max-width: 780px) { .top-5-below-m { top: 25px; } }

.top-auto { top: auto !important; }
