$bb-colors: (

	"brand": #008489, 

	"greyscale": (
		"x-light": #e5e5e5,
		"500": #767676
	),
	"keyline": #DBDBDB,

	"social": (
		"facebook": #4568b2
	),
);

$bb-spacing-scale: 15;

$bb-spacing-base: 4px;

$bb-normalize: false;


@import "../../../dist/configurable/_base";
// @import "components/components";


.demo-airbnb {

	> * {
		font-family: "circular std";
		font-weight: 300;
		-webkit-font-smoothing: antialiased;
	}

	.checkbox {
		.checkbox-input {
			@include square(18px);
			border: 1px solid colors(keyline);
			display: inline-block;
			vertical-align: middle;
			margin-right: sizes(1);
		}

		.checkbox-label {
			display: inline-block;
			font-size: 20px;
			vertical-align: middle;
		}
	}

	.demo-button {
		border: 0;
		cursor: pointer;
		display: inline-block;
		color: white;
		text-align: center;
		padding: 0 sizes(6);
		height: 50px;
		line-height: 50px;
		font-size: 20px;
		font-weight: 500;
		border-radius: 3px;
		background-color: #008489;

		&.demo-button-facebook {
			background-color: colors("social", "facebook");
		}

		&.demo-button-empty {
			border: 2px solid colors("greyscale", "500");
			background-color: transparent;
			color: colors("greyscale", "500");
			line-height: 45px;
		}
	}

	input[type="text"],
	input[type="email"],
	input[type="number"],
	input[type="password"],
	input[type="url"],
	input[type="date"],
	input[type="tel"],
	input[type="search"] {
		font-weight: 300;
		height: 48px;
		font-size: 20px;
		border-radius: 2px;
		border: 1px solid colors(keyline);

		&:focus {
			border-color: colors("brand");
		}
	}
}

