$theme: (
	colours: (
		// brand: (
		// 	primary: #0D3650,
		// 	secondary: #fe5607
		// ),

		// secondary: (

		// ),

		greyscale: (
			50: #FAFAFA,
			100: #F5F5F5,
			200: #EEEEEE,
			300: #E0E0E0,
			400: #BDBDBD,
			500: #9E9E9E,
			600: #757575,
			700: #616161,
			800: #424242,
			900: #212121
		),

		info: (
			error: #F86464,
			base: #ECDF9A,
			dark: #8C7A1B,
		),

		keyline: (
			light: #ECECEC,
			medium: #D5D5D5,
			dark: #D9D9D8,
		)
	),

	fonts: (
		primary: #{'Open Sans', sans-serif},
		secondary: Helvetica,

		weights: (
			light: 100,
			regular: 400,
			bold: 700,
		)
	),

	layers: (
		backdrop: 2,
		modal: 3,
		dropdown: 1,
		navigation: 1,
	),

	sizes: (
		font-base-size: 16px,
	  quarter: 16px / 4,
	  half: 16px / 2,
	  base: 16px,
	  double-half: 16px * 1.5,
	  double: 16px * 2,
	  triple: 16px * 3,
	  quad: 16px * 4,
	),

	layout: (
		columns: 12,
		site-width: 760px,
		gutter: 1/4,
		gutter-type: margin,
		gutter-position: inside-static,
		grid-color: null,
		debug: true,
		mobile-padding: 24px,
	),

	breakpoints: (
		device-x-small: 350px,
		device-small: 480px,
		device-medium: 780px,
		device-medium-large: 900px,
		device-large: 1080px,
		device-x-large: 1200px
	)
);

@function theme($category, $value: '') {
	@return map-get(map-get($theme, $category), $value);
}

@function map-fetch($map, $keys) {
  $key: nth($keys, 1);
  $length: length($keys);
  $value: map-get($map, $key);
  @if ($length > 1) {
    $rest: ();
    @for $i from 2 through $length {
      $rest: append($rest, nth($keys, $i))
    }
    @return map-fetch($value, $rest)
  } @else {
    @return $value;
  }
}



@function colours($colour-cat, $colour) {
	// Returns each category in colours (e.g. primary)
  @return map-get(map-get(map-get($theme, colours), $colour-cat), $colour);
}

@function sizes($size) {
	// Returns each category in colours (e.g. primary)
  @return map-get(map-get($theme, sizes), $size);
}


@function themes($keys...) {
  $key: nth($keys, 1);
  $length: length($keys);
  $value: map-get($theme, $key);
  @if ($length > 1) {
    $rest: ();
    @for $i from 2 through $length {
      $rest: append($rest, nth($keys, $i))
    }
    @return map-fetch($value, $rest)
  } @else {
    @return $value;
  }
}






$gutters: (theme(layout, columns) / theme(layout, gutter)) + (theme(layout, columns) - 1);
$gutterWidth: 100% / $gutters;
$totalGutterWidth: $gutterWidth * (theme(layout, columns) - 1);
$columnWidth: (100% - $totalGutterWidth) / theme(layout, columns);
// $totalColumnWidth: $columnWidth + $gutterWidth;
// $guttersPerColumn: (1 / theme(gutter)) + 1;




// .body {
// 	background: map-deep-get($theme, palette, brand, primary);
// }

// gallery?

// .test-container {
// 	@include container;
// 	padding: 100px 0;
// }


html {
	// background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NjZmZiIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+PHN0b3Agb2Zmc2V0PSI4MCUiIHN0b3AtY29sb3I9IiNiM2IzZmYiIHN0b3Atb3BhY2l0eT0iMC4yNSIvPjxzdG9wIG9mZnNldD0iODAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  margin: 0 auto;
	background-size: 100%;

}



