html { margin: 0 auto; background-size: 100%; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }
*:hover, *:focus { outline: none; }

html, body, div, span, object, iframe, hr, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, button, textarea, select, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; }

html { min-height: 100%; height: 100%; font-family: Open Sans, sans-serif; }

.iframe-container { max-width: ""; margin: 0 auto; }

.main-container { max-width: 800; margin: 0 auto; padding-top: 100px; }

.page-title { font-size: 42px; font-weight: 100; }

.example-gallery-item { height: 100px; background: pink; margin-bottom: 1.69492%; margin-bottom: 1.69492%; }
.example-gallery-item:last-child { margin-bottom: 0; }
@media (min-width: 780px) { .example-gallery-item { float: left; width: 6.77966%; margin-right: 1.69492%; }
  .example-gallery-item:nth-last-child(-n+ 0) { margin-bottom: 0; }
  .example-gallery-item:nth-child(3n + 1) { clear: both; }
  .example-gallery-item:nth-child(0n) { margin-right: 0; } }
.example-gallery-item:last-child { margin-bottom: 0; }
@media (min-width: 780px) { .example-gallery-item { float: left; width: 32.20339%; margin-right: 1.69492%; }
  .example-gallery-item:nth-last-child(-n+ 3) { margin-bottom: 0; }
  .example-gallery-item:nth-child(3n + 1) { clear: both; }
  .example-gallery-item:nth-child(3n) { margin-right: 0; } }

.example-wrapper { max-width: ""; margin: 0 auto; background: lightBlue; max-width: 600px; }
.example-wrapper [class^="column"], .example-wrapper .example-sidebar, .example-wrapper .example-content-block { height: 100px; }
.example-wrapper .example-sidebar { width: 100%; width: 100%; }
@media (min-width: 480px) { .example-wrapper .example-sidebar { width: 32.20339%; margin-right: 0; float: right; } }
@media (min-width: 780px) { .example-wrapper .example-sidebar { width: 66.10169%; float: left; margin-right: 1.69492%; } }
.example-wrapper .example-content-block { width: 100%; width: 100%; }
@media (min-width: 480px) { .example-wrapper .example-content-block { width: 66.10169%; float: left; margin-right: 1.69492%; } }
@media (min-width: 780px) { .example-wrapper .example-content-block { width: 32.20339%; margin-right: 0; float: right; } }

.phantom { margin: auto; width: 100%; height: 100%; background: colors(greyscale, x-light); }

.content { background: #e5e5e5; height: 100px; width: 100%; }

iframe { width: 100%; transition: all .15s; height: 100%; background: white; position: absolute; left: 0; right: 0; bottom: 0; margin: auto; }

.screen-tester { zoom: 1; position: fixed; background: white; z-index: 9999; top: 0; width: 100%; border-bottom: 1px solid colors(keyline, dark); left: 0; }
.screen-tester:before, .screen-tester:after { content: ""; display: table; }
.screen-tester:after { clear: both; }
.screen-tester .screen-tester-sizes { float: right; }
.screen-tester .screen-tester-sizes-selected { position: relative; border-right: 1px solid colors(keyline, dark); padding: 16px; }
.screen-tester .screen-tester-sizes-dropdown { list-style-type: none; margin: 0; padding: 0; background: white; visibility: hidden; position: absolute; border: 1px solid colors(keyline, dark); top: 100%; opacity: 0; }
.screen-tester .screen-tester-sizes-dropdown li { margin: 0; line-height: inherit; }
.screen-tester .screen-tester-sizes-dropdown > li { padding: 16px; }
.screen-tester .screen-tester-sizes-dropdown.is-visible { opacity: 1; visibility: visible; }

ul > li { margin-bottom: 16px; line-height: 1.5; }
ul > li:last-child { margin-bottom: 0; }

.swatch { position: relative; float: left; height: 400px; padding: 16px; }
.swatch.small { float: none; display: inline-block; vertical-align: middle; width: 30px; height: 30px; padding: 0; margin-right: 8px; border-radius: 30px; }
.swatch.thumb { float: none; height: 200px; }
.swatch .label { position: absolute; bottom: 20px; }

.tint { padding: 20px; }

.text-grey-500 { color: #313033; }

@media (min-width: 1080px) { .page-layout-docs { padding-left: 300px; } }
.page-layout-docs h3 { margin-top: 32px; }
.page-layout-docs h3:first-of-type { margin-top: 0; }
.page-layout-docs table img { width: 24px; }
.page-layout-docs table h1, .page-layout-docs table h2, .page-layout-docs table h3, .page-layout-docs table h4, .page-layout-docs table h5, .page-layout-docs table h6, .page-layout-docs table p { margin-bottom: 0; }
.page-layout-docs .content { padding: 20px 0; text-align: center; background: #CCEBF3; }
.page-layout-docs .primary-site-links { margin-left: 0; }
.page-layout-docs .class, .page-layout-docs .code { color: #D88E2C; font-family: "Source Code Pro",Consolas,"Lucida Console",Courier,monospace; }
.page-layout-docs .example { border: 1px solid colors(keyline, dark); border-radius: 3px; }
.page-layout-docs .example .modal, .page-layout-docs .example .dropdown-menu { position: static; visibility: visible; opacity: 1; }
.page-layout-docs .page-header { text-align: left; }
.page-layout-docs .align-middle { position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.page-layout-docs .logo-example { width: 100%; height: 260px; padding: 48px; text-align: center; background: white; }

.article { padding: 100px 0; border-bottom: 1px solid #ECECEC; }
.article > h2 { margin-bottom: 32px; font-weight: 400; }
.article > p { font-size: 20px; line-height: 1.8; margin-bottom: 32px; }
.article > section { margin-bottom: 80px; }
.article > section:last-child { margin-bottom: 0; }

.docs-navigation { display: none; }
@media (min-width: 780px) { .docs-navigation { display: block; width: 300px; background-color: white; border-right: 1px solid #ECECEC; position: fixed; z-index: 9999; height: 100%; top: 0; left: 0; } }
.docs-navigation > ul { list-style-type: none; margin: 0; padding: 0; transition: all .5s; padding-top: 100px; width: 300px; left: -300px; height: 100%; overflow-y: scroll; }
.docs-navigation > ul li { margin: 0; line-height: inherit; }
.docs-navigation > ul.is-visible { left: 0; }
.docs-navigation > ul > li > a { padding: 16px; text-decoration: none; display: block; color: #424242; }
.docs-navigation > ul > li > a + ul { display: none; }
.docs-navigation > ul > li > a.is-open { background: colors(brand-primary); color: white; }
@media (min-width: 1080px) { .docs-navigation > ul > li > a.is-open { border-radius: 3px; } }
.docs-navigation > ul > li > a.is-open + ul { display: block; }
.docs-navigation > ul > li > ul { list-style-type: none; margin: 0; padding: 0; border-bottom: 1px solid colors(keyline, light); margin-bottom: 8px; }
.docs-navigation > ul > li > ul li { margin: 0; line-height: inherit; }
.docs-navigation > ul > li > ul > li > a { font-size: 14px; color: colors(greyscale, mid); display: block; padding: 24px 16px; }

/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+sass+scss */
/** prism.js default theme for JavaScript, CSS and HTML Based on dabblet (http://dabblet.com) @author Lea Verou */
code[class*="language-"], pre[class*="language-"] { color: black; background: none; text-shadow: 0 1px white; font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; direction: ltr; text-align: left; white-space: pre; word-spacing: normal; word-break: normal; word-wrap: normal; line-height: 1.5; -moz-tab-size: 4; -o-tab-size: 4; tab-size: 4; -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection, code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection { text-shadow: none; background: #b3d4fc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection, code[class*="language-"]::selection, code[class*="language-"] ::selection { text-shadow: none; background: #b3d4fc; }

@media print { code[class*="language-"], pre[class*="language-"] { text-shadow: none; } }
/* Code blocks */
pre[class*="language-"] { padding: 1em; margin: .5em 0; overflow: auto; }

:not(pre) > code[class*="language-"], pre[class*="language-"] { background: #f5f2f0; }

/* Inline code */
:not(pre) > code[class*="language-"] { padding: .1em; border-radius: .3em; white-space: normal; }

.token.comment, .token.prolog, .token.doctype, .token.cdata { color: slategray; }

.token.punctuation { color: #999; }

.namespace { opacity: .7; }

.token.property, .token.tag, .token.boolean, .token.number, .token.constant, .token.symbol, .token.deleted { color: #905; }

.token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted { color: #690; }

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string { color: #a67f59; background: rgba(255, 255, 255, 0.5); }

.token.atrule, .token.attr-value, .token.keyword { color: #07a; }

.token.function { color: #DD4A68; }

.token.regex, .token.important, .token.variable { color: #e90; }

.token.important, .token.bold { font-weight: bold; }

.token.italic { font-style: italic; }

.token.entity { cursor: help; }
