.columns-1 { width: 100%; float: left; }
@media (max-width: 480px) { .columns-1 { margin-bottom: 24px; }
  .columns-1:last-child { margin-bottom: 0; } }
@media (min-width: 480px) { .columns-1 { margin-right: 1.69492%; width: 6.77966%; }
  .columns-1:last-child { margin-right: 0; } }

.columns-2 { width: 100%; float: left; }
@media (max-width: 480px) { .columns-2 { margin-bottom: 24px; }
  .columns-2:last-child { margin-bottom: 0; } }
@media (min-width: 480px) { .columns-2 { margin-right: 1.69492%; width: 15.25424%; }
  .columns-2:last-child { margin-right: 0; } }

.columns-3 { width: 100%; float: left; }
@media (max-width: 480px) { .columns-3 { margin-bottom: 24px; }
  .columns-3:last-child { margin-bottom: 0; } }
@media (min-width: 480px) { .columns-3 { margin-right: 1.69492%; width: 23.72881%; }
  .columns-3:last-child { margin-right: 0; } }

.columns-4 { width: 100%; float: left; }
@media (max-width: 480px) { .columns-4 { margin-bottom: 24px; }
  .columns-4:last-child { margin-bottom: 0; } }
@media (min-width: 480px) { .columns-4 { margin-right: 1.69492%; width: 32.20339%; }
  .columns-4:last-child { margin-right: 0; } }

.columns-5 { width: 100%; float: left; }
@media (max-width: 480px) { .columns-5 { margin-bottom: 24px; }
  .columns-5:last-child { margin-bottom: 0; } }
@media (min-width: 480px) { .columns-5 { margin-right: 1.69492%; width: 40.67797%; }
  .columns-5:last-child { margin-right: 0; } }

.columns-6 { width: 100%; float: left; }
@media (max-width: 480px) { .columns-6 { margin-bottom: 24px; }
  .columns-6:last-child { margin-bottom: 0; } }
@media (min-width: 480px) { .columns-6 { margin-right: 1.69492%; width: 49.15254%; }
  .columns-6:last-child { margin-right: 0; } }

.columns-7 { width: 100%; float: left; }
@media (max-width: 480px) { .columns-7 { margin-bottom: 24px; }
  .columns-7:last-child { margin-bottom: 0; } }
@media (min-width: 480px) { .columns-7 { margin-right: 1.69492%; width: 57.62712%; }
  .columns-7:last-child { margin-right: 0; } }

.columns-8 { width: 100%; float: left; }
@media (max-width: 480px) { .columns-8 { margin-bottom: 24px; }
  .columns-8:last-child { margin-bottom: 0; } }
@media (min-width: 480px) { .columns-8 { margin-right: 1.69492%; width: 66.10169%; }
  .columns-8:last-child { margin-right: 0; } }

.columns-9 { width: 100%; float: left; }
@media (max-width: 480px) { .columns-9 { margin-bottom: 24px; }
  .columns-9:last-child { margin-bottom: 0; } }
@media (min-width: 480px) { .columns-9 { margin-right: 1.69492%; width: 74.57627%; }
  .columns-9:last-child { margin-right: 0; } }

.columns-10 { width: 100%; float: left; }
@media (max-width: 480px) { .columns-10 { margin-bottom: 24px; }
  .columns-10:last-child { margin-bottom: 0; } }
@media (min-width: 480px) { .columns-10 { margin-right: 1.69492%; width: 83.05085%; }
  .columns-10:last-child { margin-right: 0; } }

.columns-11 { width: 100%; float: left; }
@media (max-width: 480px) { .columns-11 { margin-bottom: 24px; }
  .columns-11:last-child { margin-bottom: 0; } }
@media (min-width: 480px) { .columns-11 { margin-right: 1.69492%; width: 91.52542%; }
  .columns-11:last-child { margin-right: 0; } }

.columns-12 { width: 100%; float: left; }
@media (max-width: 480px) { .columns-12 { margin-bottom: 24px; }
  .columns-12:last-child { margin-bottom: 0; } }
@media (min-width: 480px) { .columns-12 { margin-right: 1.69492%; width: 100%; }
  .columns-12:last-child { margin-right: 0; } }

.columns-1-grid { width: 100%; }
@media (min-width: 760px) { .columns-1-grid { float: left; } }

.columns-2-grid { width: 100%; }
@media (min-width: 760px) { .columns-2-grid { width: 15.25424%; float: left; } }

.columns-3-grid { width: 100%; }
@media (min-width: 760px) { .columns-3-grid { width: 23.72881%; float: left; } }

.columns-4-grid { width: 100%; }
@media (min-width: 760px) { .columns-4-grid { width: 32.20339%; float: left; } }

.columns-5-grid { width: 100%; }
@media (min-width: 760px) { .columns-5-grid { width: 40.67797%; float: left; } }

.columns-6-grid { width: 100%; }
@media (min-width: 760px) { .columns-6-grid { width: 49.15254%; float: left; } }

.columns-7-grid { width: 100%; }
@media (min-width: 760px) { .columns-7-grid { width: 57.62712%; float: left; } }

.columns-8-grid { width: 100%; }
@media (min-width: 760px) { .columns-8-grid { width: 66.10169%; float: left; } }

.columns-9-grid { width: 100%; }
@media (min-width: 760px) { .columns-9-grid { width: 74.57627%; float: left; } }

.columns-10-grid { width: 100%; }
@media (min-width: 760px) { .columns-10-grid { width: 83.05085%; float: left; } }

.columns-11-grid { width: 100%; }
@media (min-width: 760px) { .columns-11-grid { width: 91.52542%; float: left; } }

.columns-12-grid { width: 100%; }
@media (min-width: 760px) { .columns-12-grid { width: 100%; float: left; } }

.columns-1-device-x-small { width: 100%; }
@media (min-width: 350px) { .columns-1-device-x-small { float: left; } }

.columns-2-device-x-small { width: 100%; }
@media (min-width: 350px) { .columns-2-device-x-small { width: 15.25424%; float: left; } }

.columns-3-device-x-small { width: 100%; }
@media (min-width: 350px) { .columns-3-device-x-small { width: 23.72881%; float: left; } }

.columns-4-device-x-small { width: 100%; }
@media (min-width: 350px) { .columns-4-device-x-small { width: 32.20339%; float: left; } }

.columns-5-device-x-small { width: 100%; }
@media (min-width: 350px) { .columns-5-device-x-small { width: 40.67797%; float: left; } }

.columns-6-device-x-small { width: 100%; }
@media (min-width: 350px) { .columns-6-device-x-small { width: 49.15254%; float: left; } }

.columns-7-device-x-small { width: 100%; }
@media (min-width: 350px) { .columns-7-device-x-small { width: 57.62712%; float: left; } }

.columns-8-device-x-small { width: 100%; }
@media (min-width: 350px) { .columns-8-device-x-small { width: 66.10169%; float: left; } }

.columns-9-device-x-small { width: 100%; }
@media (min-width: 350px) { .columns-9-device-x-small { width: 74.57627%; float: left; } }

.columns-10-device-x-small { width: 100%; }
@media (min-width: 350px) { .columns-10-device-x-small { width: 83.05085%; float: left; } }

.columns-11-device-x-small { width: 100%; }
@media (min-width: 350px) { .columns-11-device-x-small { width: 91.52542%; float: left; } }

.columns-12-device-x-small { width: 100%; }
@media (min-width: 350px) { .columns-12-device-x-small { width: 100%; float: left; } }

.columns-1-device-small { width: 100%; }
@media (min-width: 480px) { .columns-1-device-small { float: left; } }

.columns-2-device-small { width: 100%; }
@media (min-width: 480px) { .columns-2-device-small { width: 15.25424%; float: left; } }

.columns-3-device-small { width: 100%; }
@media (min-width: 480px) { .columns-3-device-small { width: 23.72881%; float: left; } }

.columns-4-device-small { width: 100%; }
@media (min-width: 480px) { .columns-4-device-small { width: 32.20339%; float: left; } }

.columns-5-device-small { width: 100%; }
@media (min-width: 480px) { .columns-5-device-small { width: 40.67797%; float: left; } }

.columns-6-device-small { width: 100%; }
@media (min-width: 480px) { .columns-6-device-small { width: 49.15254%; float: left; } }

.columns-7-device-small { width: 100%; }
@media (min-width: 480px) { .columns-7-device-small { width: 57.62712%; float: left; } }

.columns-8-device-small { width: 100%; }
@media (min-width: 480px) { .columns-8-device-small { width: 66.10169%; float: left; } }

.columns-9-device-small { width: 100%; }
@media (min-width: 480px) { .columns-9-device-small { width: 74.57627%; float: left; } }

.columns-10-device-small { width: 100%; }
@media (min-width: 480px) { .columns-10-device-small { width: 83.05085%; float: left; } }

.columns-11-device-small { width: 100%; }
@media (min-width: 480px) { .columns-11-device-small { width: 91.52542%; float: left; } }

.columns-12-device-small { width: 100%; }
@media (min-width: 480px) { .columns-12-device-small { width: 100%; float: left; } }

.columns-1-device-medium { width: 100%; }
@media (min-width: 780px) { .columns-1-device-medium { float: left; } }

.columns-2-device-medium { width: 100%; }
@media (min-width: 780px) { .columns-2-device-medium { width: 15.25424%; float: left; } }

.columns-3-device-medium { width: 100%; }
@media (min-width: 780px) { .columns-3-device-medium { width: 23.72881%; float: left; } }

.columns-4-device-medium { width: 100%; }
@media (min-width: 780px) { .columns-4-device-medium { width: 32.20339%; float: left; } }

.columns-5-device-medium { width: 100%; }
@media (min-width: 780px) { .columns-5-device-medium { width: 40.67797%; float: left; } }

.columns-6-device-medium { width: 100%; }
@media (min-width: 780px) { .columns-6-device-medium { width: 49.15254%; float: left; } }

.columns-7-device-medium { width: 100%; }
@media (min-width: 780px) { .columns-7-device-medium { width: 57.62712%; float: left; } }

.columns-8-device-medium { width: 100%; }
@media (min-width: 780px) { .columns-8-device-medium { width: 66.10169%; float: left; } }

.columns-9-device-medium { width: 100%; }
@media (min-width: 780px) { .columns-9-device-medium { width: 74.57627%; float: left; } }

.columns-10-device-medium { width: 100%; }
@media (min-width: 780px) { .columns-10-device-medium { width: 83.05085%; float: left; } }

.columns-11-device-medium { width: 100%; }
@media (min-width: 780px) { .columns-11-device-medium { width: 91.52542%; float: left; } }

.columns-12-device-medium { width: 100%; }
@media (min-width: 780px) { .columns-12-device-medium { width: 100%; float: left; } }

.columns-1-device-medium-large { width: 100%; }
@media (min-width: 900px) { .columns-1-device-medium-large { float: left; } }

.columns-2-device-medium-large { width: 100%; }
@media (min-width: 900px) { .columns-2-device-medium-large { width: 15.25424%; float: left; } }

.columns-3-device-medium-large { width: 100%; }
@media (min-width: 900px) { .columns-3-device-medium-large { width: 23.72881%; float: left; } }

.columns-4-device-medium-large { width: 100%; }
@media (min-width: 900px) { .columns-4-device-medium-large { width: 32.20339%; float: left; } }

.columns-5-device-medium-large { width: 100%; }
@media (min-width: 900px) { .columns-5-device-medium-large { width: 40.67797%; float: left; } }

.columns-6-device-medium-large { width: 100%; }
@media (min-width: 900px) { .columns-6-device-medium-large { width: 49.15254%; float: left; } }

.columns-7-device-medium-large { width: 100%; }
@media (min-width: 900px) { .columns-7-device-medium-large { width: 57.62712%; float: left; } }

.columns-8-device-medium-large { width: 100%; }
@media (min-width: 900px) { .columns-8-device-medium-large { width: 66.10169%; float: left; } }

.columns-9-device-medium-large { width: 100%; }
@media (min-width: 900px) { .columns-9-device-medium-large { width: 74.57627%; float: left; } }

.columns-10-device-medium-large { width: 100%; }
@media (min-width: 900px) { .columns-10-device-medium-large { width: 83.05085%; float: left; } }

.columns-11-device-medium-large { width: 100%; }
@media (min-width: 900px) { .columns-11-device-medium-large { width: 91.52542%; float: left; } }

.columns-12-device-medium-large { width: 100%; }
@media (min-width: 900px) { .columns-12-device-medium-large { width: 100%; float: left; } }

.columns-1-device-large { width: 100%; }
@media (min-width: 1080px) { .columns-1-device-large { float: left; } }

.columns-2-device-large { width: 100%; }
@media (min-width: 1080px) { .columns-2-device-large { width: 15.25424%; float: left; } }

.columns-3-device-large { width: 100%; }
@media (min-width: 1080px) { .columns-3-device-large { width: 23.72881%; float: left; } }

.columns-4-device-large { width: 100%; }
@media (min-width: 1080px) { .columns-4-device-large { width: 32.20339%; float: left; } }

.columns-5-device-large { width: 100%; }
@media (min-width: 1080px) { .columns-5-device-large { width: 40.67797%; float: left; } }

.columns-6-device-large { width: 100%; }
@media (min-width: 1080px) { .columns-6-device-large { width: 49.15254%; float: left; } }

.columns-7-device-large { width: 100%; }
@media (min-width: 1080px) { .columns-7-device-large { width: 57.62712%; float: left; } }

.columns-8-device-large { width: 100%; }
@media (min-width: 1080px) { .columns-8-device-large { width: 66.10169%; float: left; } }

.columns-9-device-large { width: 100%; }
@media (min-width: 1080px) { .columns-9-device-large { width: 74.57627%; float: left; } }

.columns-10-device-large { width: 100%; }
@media (min-width: 1080px) { .columns-10-device-large { width: 83.05085%; float: left; } }

.columns-11-device-large { width: 100%; }
@media (min-width: 1080px) { .columns-11-device-large { width: 91.52542%; float: left; } }

.columns-12-device-large { width: 100%; }
@media (min-width: 1080px) { .columns-12-device-large { width: 100%; float: left; } }

.columns-1-device-x-large { width: 100%; }
@media (min-width: 1200px) { .columns-1-device-x-large { float: left; } }

.columns-2-device-x-large { width: 100%; }
@media (min-width: 1200px) { .columns-2-device-x-large { width: 15.25424%; float: left; } }

.columns-3-device-x-large { width: 100%; }
@media (min-width: 1200px) { .columns-3-device-x-large { width: 23.72881%; float: left; } }

.columns-4-device-x-large { width: 100%; }
@media (min-width: 1200px) { .columns-4-device-x-large { width: 32.20339%; float: left; } }

.columns-5-device-x-large { width: 100%; }
@media (min-width: 1200px) { .columns-5-device-x-large { width: 40.67797%; float: left; } }

.columns-6-device-x-large { width: 100%; }
@media (min-width: 1200px) { .columns-6-device-x-large { width: 49.15254%; float: left; } }

.columns-7-device-x-large { width: 100%; }
@media (min-width: 1200px) { .columns-7-device-x-large { width: 57.62712%; float: left; } }

.columns-8-device-x-large { width: 100%; }
@media (min-width: 1200px) { .columns-8-device-x-large { width: 66.10169%; float: left; } }

.columns-9-device-x-large { width: 100%; }
@media (min-width: 1200px) { .columns-9-device-x-large { width: 74.57627%; float: left; } }

.columns-10-device-x-large { width: 100%; }
@media (min-width: 1200px) { .columns-10-device-x-large { width: 83.05085%; float: left; } }

.columns-11-device-x-large { width: 100%; }
@media (min-width: 1200px) { .columns-11-device-x-large { width: 91.52542%; float: left; } }

.columns-12-device-x-large { width: 100%; }
@media (min-width: 1200px) { .columns-12-device-x-large { width: 100%; float: left; } }

.columns { zoom: 1; position: relative; }
.columns:before, .columns:after { content: ""; display: table; }
.columns:after { clear: both; }
@media (min-width: 480px) { .columns { margin-left: -0.25; margin-right: -0.25; } }

.clearfix { zoom: 1; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

.float-right { float: right !important; }

.float-left { float: left !important; }

.block { display: block !important; width: 100%; }

.inline-block { display: inline-block !important; }

.padding-top-font-base-size { padding-top: 16px !important; }

.padding-top-quarter { padding-top: 4px !important; }

.padding-top-half { padding-top: 8px !important; }

.padding-top-base { padding-top: 16px !important; }

.padding-top-double-half { padding-top: 24px !important; }

.padding-top-double { padding-top: 32px !important; }

.padding-top-triple { padding-top: 48px !important; }

.padding-top-quad { padding-top: 64px !important; }

.padding-font-base-size { padding: 16px !important; }

.padding-quarter { padding: 4px !important; }

.padding-half { padding: 8px !important; }

.padding-base { padding: 16px !important; }

.padding-double-half { padding: 24px !important; }

.padding-double { padding: 32px !important; }

.padding-triple { padding: 48px !important; }

.padding-quad { padding: 64px !important; }

.padding-right-font-base-size { padding-right: 16px !important; }

.padding-right-quarter { padding-right: 4px !important; }

.padding-right-half { padding-right: 8px !important; }

.padding-right-base { padding-right: 16px !important; }

.padding-right-double-half { padding-right: 24px !important; }

.padding-right-double { padding-right: 32px !important; }

.padding-right-triple { padding-right: 48px !important; }

.padding-right-quad { padding-right: 64px !important; }

.padding-font-base-size { padding: 16px !important; }

.padding-quarter { padding: 4px !important; }

.padding-half { padding: 8px !important; }

.padding-base { padding: 16px !important; }

.padding-double-half { padding: 24px !important; }

.padding-double { padding: 32px !important; }

.padding-triple { padding: 48px !important; }

.padding-quad { padding: 64px !important; }

.padding-bottom-font-base-size { padding-bottom: 16px !important; }

.padding-bottom-quarter { padding-bottom: 4px !important; }

.padding-bottom-half { padding-bottom: 8px !important; }

.padding-bottom-base { padding-bottom: 16px !important; }

.padding-bottom-double-half { padding-bottom: 24px !important; }

.padding-bottom-double { padding-bottom: 32px !important; }

.padding-bottom-triple { padding-bottom: 48px !important; }

.padding-bottom-quad { padding-bottom: 64px !important; }

.padding-font-base-size { padding: 16px !important; }

.padding-quarter { padding: 4px !important; }

.padding-half { padding: 8px !important; }

.padding-base { padding: 16px !important; }

.padding-double-half { padding: 24px !important; }

.padding-double { padding: 32px !important; }

.padding-triple { padding: 48px !important; }

.padding-quad { padding: 64px !important; }

.padding-left-font-base-size { padding-left: 16px !important; }

.padding-left-quarter { padding-left: 4px !important; }

.padding-left-half { padding-left: 8px !important; }

.padding-left-base { padding-left: 16px !important; }

.padding-left-double-half { padding-left: 24px !important; }

.padding-left-double { padding-left: 32px !important; }

.padding-left-triple { padding-left: 48px !important; }

.padding-left-quad { padding-left: 64px !important; }

.padding-font-base-size { padding: 16px !important; }

.padding-quarter { padding: 4px !important; }

.padding-half { padding: 8px !important; }

.padding-base { padding: 16px !important; }

.padding-double-half { padding: 24px !important; }

.padding-double { padding: 32px !important; }

.padding-triple { padding: 48px !important; }

.padding-quad { padding: 64px !important; }

.margin-top-font-base-size { margin-top: 16px !important; }

.margin-top-quarter { margin-top: 4px !important; }

.margin-top-half { margin-top: 8px !important; }

.margin-top-base { margin-top: 16px !important; }

.margin-top-double-half { margin-top: 24px !important; }

.margin-top-double { margin-top: 32px !important; }

.margin-top-triple { margin-top: 48px !important; }

.margin-top-quad { margin-top: 64px !important; }

.margin-font-base-size { margin: 16px !important; }

.margin-quarter { margin: 4px !important; }

.margin-half { margin: 8px !important; }

.margin-base { margin: 16px !important; }

.margin-double-half { margin: 24px !important; }

.margin-double { margin: 32px !important; }

.margin-triple { margin: 48px !important; }

.margin-quad { margin: 64px !important; }

.margin-right-font-base-size { margin-right: 16px !important; }

.margin-right-quarter { margin-right: 4px !important; }

.margin-right-half { margin-right: 8px !important; }

.margin-right-base { margin-right: 16px !important; }

.margin-right-double-half { margin-right: 24px !important; }

.margin-right-double { margin-right: 32px !important; }

.margin-right-triple { margin-right: 48px !important; }

.margin-right-quad { margin-right: 64px !important; }

.margin-font-base-size { margin: 16px !important; }

.margin-quarter { margin: 4px !important; }

.margin-half { margin: 8px !important; }

.margin-base { margin: 16px !important; }

.margin-double-half { margin: 24px !important; }

.margin-double { margin: 32px !important; }

.margin-triple { margin: 48px !important; }

.margin-quad { margin: 64px !important; }

.margin-bottom-font-base-size { margin-bottom: 16px !important; }

.margin-bottom-quarter { margin-bottom: 4px !important; }

.margin-bottom-half { margin-bottom: 8px !important; }

.margin-bottom-base { margin-bottom: 16px !important; }

.margin-bottom-double-half { margin-bottom: 24px !important; }

.margin-bottom-double { margin-bottom: 32px !important; }

.margin-bottom-triple { margin-bottom: 48px !important; }

.margin-bottom-quad { margin-bottom: 64px !important; }

.margin-font-base-size { margin: 16px !important; }

.margin-quarter { margin: 4px !important; }

.margin-half { margin: 8px !important; }

.margin-base { margin: 16px !important; }

.margin-double-half { margin: 24px !important; }

.margin-double { margin: 32px !important; }

.margin-triple { margin: 48px !important; }

.margin-quad { margin: 64px !important; }

.margin-left-font-base-size { margin-left: 16px !important; }

.margin-left-quarter { margin-left: 4px !important; }

.margin-left-half { margin-left: 8px !important; }

.margin-left-base { margin-left: 16px !important; }

.margin-left-double-half { margin-left: 24px !important; }

.margin-left-double { margin-left: 32px !important; }

.margin-left-triple { margin-left: 48px !important; }

.margin-left-quad { margin-left: 64px !important; }

.margin-font-base-size { margin: 16px !important; }

.margin-quarter { margin: 4px !important; }

.margin-half { margin: 8px !important; }

.margin-base { margin: 16px !important; }

.margin-double-half { margin: 24px !important; }

.margin-double { margin: 32px !important; }

.margin-triple { margin: 48px !important; }

.margin-quad { margin: 64px !important; }

.no-margin { margin: 0 !important; }

.no-padding { padding: 0 !important; }

button, .button { display: inline-block; background: transparent; padding: 0 32px; height: 48px; line-height: 48px; border-radius: 48px; font-weight: 600; font-size: 16px; font-family: Open Sans, sans-serif; text-decoration: none; text-align: center; cursor: pointer; -webkit-appearance: none; }
button.small, .button.small { height: 42px; line-height: 42px; font-size: 14px; padding: 0 28px; border-radius: 47.6px; }
button.large, .button.large { height: 60px; line-height: 60px; font-size: 20px; padding: 0 40px; border-radius: 68px; }
button.x-large, .button.x-large { height: 72px; line-height: 72px; font-size: 24px; padding: 0 48px; border-radius: 81.6px; }
button.white, .button.white { background: white; color: #157afb; }
button.white.bordered, .button.white.bordered { background: transparent; border: 1px solid white; color: white; }
button.white.bordered:hover, .button.white.bordered:hover { background: white; color: #157afb; }
button.primary, .button.primary { background: #157afb; color: white; border: 0; }
button.primary:hover, .button.primary:hover { background: #0b74fb; }
button.primary.bordered, .button.primary.bordered { background: transparent; border: 1px solid #c5defe; color: #157afb !important; }
button.primary.bordered:hover, .button.primary.bordered:hover { border: 1px solid #92c1fd; }
button.secondary, .button.secondary { background: #fe5607; color: white; border: 0; }
button.secondary:hover, .button.secondary:hover { background: #fa5101; }
button.secondary.bordered, .button.secondary.bordered { background: transparent; border: 1px solid #ffcfb9; color: #fe5607 !important; }
button.secondary.bordered:hover, .button.secondary.bordered:hover { border: 1px solid #ffad86; }

.bullet-list { list-style-type: none; font-size: 18px; }
.bullet-list > li { position: relative; padding-left: 24px; }
.bullet-list > li:before { content: ""; position: absolute; top: 9px; left: 0; width: 4px; height: 4px; border-radius: 4px; border: 2px solid #157afb; }

* { -webkit-box-sizing: border-box; box-sizing: border-box; }
*:hover, *:focus { outline: none; }

html, body, div, span, object, iframe, hr, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, button, textarea, select, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; }

html { min-height: 100%; height: 100%; font-family: Open Sans, sans-serif; }

h1, h2 { margin-bottom: 8px; }

h3, h4, h5, h6 { margin-bottom: 8px; }

a, a:visited { color: inherit; }

.columns [class^="column"] { background: lightBlue; padding: 16px; }

.example { border: 1px solid #ECECEC; border-radius: 3px; padding: 24px; }
.example .modal, .example .dropdown-menu { position: static; visibility: visible; opacity: 1; }

.iframe-container { max-width: ""; margin: 0 auto; }

.main-container { max-width: 800; margin: 0 auto; padding-top: 100px; }

.page-title { font-size: 42px; font-weight: 100; }

.example-gallery-item { height: 100px; background: pink; }

.example-wrapper { max-width: ""; margin: 0 auto; background: lightBlue; max-width: 600px; }
.example-wrapper [class^="column"], .example-wrapper .example-sidebar, .example-wrapper .example-content-block { height: 100px; }

.phantom { margin: auto; width: 100%; height: 100%; background: colors(greyscale, x-light); }

.content { background: #e5e5e5; height: 100px; width: 100%; }

iframe { width: 100%; transition: all .15s; height: 100%; background: white; position: absolute; left: 0; right: 0; bottom: 0; margin: auto; }

.screen-tester { zoom: 1; position: fixed; background: white; z-index: 9999; top: 0; width: 100%; border-bottom: 1px solid colors(keyline, dark); left: 0; }
.screen-tester:before, .screen-tester:after { content: ""; display: table; }
.screen-tester:after { clear: both; }
.screen-tester .screen-tester-sizes { float: right; }
.screen-tester .screen-tester-sizes-selected { position: relative; border-right: 1px solid colors(keyline, dark); padding: 16px; }
.screen-tester .screen-tester-sizes-dropdown { list-style-type: none; margin: 0; padding: 0; background: white; visibility: hidden; position: absolute; border: 1px solid colors(keyline, dark); top: 100%; opacity: 0; }
.screen-tester .screen-tester-sizes-dropdown li { margin: 0; line-height: inherit; }
.screen-tester .screen-tester-sizes-dropdown > li { padding: 16px; }
.screen-tester .screen-tester-sizes-dropdown.is-visible { opacity: 1; visibility: visible; }

ul > li { margin-bottom: 16px; line-height: 1.5; }
ul > li:last-child { margin-bottom: 0; }

@media (min-width: 1080px) { .page-layout-docs { padding-left: 300px; } }
.page-layout-docs .content { padding: 20px 0; text-align: center; background: #CCEBF3; }
.page-layout-docs .class, .page-layout-docs .code { color: #D88E2C; font-family: "Source Code Pro",Consolas,"Lucida Console",Courier,monospace; }
.page-layout-docs .page-header { text-align: left; }
.page-layout-docs .align-middle { position: relative; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

.article { padding: 100px 0; border-bottom: 1px solid #ECECEC; }
.article > h2 { margin-bottom: 32px; color: #157afb; font-weight: 400; font-size: 32px; }
.article h3 { font-size: 24px; font-weight: 400; margin-top: 64px; }
.article > p { font-size: 18px; line-height: 1.8; margin-bottom: 32px; }
.article > section { margin-bottom: 80px; }
.article > section:last-child { margin-bottom: 0; }

.welcome-masthead { background-color: #157afb; color: white; height: 100%; display: table; width: 100%; }
.welcome-masthead .welcome-masthead-inner { display: table-cell; vertical-align: middle; padding: 100px; }
.welcome-masthead .welcome-masthead-inner-heading { font-family: Futura PT, sans-serif; font-size: 100px; max-width: 1400px; letter-spacing: 0.01em; }
.welcome-masthead .welcome-masthead-buttons .button { width: 240px; }
.welcome-masthead p { font-size: 24px; opacity: 0.8; line-height: 2; max-width: 800px; margin-bottom: 48px; }
.welcome-masthead .welcome-masthead-footer { position: absolute; bottom: 32px; left: 32px; font-size: 14px; }
.welcome-masthead .welcome-masthead-footer a { color: white; font-weight: 600; text-decoration: none; }

.docs-navigation { display: none; }
.docs-navigation .download { position: absolute; bottom: 16px; left: 16px; right: 16px; padding: 16px; text-align: center; margin-bottom: 16px; transition: all .5s; }
.docs-navigation .download:hover { transform: scale(1.1); }
@media (min-width: 780px) { .docs-navigation { display: block; width: 300px; background-color: #157afb; position: fixed; z-index: 9999; height: 100%; top: 0; left: 0; } }
.docs-navigation > ul { list-style-type: none; margin: 0; padding: 0; transition: all .5s; padding-top: 100px; width: 300px; left: -300px; height: 100%; overflow-y: scroll; }
.docs-navigation > ul li { margin: 0; line-height: inherit; }
.docs-navigation > ul.is-visible { left: 0; }
.docs-navigation > ul > li > a { transition: opacity .5s; padding: 16px 32px; text-decoration: none; display: block; color: white; opacity: 0.6; }
.docs-navigation > ul > li > a:hover { opacity: 1; }

.function { color: #f8b000; font-family: Menlo,Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; font-size: 16px; }

.logo { position: absolute; left: 32px; top: 32px; width: 180px; }

pre { margin-bottom: 32px !important; }

.photo-grid { zoom: 1; }
.photo-grid:before, .photo-grid:after { content: ""; display: table; }
.photo-grid:after { clear: both; }

.photo-grid-item { margin-bottom: 1.69492%; background: lightBlue; padding: 16px; }
.photo-grid-item:last-child { margin-bottom: 0; }
@media (min-width: 780px) { .photo-grid-item { float: left; width: 32.20339%; margin-right: 1.69492%; }
  .photo-grid-item:nth-last-child(-n+ 3) { margin-bottom: 0; }
  .photo-grid-item:nth-child(3n + 1) { clear: both; }
  .photo-grid-item:nth-child(3n) { margin-right: 0; } }

code[class*="language-"], pre[class*="language-"] { color: #616161; background: none; text-shadow: 0 1px white; font-family: Menlo,Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace; direction: ltr; text-align: left; white-space: pre; font-size: 14px; word-spacing: normal; word-break: normal; word-wrap: normal; line-height: 1.5; -moz-tab-size: 4; -o-tab-size: 4; tab-size: 4; -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection, code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection { text-shadow: none; background: #FAFAFA; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection, code[class*="language-"]::selection, code[class*="language-"] ::selection { text-shadow: none; background: #FAFAFA; }

@media print { code[class*="language-"], pre[class*="language-"] { text-shadow: none; } }
/* Code blocks */
pre[class*="language-"] { padding: 1em; margin: .5em 0; overflow: auto; }

:not(pre) > code[class*="language-"], pre[class*="language-"] { border: 1px solid #ECECEC; border-radius: 3px; }

/* Inline code */
:not(pre) > code[class*="language-"] { padding: .1em; border-radius: .3em; white-space: normal; }

.token.comment, .token.prolog, .token.doctype, .token.cdata { color: slategray; }

.token.punctuation { color: #999; }

.namespace { opacity: .7; }

.token.property, .token.tag, .token.boolean, .token.number, .token.constant, .token.symbol, .token.deleted { color: #757575; }

.token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted { color: #157afb; }

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string { color: #a67f59; background: rgba(255, 255, 255, 0.5); }

.token.atrule, .token.attr-value, .token.keyword { color: #f8b000; }

.token.function { color: #f8b000; }

.token.regex, .token.important, .token.variable { color: #e90; }

.token.important, .token.bold { font-weight: bold; }

.token.italic { font-style: italic; }

.token.entity { cursor: help; }
