// Does this work for assmetric grids?
// $page: (
//   sidebar: (
//     device-large: (
//       columns: 8,
//       offset: null,
//     ),
//     device-medium: 2
//   ),
//   main-content: (
//     device-medium: 2,
//     device-large: 8
//   ),
// );


a, a:visited {
	color: inherit;
}

.columns {
	[class^="column"] {

		background: lightBlue;
		padding: themes(layout, sizes, base);
	}
}

.example {
  border: 1px solid themes(colours, keyline, light);
  border-radius: 3px;
  padding: 24px;

  .modal, .dropdown-menu {
    position: static;
    visibility: visible;
    opacity: 1;
  }
}


.iframe-container {
	@include container();
}


.main-container {
	@include container(800);
	padding-top: 100px;
}


.page-title {
	font-size: 42px;
	font-weight: themes(fonts, weights, light);
}


.example-gallery-item {
  height: 100px;
  background: pink;
  // @include gallery-item(1, device-small);
  // @include gallery-item(4, device-medium);
  // margin bottom on mobile?
}


.example-wrapper {
  @include container();
  background: lightBlue;
  max-width: 600px;

  [class^="column"], .example-sidebar, .example-content-block {
    height: 100px;
  }
  .example-sidebar {
    @include span(4, device-small, last);
    @include span(8, device-medium);
  }

  .example-content-block {
    @include span(8, device-small);
    @include span(4, device-medium, last);
  }
}


.phantom {
  margin: auto;
  width: 100%;
  height: 100%;

  background: colors(greyscale, x-light);
}

.content {
  background: #e5e5e5;
  height: 100px;
  width: 100%;
}

iframe {
  width: 100%;
  transition: all .15s;
  height: 100%;
  // max-width: 1200px;
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.screen-tester {
  @include clearfix;
  position: fixed;
  background: white;
  z-index: 9999;
  top: 0;
  width: 100%;
  border-bottom: 1px solid colors(keyline, dark);
  left: 0;
  .screen-tester-sizes {
    float: right;

  }

  .screen-tester-sizes-selected {
    position: relative;
    border-right: 1px solid colors(keyline, dark);
    padding: sizes(base);
  }
  .screen-tester-sizes-dropdown {
    @include no-bullet;
    background: white;
    visibility: hidden;
    position: absolute;
    border: 1px solid colors(keyline, dark);
    top: 100%;
    opacity: 0;
    > li {
      padding: sizes(base);
    }
    &.is-visible {
      opacity: 1;
      visibility: visible;
    }
  }
}





ul > li {
  margin-bottom: sizes(base);
  line-height: 1.5;
  &:last-child {
    margin-bottom: 0;
  }
}




.page-layout-docs {
  @include respond-above(device-large) {
  	padding-left: 300px;
  }
  // @include respond-above(device-large) {
  //   padding-top: 0;
  // }


  .content {
    padding: 20px 0;
    text-align: center;
    background: #CCEBF3;
  }

  .class, .code {
    color: #D88E2C;
    font-family: "Source Code Pro",Consolas,"Lucida Console",Courier,monospace;
  }



  .page-header {
    text-align: left;
  }

  .align-middle {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  // .main-content {
  //   width: 100%;
  //   padding: 40px sizes(double-half);
  //   // max-width: 1000px;

  //   @include respond-above(device-large) {
  //     width: 80%;
  //     // max-width: 800px;
  //     padding: 100px 60px;
  //     margin-left: 20%;
  //     float: left;
  //   }
  // }

}
