
.button {
  transition: all .25s;
  box-shadow: 0 0 0 0 rgba(255,255,255,0.3);
}

.mobile-docs-navigation {
  background: colours(brand, primary);
  padding: sizes(base);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;

  .logo {
    margin: auto;
  }
}

.logo {
  width: 140px;
  display: block;
}


.button:hover {
  // transform: translateY(-10px);
  box-shadow: 0 0 6px 6px rgba(255,255,255,0.3);
}
.docs-navigation {
  background-color: themes(colours, brand, primary);
  left: -300px;
  width: 300px;
  
  padding-top: sizes(double);

  position: fixed;
  height: 100%;
  top: 0;
  transition: left 0.5s ease-in-out;

  &.show {
    left: 0;
    display: block;
  }
  

  @include respond-above(device-large) {
    display: block;
    left: 0;
  }

  .logo {
    position: relative;
    display: block;
    margin: auto;
  }

  .download {
  	position: absolute;
  	bottom: themes(layout, sizes, base);
  	left: themes(layout, sizes, base);
  	right: themes(layout, sizes, base);
  	padding: sizes(base);
  	text-align: center;
  	margin-bottom: sizes(base);
  	transition: all .5s;
  	&:hover {
  		transform: scale(1.1);

  	}
  }

 

  > ul {
    @include no-bullet;
    transition: all .5s;
    padding-top: 100px;
    width: 300px;
    left: -300px;
    height: 100%;
    overflow-y: scroll;

    &.is-visible {
      left: 0;
    }

    > li {
      transform: translateY(400px);
      transition: transform .5s;
      > a {
      	transition: color .5s;
        padding: sizes(base) sizes(double);
        text-decoration: none;
        display: block;
        color: lighten(colours(brand, primary), 30%);
        &:hover {
        	color: white;
        }
      }
    }
  }
}