<html>
	<head>
		<!-- Meta Tags !-->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<meta property="og:title" content="" />
		<meta property="og:type" content="article" />
		<meta property="og:image" content="" />
		<meta property="og:description" content="" />
		<meta name="description" content="">
		<!-- / Meta Tags !-->

		<title>Set Title</title>

		<link rel="stylesheet" href="../../assets/css/style.css">

		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon-precomposed" href="/screen-icon.png">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="../../highlight.js"></script>
		<!-- <script src="../../assets/js/app.js"></script> -->
		<!-- Enable HTML5 elements in IE8 !-->
			<!--[if lt IE 9]>
				<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<![endif]-->
		<!-- / Enable HTML5 elements in IE8 !-->

		<!-- <script>
			$(document).ready(function() {
				

				var documentHead = $("head");
				var document = $(".iframe-container");
				$('<div class="phantom"><iframe id="myFrame" name="myFrame" src="about:blank"></div>').appendTo('body');
				var d = $("iframe")[0].contentWindow.document; // contentWindow works in IE7 and FF
		    d.open(); 
		    d.close();
				$("iframe").contents().find("head, body").remove();
				$("html", d).append(documentHead, document);
				documentHead.clone().prependTo("html");

				$(".screen-tester-sizes-selected").click(function() {
					$(".screen-tester-sizes-dropdown").toggleClass("is-visible");
				});

				$(".screen-tester-sizes-dropdown > li").on("click", function() {
						var value = $(this).attr("data-size");
					  	$("iframe").width(value);
							// testingIframe.width(value);
							// breakpointSelected.html( $(this).text() );
							// breakpointDropdown.removeClass("is-visible");
						});

			});
		</script> -->
	</head>
	<body class="page-layout-docs">
		<div class="iframe-container">


