header.docs-navigation
  a.mobile-site-navigation-open(role='button', aria-hidden='true')
    span
  ul
    li
      a(href='index') HTML & CSS
    li
      a(href='js') JavaScript
    li
      a(href='grid') Grid
      ul
        li
          a(href='#containers') Containers
        li
          a(href='#rows') Rows & Columns
        li
          a(href='#spacing') Spacing
        li
          a(href='#offsets') Offsets
    li
      a(href='branding.html') Branding
      ul
        li
          a(href='branding#colors') Colors
        li
          a(href='branding#typography') Typography
        li
          a(href='branding#photography') Photography
        li
          a(href='branding#logo') Logo
        li
          a(href='branding#iconography') Iconography
    li
      a(href='globals') Globals
      ul
        li
          a(href='globals#breakpoints') Breakpoints
        li
          a(href='globals#colors') Colors
        li
          a(href='globals#grid') Grid
        li
          a(href='globals#layout') Layout Units
        li
          a(href='globals#') Typographic Scale
        li
          a(href='globals#stacking') Stacking
    li
      a(href='components.html') Components
      ul
        li
          a(href='components#buttons') Buttons
        li
          a(href='components#dropdown') Dropdown
        li
          a(href='components#form') Form
        li
          a(href='components#hero') Hero
        li
          a(href='components#labels') Label
        li
          a(href='components#panel') Panel
        li
          a(href='components#progress-bars') Progress Bars
        li
          a(href='components#tabs') Tabs
    li
      a(href='helpers') Helpers
      ul
        li
          a(href='helpers#background-color') Background Color
        li
          a(href='helpers#borders') Borders
        li
          a(href='helpers#floats') Floats & Clearfix
        li
          a(href='helpers#margin') Margin & Padding
        li
          a(href='helpers#text-align') Text Align
        li
          a(href='helpers#text-color') Text Color
        li
          a(href='helpers#text-size') Text Sizes
        li
          a(href='helpers#text-transform') Text Transform
        li
          a(href='helpers#text-weight') Text Weight
    li
      a(href='mixins') Mixins
      ul
        li
          a(href='mixins#arrow') Arrow
        li
          a(href='mixins#clearfix') Clearfix
        li
          a(href='mixins#ellipsis') Ellipsis
        li
          a(href='mixins#media-queries') Media Queries
        li
          a(href='mixins#no-bullet') No Bullet
        li
          a(href='mixins#uppercase') Uppercase
