.screen-tester
  .screen-tester-sizes
    .screen-tester-sizes-selected iPhone
    ul.screen-tester-sizes-dropdown
      li(data-size="400") iPhone 4
      li(data-size="500") iPhone 5
      li(data-size="1200") Desktop
      li(data-size="400") iPhone

