
$backdrop: (
	color: rgba(00, 00, 00, 0.8),
	transition: all .5s
);


$buttons-user: (


);

$card-user: (

);

$dropdown-user: ();

$tooltip-user: (

	background: black,
  text-color: white,
	border-radius: 5px,
	border: 0,
	shadow: 0
);

$tables-user: (
	stripes: colors(greyscale, 100),
);

