$colors: (
	brand: (
		primary: #157afb,
		secondary: #fe5607
	),

	secondary: (
		orange: #f8b000,
		green: #00C771,
	),

	social: (
		facebook: #103480,
		twitter: #1DA1F2
	),

	system: (
		warning: #FFEEEE,
	),

	greyscale: (
		50: #FAFAFA,
		100: #F5F5F5,
		200: #EEEEEE,
		300: #E0E0E0,
		400: #BDBDBD,
		500: #9E9E9E,
		600: #757575,
		700: #616161,
		800: #424242,
		900: #212121
	),

	keyline: (
		light: #f0f0f0,
		medium: #D5D5D5,
		dark: #D9D9D8,
	)
);

$fonts: (
	primary: (
		name: #{'Helvetica Neue', Helvetica, Arial, sans-serif},
		weights: (
			light: 100,
			regular: 400,
			semi-bold: 600,
			bold: 700
		),
	),
	code: (
		name: #{'Roboto Mono', 'Menlo', 'Monaco', Courier, monospace},
	),
	secondary: (
		name: #{"Futura-LT", 'Futura LT', sans-serif},
		weights: (
			light: 100,
			regular: 400,
			bold: 700
		),
	),
);

$breakpoints: (
	device-x-small: 350px,
	device-small: 480px,
	device-medium: 780px,
	device-medium-large: 960px,
	device-large: 1280px,
	device-x-large: 1400px
);

$misc: (
	mobile-gutter: 24px,
	prefix: null
);

$font-sizes: (
	x-small: rem(12px),
	small: rem(14px),
	base: 16px,
	medium: rem(20px),
	medium-large: rem(24px),
	large: rem(32px),
	x-large: rem(42px)
);

$layers: (
	backdrop: 3,
	modal: 4,
	share-bar: 2,
	navigation: 1,
);

// $grid: (
// 	columns: 12,
// 	// gutter: 2,
// 	breakpoint: "device-medium",
// 	mobile-gutter: 24px,
// 	mobile-padding: 24px
// );

$sizes: (
  quarter: 0.25rem,
  half: 0.5rem,
  base: 1rem,
  double-half: 1.5rem,
  double: 2rem,
  triple: 3rem,
  quad: 4rem,
);
