$bb-colors: (
	"Brand": (
		"Primary": #1c85e8,
	),
	"system": (
		"error": #ff7f82,
		"info": #e3f4f5,
		"success": (
			"light": #13CE66,
		)
	),
	// "purple": "black",
	"keyline": (
		"light": #d2d2d2,
		"dark": "grey",

	)
);

$bb-breakpoints: (
	"medium": 780px,
);

$bb-letter-spacing: (
	"small": 0.1em,
);

$bb-line-heights: (
	"xs": 1,
	"s": 1.2,
	"m": 1.5,
	"l": 2
);

$bb-text-sizes: (
	"10": 10px,
	"11": 11px,
	"12": 12px,
	"13": 13px,
	"15": 15px,
	"18": 18px,
	"20": 20px,
	"24": 24px,
	"32": 32px,
	"42": 42px,
	"52": 52px,
	"62": 62px,
	"72": 72px
);

$bb-global-delimiter: "-";