=border($direction, $color)
  @if $direction == "all"
    border: 1px solid $color

  @if $direction == "top"
    border-top: 1px solid $color

  @if $direction == "left"
    border-left: 1px solid $color

  @if $direction == "right"
    border-right: 1px solid $color

  @if $direction == "bottom"
    border-bottom: 1px solid $color
