include _inc/_head


body(style="padding-top: 200px")


	h2 Settings

	table
		thead

		tbody
			tr
				

	.max-width-1200
		.border-light.display-table.width-100.background-white
			.display-table-row
				.display-table-cell.padding-4 Name
				.display-table-cell.padding-4 Modifiers
				.display-table-cell.padding-4 Responsive
				.display-table-cell.padding-4 Hover
			each val, index in data
				.display-table-row.border-bottom-light.width-100
					.display-table-cell.padding-4.border-bottom-light
						h3.text-capitalize.margin-bottom-2= index
						p.margin-bottom-2= val.description
					.display-table-cell.padding-4.border-bottom-light
						if val.modifiers
							each v, i in val.modifiers
								if i < val.modifiers.length - 1
									em= v + ", "
								else
									em= v
					.display-table-cell.padding-4.border-bottom-light
						= val.responsive
				
	