include _inc/_head.jade

.nav-logo.position-absolute.left-5.top-5
	img(src="documentation/inc/images/logo.png")

.welcome-masthead
	.max-width-1000.margin-auto
	
		//- h1.welcome-masthead-heading Barebones

		.welcome-masthead-subheading #{strapline}
		.welcome-masthead-buttons
			a.button.large.white.margin-right-5(href="settings2.html") Get started
			//- a.button.large.white(href="introduction.html") See docs

		//- section.selling-points
		//- 	.selling-point(style="animation-delay: 250ms")
		//- 		h2.selling-point-title Lightweight
		//- 		p.selling-point-description Includes only the basics – a responsive grid system, and reusable mixins and helpers.

		//- 	.selling-point(style="animation-delay: 500ms")

		//- 		h2.selling-point-title Fast
		//- 		p.selling-point-description Stop wasting time overwriting stuff, and kick things off with a clean starting point.

		//- 	.selling-point(style="animation-delay: 750ms")
			
		//- 		h2.selling-point-title Fully Customisable
		//- 		p.selling-point-description Every setting is easily customisable, so you can easily make it yours.


.welcome-masthead-footer
	.text-13.margin-bottom-3 Made in London by <a href="http://www.getagent.co.uk" target="_blank">GetAgent.co.uk</a>.
	.text-11.text-greyscale-300 The source code is licensed MIT. The website content is licensed CC ANS 4.0.

