extends  _inc/_layout.jade

block body
	section(id="settings")
		section(id="settings-intro")
			h1.page-title Settings
			p Barebones is fully and easily customisable.


		section(id="settings-border-radius-scale")
			h2 Border-radius scale
			p Sets the scale for <span class="inline-code">.border-radius-*</span> classes. 
			.example
				pre.example-code
					code.language-scss.
						$bb-border-radius-scale: 5;

						// This will generate border-radius helpers for values 1 - 5.

						.border-radius-1 {
							border-radius: 1px;
						}

		section(id="settings-breakpoints")
			h2 Breakpoints
			p Stores your breakpoints. This is used by the <a href="#" class="link">media-query mixin</a>, and by the <a href="#" class="link">helper generator</a>. You can name these however you like, and have as many or as few as you want. 
			p Access using the <span class="inline-code">breakpoints($value)</span> function.
			.example
				pre.example-code
					code.language-scss.
						$bb-breakpoints: (
							"mobile": 480px,
							"tablet": 720px,
							"desktop": 1200px
						);

		section(id="settings-colours")
			h2 Colors
			p Stores your colour palette in a organised way. Used by the <a href="#" class="link">background-color</a>, <a href="#" class="link">text-color</a> and <a href="#" class="link">fill</a> helper generators. Access using <span class="inline-code">colors($category, $value)</span>.
			.example
				pre.example-code
					code.language-scss.
						$colors: (
							"brand": #157AFB,
							
							"secondary": (
								"orange": #F8B000,
								...
							),
							
							"greyscale": (
								"50": #FAFAFA,
								"100": #F5F5F5,
								...
							),

							"ui": (
								"error": (
									"light": #E5E5E5,
									"dark": #E5E5E5
								),
								...
							),
							
							"keyline": #E5E5E5,
						);

						// The above values can be accessed like this.

						.element {
							background-color: colors("keyline");
						}

						.element {
							background-color: colors("brand", "primary");
						}

						.element {
							background-color: colors("ui", "error", "light");
						}

		section(id="settings-letter-spacing")
			h2 Letter-spacing
			p Used by the letter-spacing helper generator.
			.example
				pre.example-code
					code.language-scss.
						$bb-letter-spacing: (
							"small": "0.01em",
							"medium": "0.5em",
							"large": "0.1em"
						);



		section(id="settings-line-heights")
			h2 Line-heights
			p Used by the <a href="#" class="link">line-height</a> helper generator.  

			.example
				pre.example-code
					code.language-scss.
						$bb-line-heights: (
							"small": 1,
							"medium": 1.5,
							"large": 2
						);

		//- section(id="settings-global-delimiter")
		//- 	h2 Global delimiter
		//- 	p Specifies how classes are named. 
		//- 	.example
		//- 		pre.example-code.border-bottom
		//- 			code.language-scss.
		//- 				$bb-global-delimiter: "-";

		//- 				// Output
		//- 				.background-cover {
		//- 					background-size: cover;
		//- 				}


		//- 				$bb-global-delimiter: "_";

		//- 				// Output
		//- 				.background_cover {
		//- 					background-size: cover;
		//- 				}


		section(id="settings-grid")
			h2 Grid
			p Settings for the <a href="#">grid system</a>.

			table.margin-bottom-5
				tr
					td columns
					td Number of columns
				tr
					td gutter
					td Width between columns
				tr
					td breakpoint
					td Breakpoint at which point column widths change to 100% of viewport, as specified in your $breakpoints map.
				tr
					td mobile-spacing
					td Default marin-bottom value for collapsed columns.

			.example
				pre.example-code
					code.language-scss.
						$grid: (
							columns: 12,
							gutter: 24px, 
							breakpoint: "tablet",
							mobile-spacing: 24px
						);



		section(id="settings-hover-class")
			h2 Hover class name

			p Specify the name for hover classes. Used by <a href="#">background-color</a>, <a href="#">text-color</a> and <a href="#">fill</a> generators.

			.example.margin-bottom-double
				pre.example-code.border-bottom
					code.language-scss.
						$bb-helper-class-name: "hover";

						// Output
						.background-white-hover:hover {
							background-color: white;
						}

		section(id="settings-max-width-scale")
			h2 Max-width scale

			.example.margin-bottom-double
				pre.example-code.border-bottom
					code.language-scss.
						$bb-max-width-scale: 14;

						// Output
						.max-width-100 {
							max-width: 100px;
						}

						...

						.max-width-1400 {
							.max-width: 1400px;
						}

		section(id="settings-normalize")
			h2 Normalize
			.example
				pre.example-code
					code.language-scss.
						*, *:before, *:after {
							box-sizing: border-box;
						}

						* {
							&:focus {
								outline: none;
							}
						}

						html,body, div, span, object, iframe, hr,
						h1, h2, h3, h4, h5, h6, p, blockquote, pre,
						dl, dt, dd, ol, ul, li,
						fieldset, form, label, legend, input, button, textarea, select,
						table, caption, tbody, tfoot, thead, tr, th, td,
						article, aside, canvas, details, figcaption, figure,
						footer, header, hgroup, menu, nav, section {
							margin: 0;
							padding: 0;
							line-height: 1;
						}

						a, a:visited {
							color: inherit;
							text-decoration: none;
							cursor: pointer;
						}

						a {
							// IE 10 fix.
							img {
								border: 0; 
							}
						}

						img {
							max-width: 100%;
						}

		section(id="settings-responsive")
			h2 Responsive classes
			p Barebones will automatically generate responsive classes using it's <a href="#">helper generator</a> and specified breakpoints. You can disable this by setting the value to <span class="inline-code">false</span>.

			.example
				pre.example-code
					code.language-scss.

						$bb-breakpoints: (
							"medium": 780px;
						);

						// Viewports larger than 'medium'.
						@media max-width(780px) {
							.display-block-above-medium {
								display: block;
							}
						}

						// Viewports smaller than 'medium'.
						@media min-width(780px) {
							.display-block-above-medium {
								display: block;
							}
						}

		section(id="settings-shadows")
			h2 Shadows
			p Used to keep spacing consistent throughout the project. The function will multiply uour Access using <span class="inline-code">shadows($shadow)</span>.
			.example
				pre.example-code
					code.language-scss.
						$bb-shadows: (
							"small": rgba(),
							"medium": rgba(),
							"large": rgba()
						);

		section(id="settings-spacing-base")
			h2 Spacing base
			p Used to keep spacing consistent throughout the project. The function will multiply uour Access using <span class="inline-code">sizes($size)</span>. Used by margin, padding, top, left, right and bottom helpers.

			.example
				pre.example-code
					code.language-scss.
						$bb-spacing-base: 5px;

						.element {
							padding: sizes(1);
						}

		section(id="settings-spacing-scale")
			h2 Spacing scale
			p Used to keep spacing consistent throughout the project. The function will multiply uour Access using <span class="inline-code">sizes($size)</span>. Used by margin, padding, top, left, right and bottom helpers.

			.example
				pre.example-code
					code.language-scss.
						
						$bb-spacing-base: 5px;

						.element {
							padding: sizes(1);
						}

		section(id="settings-text-sizes")
			h2 Text-sizes

			.example
				pre.example-code
					code.language-scss.
						$bb-text-sizes: (
							"small": rgba(),
							"medium": rgba(),
							"large": rgba()
						);

