extends  _inc/_layout.jade

block body
	.main-container
		script.
			$(document).ready(function() {
				$(".dropdown-menu").on('click', function() {
					$(this).toggleClass("is-open");
				});
			});
		h1.page-title Components
		article.article.introduction
			p Barebones includes a responsive and semantic grid system. It allows you to target given components – for example, a sidebar – without littering your HTML with helper classes and unnecessary DIVs.

		article.article
			h2 Grid Settings
			p Specify your grid settings in your settings file. If nothing is specified, default values are applied.

			table
				thead
					th(colspan="3") Options
				tbody
					tr
						td
			.example.margin-bottom-double

				div.dropdown-menu.is-open
					a Dropdown
					ul.dropdown-menu-links
						li
							a Dashboard
						li
							a Settings
						li
							a Dashboard
						li
							a Logout

			.example
				form
					input(type="text", placeholder="NAme")


		article#buttons.article
			h2 Buttons
			p
				| Buttons can be created using either
				span.code button
				|  or
				span.code a
				|  elements.
			h3 Colors
			.example
				button Button
				button.primary Primary
				button.secondary Secondary
				button(disabled='') Disabled
			pre.
			h3 Sizes
			.example
				button.primary.small X-Small
				button.primary Small
				button.primary.medium Medium
				button.primary.large Large
				button.primary.x-large X-Large
			pre.
			h3 Rounded
			.example
				button.primary.medium.rounded Primary
				button.secondary.medium.rounded Secondary
			pre.
			h3 Bordered
			.example
				button.primary.bordered Primary
				button.secondary.bordered Secondary
			pre.

		article.article
			h2 Tooltips
			.example
				h2.tooltip-top-left Tooltip
					.tooltip-content Tooltip content
		//- article#dropdown.article
		//- 	h2 Dropdown
		//- 	p
		//- 		| Dropdowns are positioned absolutely, so you need to make sure the parent element has position: relative set on
		//- 		| it.
		//- 	.example
		//- 		li.user-actions.dropdown
		//- 			a(href='#') Dropdown Toggle
		//- 			.dropdown-menu.show
		//- 				ul
		//- 					li
		//- 						a Dashboard
		//- 					li
		//- 						a Settings
		//- 					li.border-top
		//- 						a Logout
		//- 	pre.
		//- article#panel.article
		//- 	h2 Panel
		//- 	.example
		//- 		.container-500
		//- 			.panel
		//- 				section.panel-header
		//- 					h3.text-center Your Basket
		//- 				section.panel-section.text-center
		//- 					| You currently have no jobs in your work basket
		//- 				section.panel-section
		//- 					a.button.primary.large.block Get Quote
		//- 	pre.
		//- article#hero.article
		//- 	h2 Hero
		//- 	.example
		//- 		.hero.homepage(style='max-height: 400px')
		//- 			.hero-content
		//- 				.container-wide
		//- 					h1 Hero Header
		//- 					p Hero sub-heading
		//- 					.hero-actions
		//- 	pre.
		//- article#labels.article
		//- 	h2 Labels
		//- 	.example
		//- 		.label-success Label
		//- 		.label-info Label
		//- 		.label-error Label
		//- 	pre.
		//- article#progress-bars.article
		//- 	h2 Progress Bars
		//- 	.example
		//- 		.progress-bar
		//- 			.progress-bar-label Excellent
		//- 			.progress-bar-inner
		//- 				.progress-bar-value(style='width: 50%')
		//- 	pre.
		//- article#form.article
		//- 	h2 Form
		//- 	.example
		//- 		.container-500
		//- 			.panel
		//- 				form.panel-section
		//- 					.form-wrap
		//- 						.flex-row.gutter-half
		//- 							.columns-6
		//- 								input.form-control(placeholder='First name')
		//- 							.columns-6
		//- 								input.form-control(placeholder='Last name')
		//- 					.form-wrap
		//- 						input.form-control(placeholder='Email')
		//- 					.form-wrap
		//- 						input.form-control(placeholder='Password')
		//- 					.form-wrap
		//- 						input.button.blue.block.large(type='submit', value='Create Your Account')
		//- 	pre.
		//- article#tabs.article
		//- 	h2 Tabs
		//- 	.example
		//- 		nav.tabbed-nav
		//- 			ul
		//- 				li.is-active Servicing
		//- 				li Repairs
		//- 				li Inspections
		//- 	pre.
