extends  _inc/_layout.jade

block body
	.main-container
		article.article(id="containers")
			h2 Containers
			p Containers are used to center and restrict content width on the page. They are fluid, and the width is limited using the max-width property. They also clear floated columns.

			p Create a new container using the <span class="var">container($max-width)</span> function.

			.example
				.example-rendered
					form
						input.form-entry(type="text" placeholder="Your Name")
						input.form-entry(type="email" placeholder="Email Address")

			.example
				.example-rendered
					.button.primary.x-small Large Button
					.button.primary.small Large Button
					.button.primary Large Button
					.button.primary.large Large Button


			.example
				.example-rendered(style="height: 600px")
					.tooltip-top-center
						span Test
						.tooltip-content Test

					.tooltip.left.top
						button.primary.large Test
						.tooltip-content Test

					.tooltip-top-left
						span Test
						.tooltip-content Test

			.example
				.example-rendered
					table.lined.striped
						thead
							th About
							th Option
						tbody
							tr
								td Test
								td Test
							tr
								td Test
								td Test
							tr
								td Test
								td Test
							tr
								td Test
								td Test
							tr
								td Test
								td Test