include _inc/_head.jade
include _inc/_layout.jade


.iframe-container

	.main-container


		h1.page-title Grid
		article#containers.article

			p Barebones includes a flexible, responsive grid system that can be used in one of two ways. 

			ul.bullet-list
				li Grid generator
				li Helper classes


		article.article
			h2 Grid Generator
			p The grid generator allows you to target the specific component (e.g. a sidebar) without the need of 'messy' helper classes. 
			p The Barebones grid works in the following way: 
			ul.bullet-list
				li Each column has right margin applied to it. Margins are % based and are calculated as a fraction of the column width. So you'll need to express margins as such: 1/8, 1/4 etc. This margin is removed on the last column
				li Columns automatically grow to 100% of the container width at the breakpoint defined in the SASS map (theme, breakpoints, grid).

			p using the <span class="function">span($columns, $position)</span> function. They work in the fol

			ul.bullet-list
				li $colums: number of columns spanned by the element.
				li $position: if the column is the last one, pass the 'last' keyword to remove the margin.


			pre
				code.language-scss
					| .sidebar {
					|   @include span(4);
					| }
					| #{''}
					| .content {
					|   @include span(8, last);
					| }


			.example.margin-bottom-base
				.example-wrapper
					.example-sidebar(style="background-color: cyan")
					.example-content-block(style="background-color: lightpink")
					


			p To create different widths at different breakpoints, you can couple this with the <span class="function">respond-above($device)</span> mixin.

			pre
				code.language-scss
					| .example-sidebar {
					|  @include span(6, last);
					|  @include respond-above(device-small) {
					|    @include span(8, last);
					|  }
					| }



		article#containers.article

			h2 Helper Classes


			h3 Rows & Columns

			p To create a grid, use the .row class (clears the floats), then .column-{number} classes for different column widths.
			p Columns work in the following way:

			

			.example
				.columns
					.columns-4 Columns 4
					.columns-5 Columns 5
					.columns-3 Columns 3

			pre
				code.language-html
					| &lt;div class="columns"&gt;
					|  &lt;div class="columns-4"&gt;
					|  &lt;div class="columns-5"&gt;
					|  &lt;div class="columns-3"&gt;
					| &lt;/div&gt;


			p Helper classes are also available to create different grids for different breakpoints.

			.example

				.columns
					.columns-4.columns-4-device-small Columns 4
					.columns-5.columns-4-device-small  Columns 5
					.columns-3.columns-4-device-small  Columns 3

			pre
				code.language-html
					| &lt;div class="columns"&gt;
					|  &lt;div class="columns-4 columns-4-device-small"&gt;
					|  &lt;div class="columns-5 columns-5-device-small"&gt;
					|  &lt;div class="columns-3 columns-3-device-small"&gt;
					| &lt;/div&gt;


			h3 Galleries

			p Galleries are grids containing a repeating number of equal-sized items. They work in a similar way to columns
			.example
				ul.gallery-5
					li.gallery-item
					li.gallery-item
					li.gallery-item
					li.gallery-item
					li.gallery-item

			pre
				code.language-html
					| &lt;div class="columns"&gt;
					|  &lt;div class="columns-4"&gt;
					|  &lt;div class="columns-5"&gt;
					|  &lt;div class="columns-3"&gt;
					| &lt;/div&gt;






			





