include _inc/_head.jade
include _inc/_layout.jade


.iframe-container

	.main-container


		h1.page-title Grid
		article#containers.article

			p Barebones includes a flexible, responsive grid system that can be used in one of two ways using a range of settings specified in your settings file. Gutters are created by applying margin-right to every column, except for the final one (where the margin is removed using the last-child rule).

			table
				tr
					td columns (default: 12)
					td Number of columns
				tr
					td breakpoint
					td The point at which all column sizes should expand to 100%. 
				tr
					td gutter
					td Expressed as a calculated as a fraction of the column widthns as such: 1/8, 1/4 etc. 
				tr
					td offset


		article.article
			h2 Grid Generator
			p The <span class="function">span($columns, $position)</span> grid generator allows you to target a given component – for example, a sidebar – without littering your markup the need of 'messy' helper classes.
			table
				tr
					td $columns
					td Number of columns the component spans, of the total number defined in your settings file.
				tr
					td $position <em>(optional)</em>
					td if the column is the last one, pass the 'last' keyword to remove the margin.
				tr
					td $gutter <em>(optional)</em>
					td You can remove the gutter by passing the keyword 'none'. 
		


			pre
				code.language-scss
					| .sidebar {
					|   @include span(4);
					| }
					| #{''}
					| .content {
					|   @include span(8, $position: last);
					| }

			
			.example.margin-bottom-base
				.example-wrapper
					.example-sidebar(style="background-color: cyan")
					.example-content-block(style="background-color: lightpink")


			p To create different widths at different breakpoints, use the <span class="function">respond-above($device)</span> mixin.

			pre
				code.language-scss
					| .example-sidebar {
					|  @include span(8);
					|  @include respond-above(device-small) {
					|    @include span(6);
					|  }
					| }



		article#containers.article

			h2 Helper Classes


			h3 Rows & Columns

			p To create a grid, use the .row class (clears the floats), then .column-{number} classes for different column widths.
			p Columns work in the following way:

			

			.example
				.columns
					.columns-4 Columns 4
					.columns-5 Columns 5
					.columns-3 Columns 3

			pre
				code.language-html
					| &lt;div class="columns"&gt;
					|  &lt;div class="columns-4"&gt;
					|  &lt;div class="columns-5"&gt;
					|  &lt;div class="columns-3"&gt;
					| &lt;/div&gt;


			p Helper classes are also available to create different grids for different breakpoints.

			.example

				.columns
					.columns-4-device-small.columns-5-device-medium Columns 4
					.columns-4-device-small.columns-3-device-medium  Columns 5
					.columns-4-device-small.columns-4-device-medium  Columns 3

			pre
				code.language-html
					| &lt;div class="columns"&gt;
					|  &lt;div class="columns-4-device-small"&gt;
					|  &lt;div class="columns-5-device-small"&gt;
					|  &lt;div class="columns-3-device-small"&gt;
					| &lt;/div&gt;


			h3 Offsets

			.example
				.columns
					.columns-4.offset-8 Columns 4
			pre
				code.language-html
					| &lt;div class="columns"&gt;
					|  &lt;div class="columns-4"&gt;
					|  &lt;div class="columns-5"&gt;
					|  &lt;div class="columns-3"&gt;
					| &lt;/div&gt;

			//- h3 Galleries

			//- p Galleries are grids containing a repeating number of equal-sized items. They work in a similar way to columns. 

			//- p They're slightly different to columns in that you can create odd numbers of items – for example, in a 12-column grid, you mayb want a gallery with 5 items on each row. 
			//- .example
			//- 	ul.gallery-5
			//- 		li.gallery-item
			//- 		li.gallery-item
			//- 		li.gallery-item
			//- 		li.gallery-item
			//- 		li.gallery-item

			//- pre
			//- 	code.language-html
			//- 		| &lt;div class="columns"&gt;
			//- 		|  &lt;div class="columns-4"&gt;
			//- 		|  &lt;div class="columns-5"&gt;
			//- 		|  &lt;div class="columns-3"&gt;
			//- 		| &lt;/div&gt;






			





