extends  _inc/_layout.jade

block body
	.main-container
		h1.page-title Grid
		article.article.introduction
			p Barebones includes a responsive and semantic grid system. It allows you to target given components – for example, a sidebar – without littering your HTML with helper classes and unnecessary DIVs.

		article.article
			h2 Grid Settings
			p Specify your grid settings in your settings file. If nothing is specified, default values are applied.

			p The $grid-settings map allows you to specify project-wide settings that effect many of Cask's defaults including the number of columns, the width of your gutters, and maximum site width.

			table
				thead
					th Setting
					th Default Value
					th What it Does
				tr
					td <span class="var">columns</span>
					td 12
					td Specifies the number of columns in your grid
				tr
					td <span class="var">breakpoint</span>
					td 720px
					td The point at which columns should expand to 100%.
				tr
					td <span class="var">gutter</span>
					td 1/4
					td Gutters are created using margins. The gutter sizes is expressed as a fraction of the column widths (e.g. 1/8, 1/4 or 1/2). Cask supports any unit of measure for gutter values.10px,1.2rem,4%, and even2vw` are all valid inputs! Rems are preferred.


			h2 Example
			p To change your grid settings, you can use the following. Because of the way the project settings are called, you can update one or all of the settings as needed.

		article.article(id="containers")
			h2 Containers
			p Containers are used to center and restrict content width on the page. They are fluid, and the width is limited using the max-width property. They also include left and right padding to give breathing room on smaller devices, using the <span class="code">mobile-padding</span> value from the settings file.
			p You can create a container using the <span class="var">container($max-width, $mobile-gutter)</span> function.

			table
				thead
					th(colspan="2") Options
				tr
					td <span class="var">$max-width</span>
					td container max-width
				tr
					td <span class="var">$mobile-gutter</span>
					td removes the mobile gutter on smaller screens (for example, if you're nesting a container inside another container).

			pre
				code.language-scss.
					.element {
						@include container(600, $mobile-gutter: false);
					}

		article.article(id="columns")
			h2 Columns
			p Use the <span class="var">span($columns, $position, $gutter)</span> function to specify column widths. To create different widths at different breakpoints, use the <span class="var">if-above($device)</span> mixin.

			p The columns argument is the unitless number of columns the element spans. The default of this property is false which will cause the object to be 100% of its container, or full-width.

			p A set of values can also be passed in to specify the number of columns the object is as well as the number of total columns in this instance. Values can be separated with a of as in 7 of 12. This is useful for specific layouts that break the default column count of the project defined in the $grid-settings.

			p If only one value is passed, the number of total columns is the total-columns set in the $grid-settings.

			p $collapse

			p The collapse argument is a boolean attribute that will cause the element to consume the margins on either side of it. The default of this property is false which will cause the object preserve the gutters on either side. This option is useful when creating containers as well as nested grids.

			p $center
			p The center argument is a boolean attribute that will cause the element no longer be floated and will instead be centered in its container. .card {@include grid-column($columns: 1 of 2, $collapse: true);}

			p $center

			p Unlike the grid-column mixin, the center argument in the grid-column mixin defaults to true. As with the columns, true causes the element not to be floated and instead be centered in its container. Setting this to false will cause the element to floated to the default-float set in the $grid-settings.

			p $max-widt
			p The max-width argument directly sets the max-width property on the element. any format that fits the max-width css specification will be accepted. This value will default to the max-width set in the $grid-settings.
			p Like the grid-column mixin, grid-push also accepts sub-grid settings like 2 of 5 or 4 of 7.



			table
				thead
					th(colspan="2") Options
				tr
					td <span class="var">$columns</span>
					td Number of columns the component spans, of the total number defined in your settings file (by default this is 12).
				tr
					td <span class="var">$position</span> <em>(optional)</em>
					td If the column is the last one, pass in the 'last' keyword to remove the margin.
				tr
					td <span class="var">$gutter</span> <em>(optional)</em>
					td You can remove the gutter by passing in the keyword 'none'.

			.example.margin-bottom-double
				.example-wrapper
					.example-sidebar(style="background-color: lightpink")
					.example-content-block(style="background-color: lightpink")

			pre
				code.language-scss.
					.sidebar {
					  @include span(4); // Creates a column that spans 4 colums
					}
					.content {
					  @include span(8, $position: last); // Creates a column that spans 8 columns
					}


		article.article
			h2 Span Function
			p The above mixin includes certain behaviour – columns will break at your default mobile breakpoint unless overwritten, margins are applied and more.

			p If you want something more basic, you can use the span($columns) function to simply calculate the width of your component.
			.example.margin-bottom-double
				.example-wrapper
					.example-span(style="background-color: lightpink")

		article.article(id="columns")
			h2 Offset

			.example.margin-bottom-double
				.example-wrapper
					.example-offset(style="background-color: lightpink")

			pre
				code.language-scss.
					.sidebar {
					  @include span(4); // Creates a column that spans 4 colums
					}
					.content {
					  @include span(8, $position: last); // Creates a column that spans 8 columns
					}

		article.article
			h2 Galleries
			p Galleries are made up of elements that repeat across multiple lines.
			pre.margin-bottom-double
				code.language-scss.
					.photo-gallery {
					  @include clearfix;
					  // Clears the floats.
					}

					.photo-gallery-item {
						@include gallery(3);
						// Creates a gallery with each item taking up 3 columns of your grid
						// (on a 12 grid-layout, this would be 4 items).
					}

			.example.margin-bottom-double
				.photo-gallery
					.photo-gallery-item
					.photo-gallery-item
					.photo-gallery-item
					.photo-gallery-item
					.photo-gallery-item
					.photo-gallery-item
					.photo-gallery-item
					.photo-gallery-item
					.photo-gallery-item
					.photo-gallery-item

			p The gallery function also allows you to create asmettric galleries.

			.example.photo-gallery.margin-bottom-double
				.element(style="background-color: lightpink; height: 40px")
				.element(style="background-color: lightpink; height: 40px")
				.element(style="background-color: lightpink; height: 40px")
				.element(style="background-color: lightpink; height: 40px")
				.element(style="background-color: lightpink; height: 40px")

			pre
				code.language-scss.
					.photo-gallery {
					  @include clearfix;
					  // Clears the floats.
					}

					.photo-gallery-item {
						@include gallery(3, 6, 4);
					}

		article#containers.article
			h2 Helper Classes
			p Various helper classes are also generated to quickly create grids – <a href="helpers.html">see here</a>.
