include _inc/_head.jade
include _inc/_layout.jade

.iframe-container
	.main-container

		h1.page-title Helpers

		article.article.introduction

			p Helpers class should generally be used sparingly. All helper class attributes are suffixed with an !important flag to avoid specificity issues. Helper classes can help remove repetition by creating a set of abstract classes that can be used over and over on HTML elements. Each helper class is responsible for doing one job and doing it well. Doing this will make your code more reusable and scalable for many features that will be added in the future. So whenever you want to create a new component, you’ll just need to combine some classes together to build it.

			h3 Background Color
			p Generates a background-color helper for all colors specified in the palette category in the settings map. To append the colour category and name to the helper.

			pre
				code.language-html
					| &lt;div class="background-brand-primary"&gt;&lt;/div&gt;

			pre
				code.language-scss
					| .background-brand-primary {
					|  background-color: #F5F5F5 !important;
					| }

		article#borders.article
			h2#borders Borders
			p Adds or removes a keyline to a given element. The border color used is the keyline value specified in the settings map.
			table
				tr
					td border-left
				tr
					td border-top
				tr
					td border-right
				tr
					td border-bottom
				tr
					td border-all
				tr
					td no-border

			pre
				code.language-html
					| &lt;div class="border-bottom"&gt;&lt;/div&gt;

			pre
				code.language-scss
					| .border-bottom {
					|  border-bottom: 1px solid #F5F5F5 !important;
					| }


		article#margin.article
			h2 Margin & Padding
			p Generated from the $sizes map.

			table
				tr
					td padding-{direction}-{size}
					td Applies padding in the specified direction of the specified size.
				tr
					td margin-{direction}-{size}
					td Applies padding in the specified direction of the specified size.
				tr
					td no-margin
					td Removes all margins
				tr
					td no-padding
					td Removes all padding

			pre
				code.language-html
					| &lt;div class="margin-bottom-double"&gt;&lt;/div&gt;

			pre
				code.language-scss
					| .background-brand-primary {
					|  margin-bottom: 32px !important;
					| }

		article.article
			h2 Layout
			table
				tr
					td block
				tr
					td inline-block
				tr
					td float-left
				tr
					td float-right
				tr
					td clearfix

			pre
				code.language-html
					| &lt;div class="background-brand-primary"&gt;&lt;/div&gt;

			pre
				code.language-scss
					| .background-brand-primary {
					|  background-color: #F5F5F5 !important;
					| }


		article#margin.article
			h2 Grid

			h3 Rows & Columns

			p To create a grid, use the .row class (clears the floats), then .column-{number} classes for different column widths.

			.example
				.columns
					.columns-4 Columns 4
					.columns-5 Columns 5
					.columns-3 Columns 3

			pre
				code.language-html
					| &lt;div class="columns"&gt;
					|  &lt;div class="columns-4"&gt;
					|  &lt;div class="columns-5"&gt;
					|  &lt;div class="columns-3"&gt;
					| &lt;/div&gt;


			p Helper classes are also available to create different grids for different breakpoints.
			.example
				.columns
					.columns-4-device-small.columns-5-device-medium Columns 4
					.columns-4-device-small.columns-3-device-medium  Columns 5
					.columns-4-device-small.columns-4-device-medium  Columns 3

			pre
				code.language-html
					| &lt;div class="columns"&gt;
					|  &lt;div class="columns-4-device-small"&gt;
					|  &lt;div class="columns-5-device-small"&gt;
					|  &lt;div class="columns-3-device-small"&gt;
					| &lt;/div&gt;


			h3 Offsets

			p Offsets allow you to shift a column to the right by a specified number of columns.
			.example
				.columns
					.columns-4.offset-8 Columns 4
			pre
				code.language-html
					| &lt;div class="columns"&gt;
					|  &lt;div class="columns-4 offset-8"&gt;
					| &lt;/div&gt;

			h3 Galleries

			p Galleries are grids containing a repeating number of equal-sized items. They work in a similar way to columns.

			p They're slightly different to columns in that you can create odd numbers of items – for example, in a 12-column grid, you mayb want a gallery with 5 items on each row.
			.example
				ul.gallery-5
					li.gallery-item
					li.gallery-item
					li.gallery-item
					li.gallery-item
					li.gallery-item

			pre
				code.language-html
					| &lt;div class="columns"&gt;
					|  &lt;div class="columns-4"&gt;
					|  &lt;div class="columns-5"&gt;
					|  &lt;div class="columns-3"&gt;
					| &lt;/div&gt;



		article#text-align.article
			h2 Typography
			p Typgrophy helper classes are prefixed with '.text-', followed by the helper name – e.g. <span class="var">.text-center</span>.
			table
				tr
					td alignment
					td left | right | center
				tr
					td size
					td
						| Helpers for creating the various text sizes specified in your settings file.
						| x-small | small | base | medium | medium-large | large | x-large
				tr
					td transform
					td uppercase | lowercase | capitalize


			h3 Alignment

			.example
				.text-uppercase This text is uppercase
				.text-capitalized This text is capitalised
				.text-left This text is left-aligned
				.text-center This text is centered
				.text-right This text is right-aligned

			pre
				code.language-html
					| &lt;div class="columns"&gt;This text is uppercase/div




		article.article
			h2 Visibility
			p Use this to hide an element altogether, or only for specific screen sizes. A helper class is generated using each value stored in the <span class="var">$breakpoints</span> map.

			pre
				code.language-html
					| &lt;div class="is-hidden"&gt;&lt;/div&gt; // Hidden at all times.
			pre
				code.language-html
					| &lt;div class="is-hidden-above-device-small"&gt;&lt;/div&gt; // Hides above the device-small breakpoint.
			pre
				code.language-html
					| &lt;div class="is-hidden-below-device-small"&gt;&lt;/div&gt; // Hides below the device-small breakpoint.
