extends  _inc/_layout.jade

block body
	.main-container
		h1.page-title Utilities

		article.article.introduction
			p Utility classes can help remove repetition by creating a set of abstract classes that can be used throughout your project. Each class is responsible for doing one job and doing it well. These can dramatically help reduce the size of large stylesheets and allow for greater flexibility and quicker iteration when designing in the browser.

			p All helper classes use the <span class="var">!important</span> flag to avoid specificity issues.

		article.article
			h2 Background Color
			p Generates a background-color helper for all colors specified in your <span class="var">$colors</span> map, in the following format: <span class="var">.background-{$category}-{$value}</span>.
			.example
				.example-rendered
					.background-brand-primary(style="height: 40px")
					.background-secondary-orange(style="height: 40px")
					.background-greyscale-50(style="height: 40px")

				pre.example-code
					code.language-html.
						&lt;div class="background-brand-primary"&gt;&lt;/div&gt;
						&lt;div class="background-secondary-orange"&gt;&lt;/div&gt;
						&lt;div class="background-greyscale-50"&gt;&lt;/div&gt;

		article#borders.article
			h2#borders Borders
			p Adds a border to a given element in the specified direction(s). It uses the color value specified in the keyline category of your <span class="var">$colors</span> map.

			table.table-lined.margin-bottom-double
				thead
					th(colspan="2") Options
				tr
					td <span class="var">.border-left</span>
					td Adds a 1px keyline on the left.
				tr
					td <span class="var">.border-top</span>
					td Adds a 1px keyline on the top.
				tr
					td <span class="var">.border-right</span>
					td Adds a 1px keyline on the right.
				tr
					td <span class="var">.border-bottom</span>
					td Adds a 1px keyline on the bottom.
				tr
					td <span class="var">.border-all</span>
					td Adds a 1px keyline to every side.
				tr
					td <span class="var">.no-border</span>
					td Removes all borders.

			.example.margin-bottom-double
				.example-rendered
					.border-top
				pre.example-code
					code.language-scss.
						| .border-bottom {
						|  border-bottom: 1px solid #F5F5F5 !important;
						| }

		article.article(id="margin")
			h2 Margin
			p Allows your to add or remove margin or padding in all directions, or a given direction. These are generated using the values stored in the <span class="var">$sizes</span> map, to help create consistency throughout your project.

			p To add spacing around an element, use the the margin

			//- No margin bottom
			//- <h1 class="m0">No margin</h1>
			//- <h1 class="mt0">No margin top</h1>
			//- <h1 class="mb0">No margin bottom</h1>
			p Add Spacing

			p Add spacing around elements using a combination of margin utilities.

			table.table-lined.margin-bottom-double
				thead
					th(colspan="2") Options
				tr
					td <span class="var">.padding-{direction}-{size}</span>
					td Applies padding in the specified direction of the specified size.
				tr
					td <span class="var">.margin-{direction}-{size}</span>
					td Applies margin in the specified direction of the specified size.
				tr
					td <span class="var">.no-margin</span>
					td Removes all margins.
				tr
					td <span class="var">.no-padding</span>
					td Removes all padding.



			.example
				.example-rendered
					.border-all.padding-base.margin-bottom-quarter .margin-bottom-quarter
					.border-all.padding-base.margin-bottom-base .margin-bottom-base
					.border-all.padding-base.margin-bottom-triple .margin-bottom-triple
					.border-all.padding-base.no-margin .no-margin

				pre.example-code
					code.language-html.
						&lt;div class="border-all padding-base margin-bottom-quarter"&gt;.margin-bottom-quarter&lt;/div&gt;
						&lt;div class="border-all padding-base margin-bottom-quarter"&gt;.margin-bottom-quarter&lt;/div&gt;
						&lt;div class="border-all padding-base margin-bottom-quarter"&gt;.margin-bottom-quarter&lt;/div&gt;
						&lt;div class="border-all padding-base margin-bottom-quarter"&gt;.margin-bottom-quarter&lt;/div&gt;


			//- Box

			//- To create a simple box component, use padding along with color utilities.

			//- A simple box
			//- <div class="p2 bg-white border rounded">
			//-   A simple box
			//- </div>
			//- Panel Header
			//- Panel Body
			//- Panel Footer




			pre
				code.language-html.
					&lt;div class="margin-bottom-double"&gt;&lt;/div&gt;
					&lt;div class="margin-bottom-base"&gt;&lt;/div&gt;

		article.article
			h2 Layout
			table
				thead
					th(colspan="2") Options
				tr
					td <span class="var">.block</span>
					td Sets element display mode to <span class="var">block</span>.
				tr
					td <span class="var">.inline-block</span>
					td Sets element display mode to <span class="var">inline-block</span>.
				tr
					td <span class="var">.float-left</span>
					td Floats element to the left.
				tr
					td <span class="var">.float-right</span>
					td Floats element to the right.
				tr
					td <span class="var">.clearfix</span>
					td Clears floats (apply this to the parent element).</span>

			.example.margin-bottom-double
				pre.example-code
					code.language-html.
						&lt;div class="block"&gt;&lt;/div&gt;
						&lt;div class="inline-block"&gt;&lt;/div&gt;
						&lt;div class="float-left"&gt;&lt;/div&gt;
						&lt;div class="float-right"&gt;&lt;/div&gt;
						&lt;div class="clearfix"&gt;&lt;/div&gt;

		article#margin.article
			h2 Grid

			h3 Rows & Columns
			p To create a grid, use the <span class="var">.row</span> class (clears the floats), then <span class="var">.column-{number}</span> classes for different column widths. Columns will grow to 100% of the container width at the breakpoing specified in your grid map.

			.example.margin-bottom-double
				.example-rendered
					.row
						.columns-4 Columns 4
						.columns-5 Columns 5
						.columns-3 Columns 3

				pre.example-code
					code.language-html
						| &lt;div class="row"&gt;
						|  &lt;div class="columns-4"&gt;
						|  &lt;div class="columns-5"&gt;
						|  &lt;div class="columns-3"&gt;
						| &lt;/div&gt;


			p Helper classes are also available to create different grids for different screen sizes.
			.example.margin-bottom-double
				.example-rendered
					.row
						.columns-4-device-x-small.columns-5-device-medium
						.columns-4-device-x-small.columns-3-device-medium
						.columns-4-device-x-small.columns-4-device-medium

				pre.example-code
					code.language-html
						| &lt;div class="columns"&gt;
						|  &lt;div class="columns-4-device-x-small columns-5-device-medium"&gt;
						|  &lt;div class="columns-4-device-x-small columns-3-device-medium"&gt;
						|  &lt;div class="columns-4-device-x-small columns-4-device-medium"&gt;
						| &lt;/div&gt;


			h3 Offsets
			p Offsets allow you to shift a column to the right by a specified number of columns.
			.example.margin-bottom-double
				.row
					.columns-3.offset-9 columns-3, offset-9
			pre.margin-bottom-double
				code.language-html
					| &lt;div class="columns"&gt;
					|  &lt;div class="columns-3 offset-9"&gt;
					| &lt;/div&gt;

			//- h3 Galleries
			//- p Galleries are grids containing a repeating number of equal-sized items. They work in a similar way to columns. They're slightly different to columns in that you can create odd numbers of items – for example, in a 12-column grid, you mayb want a gallery with 5 items on each row.
			//- .example
			//- 	ul.gallery-5
			//- 		li.gallery-item
			//- 		li.gallery-item
			//- 		li.gallery-item
			//- 		li.gallery-item
			//- 		li.gallery-item

		article#text-align.article
			h2 Typography
			p Typgrophy helper classes are prefixed with '.text-', followed by the helper name – e.g. <span class="var">.text-center</span>.

			h3 Alignment
			p Left, right and center.
			.example
				.text-left This text is left-aligned
				.text-center This text is centered
				.text-right This text is right-aligned

			pre
				code.language-html.
					&lt;div class="text-left"&gt;This text is left-aligned&lt;/div&gt;
					&lt;div class="text-center"&gt;This text is center-aligned&lt;/div&gt;
					&lt;div class="text-right"&gt;This text is right-aligned&lt;/div&gt;

			h3 Size
			p These are generated using values specified in your <span class="var">$font-sizes</span> map. These are especially useful for altering the visual appearance of semantically correct headings.
			.example
				.text-x-large This text is X-Large
				.text-large This text is Large
				.text-medium-large This text is Medium-Large
				.text-medium This text is Medium
				.text-base This text is Base
				.text-small This text is Small
				.text-x-small This text is X-Small

			pre
				code.language-html.
					&lt;div class="text-x-large"&gt;This text is X-Large&lt;/div&gt;
					&lt;div class="text-large"&gt;This text is Large&lt;/div&gt;
					&lt;div class="text-medium-large"&gt;This text is X-Large&lt;/div&gt;
					&lt;div class="text-medium"&gt;This text is X-Large&lt;/div&gt;
					&lt;div class="text-base"&gt;This text is X-Large&lt;/div&gt;
					&lt;div class="text-small"&gt;This text is X-Large&lt;/div&gt;
					&lt;div class="text-x-small"&gt;This text is X-Large&lt;/div&gt;

			h3 Colors
			p These are generated using values stored in your <span class="var">$colors</span> map.
			.example
				.text-brand-primary Text brand primary
				.text-brand-secondary Text brand secondary
				.text-greyscale-400 Text brand primary

			pre
				code.language-html.
					&lt;div class="text-brand-primary"&gt;This text is X-Large&lt;/div&gt;
					&lt;div class="text-x-large"&gt;This text is X-Large&lt;/div&gt;
					&lt;div class="text-x-large"&gt;This text is X-Large&lt;/div&gt;
					&lt;div class="text-x-large"&gt;This text is X-Large&lt;/div&gt;
					&lt;div class="text-x-large"&gt;This text is X-Large&lt;/div&gt;
					&lt;div class="text-x-large"&gt;This text is X-Large&lt;/div&gt;
					&lt;div class="text-x-large"&gt;This text is X-Large&lt;/div&gt;

			h3 Transform
			p Uppercase or capitalized.
			.example
				.text-uppercase This text is uppercase
				.text-capitalized This text is capitalized

			pre
				code.language-html.
					&lt;div class="text-uppercase"&gt;This text is uppercase&lt;/div&gt;
					&lt;div class="text-capitalized"&gt;This text is capitalized&lt;/div&gt;

			p Use padding and negative margin utilities to create gutters based on the white space scale. The negative margin ensures content inside each column lines up with content outside of the grid. When using negative margin, be sure to compensate for the extra width created with a padded parent element or by using overflow hidden. Otherwise, horizontal scrolling may occur.

			p Create gutters with a width of 2 units using .mxn2 and .px2.
		article.article
			h2 Visibility
			p Use this to hide an element altogether, or only for specific screen sizes. A helper class is generated using each value stored in the <span class="var">$breakpoints</span> map.

			pre.margin-bottom-double-half
				code.language-html.
					&lt;div class="is-hidden"&gt;&lt;/div&gt;
					// Hidden at all times.
			pre.margin-bottom-double-half
				code.language-html.
					&lt;div class="is-hidden-above-device-small"&gt;&lt;/div&gt;
					// Hides above the device-small breakpoint.
			pre
				code.language-html.
					&lt;div class="is-hidden-below-device-small"&gt;&lt;/div&gt;
					// Hides below the device-small breakpoint.
