include _inc/_head.jade
include _inc/_layout.jade

.iframe-container
	.main-container

		h1.page-title Helpers

		article#background-color.article

			p Helpers or utlity classes should generally be used sparingly. All helper class attributes are suffixed with an !important flag to avoid specificity issues.

			h3 Background Color
			p Generates a background-color helper for all colors specified in the palette category in the settings map. To append the colour category and name to the helper.

			pre
				code.language-html
					| &lt;div class="background-brand-primary"&gt;&lt;/div&gt;

			pre
				code.language-scss
					| .background-brand-primary {
					|  background-color: #F5F5F5 !important;
					| }

		article#borders.article
			h3#borders Borders
			p Adds or removes a keyline to a given element. The border color used is the keyline value specified in the settings map.
			table
				tr
					td border-left
				tr
					td border-top
				tr
					td border-right
				tr
					td border-bottom
				tr
					td border-all
				tr
					td no-border

			pre
				code.language-html
					| &lt;div class="border-bottom"&gt;&lt;/div&gt;

			pre
				code.language-scss
					| .border-bottom {
					|  border-bottom: 1px solid #F5F5F5 !important;
					| }


		article#margin.article
			h3 Margin & Padding
			p Generated from the $sizes map.

			table
				tr
					td padding-{direction}-{size}
					td Applies padding in the specified direction of the specified size.
				tr
					td margin-{direction}-{size}
					td Applies padding in the specified direction of the specified size.
				tr
					td no-margin
					td Removes all margins
				tr
					td no-padding
					td Removes all padding

			pre
				code.language-html
					| &lt;div class="margin-bottom-double"&gt;&lt;/div&gt;

			pre
				code.language-scss
					| .background-brand-primary {
					|  margin-bottom: 32px !important;
					| }

		article.article
			h3 Layout
			table
				tr
					td block
				tr
					td inline-block
				tr
					td float-left
				tr
					td float-right
				tr
					td clearfix

			pre
				code.language-html
					| &lt;div class="background-brand-primary"&gt;&lt;/div&gt;

			pre
				code.language-scss
					| .background-brand-primary {
					|  background-color: #F5F5F5 !important;
					| }


		h3 Rows & Columns

		p To create a grid, use the .row class (clears the floats), then .column-{number} classes for different column widths.
		p Columns work in the following way:



		.example
			.columns
				.columns-4 Columns 4
				.columns-5 Columns 5
				.columns-3 Columns 3

		pre
			code.language-html
				| &lt;div class="columns"&gt;
				|  &lt;div class="columns-4"&gt;
				|  &lt;div class="columns-5"&gt;
				|  &lt;div class="columns-3"&gt;
				| &lt;/div&gt;


		p Helper classes are also available to create different grids for different breakpoints.

		.example

			.columns
				.columns-4-device-small.columns-5-device-medium Columns 4
				.columns-4-device-small.columns-3-device-medium  Columns 5
				.columns-4-device-small.columns-4-device-medium  Columns 3

		pre
			code.language-html
				| &lt;div class="columns"&gt;
				|  &lt;div class="columns-4-device-small"&gt;
				|  &lt;div class="columns-5-device-small"&gt;
				|  &lt;div class="columns-3-device-small"&gt;
				| &lt;/div&gt;


		h3 Offsets

		.example
			.columns
				.columns-4.offset-8 Columns 4
		pre
			code.language-html
				| &lt;div class="columns"&gt;
				|  &lt;div class="columns-4"&gt;
				|  &lt;div class="columns-5"&gt;
				|  &lt;div class="columns-3"&gt;
				| &lt;/div&gt;

		//- h3 Galleries

		//- p Galleries are grids containing a repeating number of equal-sized items. They work in a similar way to columns.

		//- p They're slightly different to columns in that you can create odd numbers of items – for example, in a 12-column grid, you mayb want a gallery with 5 items on each row.
		//- .example
		//- 	ul.gallery-5
		//- 		li.gallery-item
		//- 		li.gallery-item
		//- 		li.gallery-item
		//- 		li.gallery-item
		//- 		li.gallery-item

		//- pre
		//- 	code.language-html
		//- 		| &lt;div class="columns"&gt;
		//- 		|  &lt;div class="columns-4"&gt;
		//- 		|  &lt;div class="columns-5"&gt;
		//- 		|  &lt;div class="columns-3"&gt;
		//- 		| &lt;/div&gt;



		article#text-align.article
			h3 Typography
			table
				tr
					td alignment
					td Left, Right, Center
				tr
					td size
					td
						| Helpers for creating the various text sizes specified in your settings file.
						| x-small | small | base | medium | medium-large | large | x-large
				tr
					td transform
					td uppercase | lowercase | capitalize



			p <span class="class">.text-{helper}</span>.


		article.article
			h2 Visibility
			p We provide easy to use classes to hide content on specific screen sizes.
			table
				tr
					td alignment
					td Left, Right, Center
				tr
					td size
					td
						| Helpers for creating the various text sizes specified in your settings file.
						| x-small | small | base | medium | medium-large | large | x-large
				tr
					td transform
					td uppercase | lowercase | capitalize

			pre
				code.language-html
					| &lt;div class="is-hidden"&gt;&lt;/div&gt;
					| &lt;div class="is-hidden-above-device-small"&gt;&lt;/div&gt;
					| &lt;div class="is-hidden-below-device-small"&gt;&lt;/div&gt;

			pre
				code.language-scss
					| .is-hidden {
					|  display: none !important;
					| }
