include _inc/_head.jade
include _inc/_layout.jade

.iframe-container
	.main-container
		h1.page-title Helpers

		article.article.introduction
			p Helper classes can help remove repetition by creating a set of abstract classes that can be used throughout your project. Each helper class is responsible for doing one job and doing it well. 

			p All helper classes use the <span class="var">!important</span> flag to avoid specificity issues. 

		article.article
			h2 Background Color
			p Generates a background-color helper for all colors specified in your <span class="var">$colours</span> map, in the following format: <span class="var">background-{$category}-{$value}</span>.
			.example
				div.background-brand-primary(style="height: 40px")
				div.background-secondary-orange(style="height: 40px")
				div.background-greyscale-50(style="height: 40px")
			pre
				code.language-html.
					&lt;div class="background-brand-primary"&gt;&lt;/div&gt;
					&lt;div class="background-secondary-orange"&gt;&lt;/div&gt;
					&lt;div class="background-greyscale-50"&gt;&lt;/div&gt;

		article#borders.article
			h2#borders Borders
			p Adds or removes a keyline to a given element. The border color used is the keyline value specified in your <span class="var">$colours</span> map.
			table
				tr
					td border-left
				tr
					td border-top
				tr
					td border-right
				tr
					td border-bottom
				tr
					td border-all
				tr
					td no-border

			.example 

			pre
				code.language-scss
					| .border-bottom {
					|  border-bottom: 1px solid #F5F5F5 !important;
					| }

		article.article(id="margin")
			h2 Margin & Padding
			p Allows your to add or remove margin or padding in all directions, or a given direction. These are generated using the values stored in the <span class="var">$sizes</span> map.

			table
				tr
					td <span class="var">.padding-{direction}-{size}</span>
					td Applies padding in the specified direction of the specified size.
				tr
					td <span class="var">..margin-{direction}-{size}</span>
					td Applies padding in the specified direction of the specified size.
				tr
					td <span class="var">.no-margin</span>
					td Removes all margins
				tr
					td <span class="var">.no-padding</span>
					td Removes all padding

			.example
				div.background-brand-primary.margin-bottom-quarter(style="height: 40px")
				div.background-brand-primary.margin-bottom-base(style="height: 40px")

			pre
				code.language-html.
					&lt;div class="margin-bottom-double"&gt;&lt;/div&gt;
					&lt;div class="margin-base"&gt;&lt;/div&gt;
					&lt;div class="padding-left-half"&gt;&lt;/div&gt;

		article.article
			h2 Layout
			table
				tr
					td block
				tr
					td inline-block
				tr
					td float-left
				tr
					td float-right
				tr
					td clearfix

			pre
				code.language-html.
					&lt;div class="block"&gt;&lt;/div&gt;
					&lt;div class="block"&gt;&lt;/div&gt;
					&lt;div class="block"&gt;&lt;/div&gt;
					&lt;div class="block"&gt;&lt;/div&gt;
					&lt;div class="block"&gt;&lt;/div&gt;

		article#margin.article
			h2 Grid

			h3 Rows & Columns
			p To create a grid, use the <span class="var">.row</span> class (clears the floats), then <span class="var">.column-{number}</span> classes for different column widths.

			.example
				.row
					.columns-4 Columns 4
					.columns-5 Columns 5
					.columns-3 Columns 3

			pre
				code.language-html
					| &lt;div class="columns"&gt;
					|  &lt;div class="columns-4"&gt;
					|  &lt;div class="columns-5"&gt;
					|  &lt;div class="columns-3"&gt;
					| &lt;/div&gt;


			p Helper classes are also available to create different grids for different breakpoints.
			.example
				.row
					.columns-4-device-small.columns-5-device-medium Columns 4
					.columns-4-device-small.columns-3-device-medium  Columns 5
					.columns-4-device-small.columns-4-device-medium  Columns 3

			pre
				code.language-html
					| &lt;div class="columns"&gt;
					|  &lt;div class="columns-4-device-small"&gt;
					|  &lt;div class="columns-5-device-small"&gt;
					|  &lt;div class="columns-3-device-small"&gt;
					| &lt;/div&gt;


			h3 Offsets
			p Offsets allow you to shift a column to the right by a specified number of columns.
			.example
				.row
					.columns-3.offset-9 columns-3, offset-9
			pre
				code.language-html
					| &lt;div class="columns"&gt;
					|  &lt;div class="columns-3 offset-9"&gt;
					| &lt;/div&gt;

			//- h3 Galleries
			//- p Galleries are grids containing a repeating number of equal-sized items. They work in a similar way to columns. They're slightly different to columns in that you can create odd numbers of items – for example, in a 12-column grid, you mayb want a gallery with 5 items on each row.
			//- .example
			//- 	ul.gallery-5
			//- 		li.gallery-item
			//- 		li.gallery-item
			//- 		li.gallery-item
			//- 		li.gallery-item
			//- 		li.gallery-item

			pre
				code.language-html
					| &lt;div class="columns"&gt;
					|  &lt;div class="columns-4"&gt;
					|  &lt;div class="columns-5"&gt;
					|  &lt;div class="columns-3"&gt;
					| &lt;/div&gt;



		article#text-align.article
			h2 Typography
			p Typgrophy helper classes are prefixed with '.text-', followed by the helper name – e.g. <span class="var">.text-center</span>.

			h3 Alignment
			p Left, right and center.
			.example
				.text-left This text is left-aligned
				.text-center This text is centered
				.text-right This text is right-aligned

			pre
				code.language-html.
					&lt;div class="text-left"&gt;This text is left-aligned&lt;/div&gt;
					&lt;div class="text-center"&gt;This text is center-aligned&lt;/div&gt;
					&lt;div class="text-right"&gt;This text is right-aligned&lt;/div&gt;

			h3 Size
			p These are generated using values specified in your <span class="var">$font-sizes</span> map.
			.example
				.text-x-large This text is X-Large
				.text-large This text is Large
				.text-medium-large This text is Medium-Large
				.text-medium This text is Medium
				.text-base This text is Base
				.text-small This text is Small
				.text-x-small This text is X-Small

			pre
				code.language-html.
					&lt;div class="text-x-large"&gt;This text is X-Large&lt;/div&gt;
					&lt;div class="text-large"&gt;This text is Large&lt;/div&gt;
					&lt;div class="text-medium-large"&gt;This text is X-Large&lt;/div&gt;
					&lt;div class="text-medium"&gt;This text is X-Large&lt;/div&gt;
					&lt;div class="text-base"&gt;This text is X-Large&lt;/div&gt;
					&lt;div class="text-small"&gt;This text is X-Large&lt;/div&gt;
					&lt;div class="text-x-small"&gt;This text is X-Large&lt;/div&gt;

			h3 Colours
			p These are generated using values stored in your <span class="var">$colours</span> map.
			.example
				.text-brand-primary Text brand primary
				.text-brand-secondary Text brand secondary
				.text-greyscale-400 Text brand primary

			pre
				code.language-html.
					&lt;div class="text-brand-primary"&gt;This text is X-Large&lt;/div&gt;
					&lt;div class="text-x-large"&gt;This text is X-Large&lt;/div&gt;
					&lt;div class="text-x-large"&gt;This text is X-Large&lt;/div&gt;
					&lt;div class="text-x-large"&gt;This text is X-Large&lt;/div&gt;
					&lt;div class="text-x-large"&gt;This text is X-Large&lt;/div&gt;
					&lt;div class="text-x-large"&gt;This text is X-Large&lt;/div&gt;
					&lt;div class="text-x-large"&gt;This text is X-Large&lt;/div&gt;

			h3 Transform
			p Uppercase or capitalized.
			.example
				.text-uppercase This text is uppercase
				.text-capitalized This text is capitalized

			pre
				code.language-html.
					&lt;div class="text-uppercase"&gt;This text is uppercase&lt;/div&gt;
					&lt;div class="text-capitalized"&gt;This text is capitalized&lt;/div&gt;

		article.article
			h2 Visibility
			p Use this to hide an element altogether, or only for specific screen sizes. A helper class is generated using each value stored in the <span class="var">$breakpoints</span> map.

			pre.margin-bottom-double-half
				code.language-html.
					&lt;div class="is-hidden"&gt;&lt;/div&gt; 
					// Hidden at all times.
			pre.margin-bottom-double-half
				code.language-html.
					&lt;div class="is-hidden-above-device-small"&gt;&lt;/div&gt; 
					// Hides above the device-small breakpoint.
			pre
				code.language-html.
					&lt;div class="is-hidden-below-device-small"&gt;&lt;/div&gt;
					// Hides below the device-small breakpoint.
