include _inc/_head.jade
section.welcome-masthead
	.welcome-masthead-inner
		.container-large
			.welcome-masthead-left
				h1.welcome-masthead-heading BAREBONES
				.welcome-masthead-subheading #{strapline} lightweight and modular front-end framework for developing fast and powerful web interfaces.
				.welcome-masthead-buttons
					a.button.large.white(href="introduction.html") Get Started


			section.selling-points
				.selling-point(style="animation-delay: 250ms")
					img.margin-bottom-double(src="#{image_base}icons/light.png")
					h2.selling-point-title Lightweight
					p.selling-point-description Includes only the basics – a responsive grid system, and reusable mixins and helpers.

				.selling-point(style="animation-delay: 500ms")
					img.margin-bottom-double(src="#{image_base}icons/fast.png")
					h2.selling-point-title Fast
					p.selling-point-description Stop wasting time overwriting stuff, and kick things off with a clean starting point.

				.selling-point(style="animation-delay: 750ms")
					img.margin-bottom-double(src="#{image_base}icons/settings.png" style="width: 32px")
					h2.selling-point-title Fully Customisable
					p.selling-point-description Every setting is easily customisable, so you can easily make it yours.

	.welcome-masthead-footer
		.made-by Made in London by <a href="http://www.getagent.co.uk" target="_blank">Getagent.co.uk</a>.
		.notice The source code is licensed MIT. The website content is licensed CC ANS 4.0.

