extends _inc/_layout.jade

block body
	.main-container
		h1.page-title Getting Started

		article.article.introduction
			p Barebones is a boilerplate to help you build your own UI framework. It is not a fully-fledged library, but a set of tools common to all projects; a grid system, helper classes and a range of reusable mixins, put together in a convenient package to kickstart your next project.

			p Only the bare essentials are included – so you can spend less time overwriting and more time creating.

		article.article
			h2 Why does the world need Barebones?

			p It probably doesn't, but here goes; we wanted to create a lightweight SASS library that we could share between projects – powerful enough to allow us to focus on design, and lightweight enough to stay out of our way.

			p Over time, we've learned a lot about how to structure our SASS projects in a cohesive, scalable and maintainable way. We thought other people might find this knowledge useful so decided to release this as a package in the public domain.

			p Existing UI frameworks such as Bootstrap and Foundation are great for prototyping, but typically lack flexibility. Building your own framework puts you in the driving seat, giving you full control over how your app or website looks, without being shoe-horned into someone else's design system.

		article.article(id="installing")

			h2 Installing Barebones

			p If you're new to SASS, you'll first need to make sure you're able to <a href="http://sass-lang.com/install" target="_blank">compile SASS files</a>.

			.info-panel.warning.margin-bottom-double
				p Barebones relies heavily on SASS maps, so will only work with SASS v3.3 and above.

			h3 1. Install the package
			p Barebones is available as a Bower package. If you want to skip this and copy the SASS files directly, you can do that too – simply download the latest release from <a href="https://github.com/sebpowell/barebones-sass">GitHub</a> and integrate the source files directly.

			.example
				pre.example-code
					code.language-bash
						| bower install barebones-sass --save

			h3 2. Create a settings file

			p Barebones code allows you to specify your own individual project settings – just grab <a href="https://github.com/sebpowell/barebones-sass/blob/master/docs/css/_settings.scss" target="_blank">the example file</a> </strong> and change the values to fit your needs.

			h3 3. Create your main SASS file
			p Import your newly created settings file, followed by <span class="var">_barebones.sass</span> into your main SASS file. When you're done, it should look like this:

			.example.margin-bottom-double
				pre.example-code
					code.language-html.
						|-- css/
						|--| main.sass
						|--| _settings
						|
						|-- bower-components/
						|--| barebones-sass/
						|--|--| dist/
						|--|--|--| _base

			.example
				pre.example-code
					code.language-scss.
						// Always import the settings file first
						@import _settings

						// Import Barebones – the path will depend on your setup.
						@import bower-components/barebones-sass/dist/_base

						// Your stuff can come here.

		article.article(id="requirements")
			h2 Requirements
			p Barebones relies heavily on <a href="">SASS maps</a> to work, so you'll need to make sure you're using SASS 3.3 or higher. Additionally, vendor prefixing mixins are not used or included as you can use the <a href="https://github.com/postcss/autoprefixer" target="_blank">autoprefixer plugin</a> to do this.

		article.article(id="support")

			h2 Support
			p This library is under active development. If you need help, or if you think something is broken or can be improved, send an email to <a href="mailto:tech@getagent.co.uk">tech@getagent.co.uk</a>. Or feel free to <a href="https://github.com/sebpowell/barebones-sass/issues">open an issue on GitHub</a>.





		article.article(id="background")

			h2 Background Reading & Acknowledgements
			p Barebones was heavily inspired by other people's brains. Here are some of them in case you're interested in doing some more reading. Inspiration and motivationGemma is evolutionary, not revolutionary. Its philosophical and stylistic leanings have been heavily influenced by the following people and projects:

			ul.bullet-list
				li
					a(href="http://fourkitchens.com/blog/article/you-dont-need-bootstrap" target="_blank") You Don't Need Bootstrap – Ian Carrico
				li
					a(href="https://smacss.com/" target="_blank") Scalable & Module Architecture for CSS – Jonathan Snook
				li
					a(href="https://dzone.com/articles/why-its-good-idea-roll-your" target="_blank") Why It's a Good Idea to Roll Your Own CSS Framework
				li
					a(href="http://daverupert.com/2013/04/responsive-deliverables/" target="_blank") Responsive Deliverables – Dave Rupert
				li
					a(href="http://www.sitepoint.com/managing-responsive-breakpoints-sass/" target="_blank") Managing Responsive Breakpoints with SASS – Hugo Giraudel
				li
					a(href="http://www.zell-weekeat.com/mappy-breakpoints" target="_blank") Mappy Breakpoints – Zell Liew
				li
					a(href="http://thesassway.com/beginner/how-to-structure-a-sass-project" target="_blank") How to Structure a SASS Project – John Long
				li
					a(href="http://thesassway.com/advanced/modular-css-naming-conventions" target="_blank") Modular CSS Naming Conventions – John Long
				li
					a(href="http://www.sitepoint.com/architecture-sass-project/") Architecture for a SASS Project – Hugo Giraudel
