extends  _inc/_layout.jade

block body
	.main-container

		h1.page-title Mixins
		article.article(id="arrow")
			h2 Arrow
			p Creates a triangle, used for things like tooltips or dropdowns.

			table
				thead
					th(colspan="2") Options
				tr
					td <span class="var">$direction</span>
					td up, down, left, right, top-right, top-left, bottom-right, bottom-left
				tr
					td <span class="var">$color</span>
					td Any hex value (e.g. #E5E5E5)
				tr
					td <span class="var">$size</span>
					td Any px value (e.g. 6px)


			pre
				code.language-scss.
					.element {
						&:after {
							@include arrow(down, black, 20px);
						}
					 }


		article#containers.article
			h2 Placeholder
			p Changes form placeholder text color.
			pre
				code.language-scss.
					.element {
						@include placeholder {
							color: grey;
						}
					}

		article#containers.article
			h2 Uppercase
			p Transforms text to uppercase, accepts an argument to specify letter-spacing.
			pre
				code.language-scss.
					.element {
						@include uppercase(0.1em);
					 }


		article#containers.article


		article#clearfix.article
			h2 Clearfix
			p Clears floats. Apply this to the parent element.
			pre
				code.language-scss.
					.element {
						@include clearfix;
					 }

		article#ellipsis.article
			h2 Ellipsis
			p Adds ellipsis to limit text width <span class="var">ellipsis($width)<span>
			pre
				code.language-scss.
					.element {
						@include text-overflow(300);
					}


		article#media-queries.article
			h2 Media Queries
			p Use <span class="var">respond-above($device)</span> and <span class="var">respond-below($device)</span> to target different viewport sizes defined in your settings file.
			pre
				code.language-scss.
					.element {
						@include respond-below(device-medium) {
							color: blue;
						}
						@include respond-above(device-medium) {
							color: red;
						}
					}



		article#no-bullet.article
			h2 No Bullet
			p Removes list-style-type, margin and padding attributes from ul elements (useful when creating navigation components).
			pre
				code.language-scss.
					ul {
					 @include no-bullet;
					}
