extends  _inc/_layout.jade

block body
	.main-container

		.example
			.example-rendered
				.example-container
					li.test-grid
					li.test-grid
					li.test-grid
					li.test-grid
					li.test-grid
					li.test-grid
					li.test-grid
					li.test-grid
					li.test-grid
					li.test-grid
					li.test-grid
					li.test-grid

					li.test-grid
					li.test-grid
					li.test-grid
					li.test-grid
					li.test-grid
					li.test-grid

				.columns-6
				.columns-6