include _inc/_head.jade
include _inc/_layout.jade

.iframe-container

	.main-container

		h1.page-title Settings

		article.article

			p Barebones stores all project settings in a structured SASS map (_settings.scss). This map is a starting point – you can extend it any way you like. Default categories are included below (or <a href="https://github.com/sebpowell/barebones/blob/master/docs/css/_theme.scss">click here to see an example)</a>.

			p To access values, use the <span class="function">settings($args...)</span> function. It accepts any number of arguments, allowing you to navigate nested maps with ease.

			pre.language-scss
				code
					| .element {
					|   border-right: settings(colours, keyline, light);
					|   color: settings(colours, brand, primary);
					|   z-index: settings(layers, element);
					| }

			p A helper function is also provided for each category for faster access.



			h3 Colours
			p Access values using either <span class="function">settings(colours, $category, $value)</span> or <span class="function">colours($category, $value)</span>.
			pre
				code.language-scss
					|   colours: (
					|     brand: (
					|       primary: #157AFB,
					|       secondary: #FE5607,
					|       ...
					|     ),
					|     secondary: (
					|       orange: #F8B000,
					|       ...
					|     ),
					|     greyscale: (
					|       50: #FAFAFA,
					|       100: #F5F5F5,
					|       ...
					|     ),
					|     keyline: (
					|       light: #E5E5E5,
					|       ...
					|     ),
					|   )

			h3 Fonts

			p Specify font familys' and their respective weights. Access using <span class="function">fonts($family)</span> and <span class="function">weights($family, $weight)</span> functions.

			pre
				code.language-scss

					|   fonts: (
					|     primary: (
					|       family: #{"Open Sans", Helvetica, sans-serif},
					|       weights: (
					|         light: 100,
					|         regular: 200,
					|         semi-bold: 500
					|       )
					|     ),
					|     secondary: (
					|       family: #{"Futura PT", Helvetica, sans-serif},
					|       weights: (
					|         bold: 600,
					|       )
					|     ),

			h3 Grid

			p Specify global grid settings. Access using <span class="function">settings(layout, grid, $setting)</span> or <span class="function">grid($setting)</span>.

			pre
				code.language-scss
					|    grid: (
					|     columns: 12,
					|     site-width: 1200px,
					|     gutter: 1/4,
					|     gutter-type: margin,
					|     mobile-padding: 24px,
					|    ),

			h3 Breakpoints
			p Specify global breakpoints. It's generally best to set these as device sizes, rather than target specific devices. Access using <span class="function">settings(layout, breakpoints, $size)</span> or <span class="function">breakpoints($size)</span>.

			pre
				code.language-scss
					|    breakpoints: (
					|     device-small: 320px,
					|     device-medium: 480px,
					|     ...
					|    ),

			h3 Sizes
			p Used to keep spacing consistent throughout the project. Access using <span class="function">settings(layout, sizes, $size)</span> or <span class="function">sizes($size)</span>.

			pre
				code.language-scss
					|    sizes: (
					|     quarter: 4px,
					|     half: 8px,
					|     base: 16px,
					|     ...
					|    ),


			h3 Layers
			p
				| Stores z-indexes for different components so you can easily see the stacking order. Access using <span class="function">settings(layout, layers, $component)</span>  or <span class="function">layers($component)</span>.
			pre
				code.language-scss
					|    layers: (
					|     modal: 5,
					|     backdrop: 2,
					|     navigation: 4,
					|     ...
					|    ),




