include _inc/_head.jade
.primary-navigation
	a.logo(href = "#")
		img(src="#{image_base}logo.png")
	ul
		li
			a(href="index.html") Documentation
		li
			a Contribute
			
	.github
		a(class="github-button" href="https://github.com/ntkme/github-buttons" data-style="mega" data-count-href="/ntkme/github-buttons/stargazers" data-count-api="/repos/ntkme/github-buttons#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star ntkme/github-buttons on GitHub") Star

.welcome-masthead
	.welcome-masthead-inner
		.container-large.no-padding
			h1.welcome-masthead-inner-heading BUILD YOUR OWN SASS FRAMEWORK
			p.welcome-masthead-subheading Barebones is a lightweight, responsive SASS boilerplate to kickstart your next web project.
			.welcome-masthead-buttons
				a.button.white.large.margin-right-base(href="index.html") Get Started
				//- a.button.white.bordered.large(href="index.html") Read the docs

			section.selling-points
				.selling-point
					h2.selling-point-title Zero Bloat
					p.selling-point-description Barebones is tiny – only 2kb gzipped!includes only what you need – a grid system, mixins and helper generators.

				.selling-point
					h2.selling-point-title Faster Development
					p.selling-point-description Spend less time overwriting stles, and more time creating your own.

				.selling-point
					h2.selling-point-title Fully Customisable
					p.selling-point-description Every setting is easily customisable.Milligram provides a minimal setup of styles for a fast and clean starting pointSpecially designed for better performance and higher productivity with fewer properties to reset resulting in cleaner code. Hope you enjoy!

	.welcome-masthead-footer
		.made-by
			| Made with blood, sweat and tears in London by <a href="http://www.getagent.co.uk" target="_blank">Getagent.co.uk</a>. The source code is licensed MIT. The website content is licensed CC ANS 4.0.

script(async defer id="github-bjs" src="https://buttons.github.io/buttons.js")