// Are both grid and columns
@for $i from 1 through map-get($theme, columns)
	@each $key, $value in $breakpoints
		.grid-#{$i}-#{$key}
			+no-bullet
			+clearfix
			+respond-above($key)
				margin-left: -(map-get($theme, gutter))
				margin-right: -(map-get($theme, gutter))

			@if $i < 1
				margin-left: 0
				margin-right: 0
			> li
				width: 100%
				margin-bottom: map-get($theme, gutter)
				&:last-child
					margin-bottom: 0
				&:nth-child(#{$i}n + 1)
					// Clears floats after a row is complete for variable height elements.
					clear: both

				@if $i < 1
					padding: 0

				+respond-above($key)
					width: 100% / $i !important
					float: left
					padding: 0 map-get($theme, gutter) !important
					// &:nth-last-of-type(-n+#{$i})
					// 	margin-bottom: 0


@each $key, $value in $breakpoints
	@for $i from 1 through map-get($theme, columns)
		.columns-#{$i}-#{$key}
			width: 100%
			margin-bottom: sizes(double)

			+respond-above($key)
				width: $i * (100% / map-get($theme, columns))
				float: left
				padding: 0 sizes(base)
				margin-bottom: 0
				// &:nth-last-of-type(-n+#{$i})
				// 	margin-bottom: 0

// Generates classes for columns 1 - 12.
@for $i from 1 through map-get($theme, columns)
	.columns-#{$i}
		width: 100%
		float: left
		margin-bottom: sizes(double)
		&:last-child
			margin-bottom: 0
		+respond-above(device-small)
			padding: 0 map-get($theme, gutter)
			margin-bottom: 0
			width: $i * (100% / map-get($theme, columns))
			// Add nth-class helper

// Generates classes for column offsets.
@for $i from 1 through map-get($theme, columns)
	.offset-#{$i}
		+respond-above(device-medium-large)
			margin-left: $i * (100% / map-get($theme, columns))

// Start with a row container. Inside the row container, use the columns. The module or component is then place dinside each column.
// Change ths to /columns-cotainer?
.row
	+clearfix
	position: relative

	&.vertical-align
		+respond-above(device-medium-large)
			display: table
			> [class^="column"]
				float: none
				height: 100%
				display: table-cell
				vertical-align: middle


	+respond-above(device-medium-large)
		margin-left: -(sizes(base))
		margin-right: -(sizes(base))
		// > [class^="column"]
		// 	padding: 0

@mixin grid-test($map)
	@include clearfix
	padding: sizes(double)
	width: 100%
	float: left

	@each $key, $value in $breakpoints
		@if map-get($map, $key)
			+respond-above($key)
				width: (100% / 12) * map-get($map, $key)


.no-gutter
	margin-left: 0 !important
	margin-right: 0 !important
	> [class^="column"], > li
		padding: 0 !important


// Generate gutter widths
@each $size, $var in $sizes
	.gutter-#{$size}
		+respond-above(device-medium)
			// Added margin to factor in container-wide padding on smaller sizes
			margin-left: -($var) !important
			margin-right: -($var) !important
			> [class^="column"], > li
				padding: 0 $var !important
				// Add mobile



