$navigation: (link-size-mobile: 20px, link-size-desktop: 18px, background-desktop: white)

.navigation-primary
	+clearfix
	transition: padding .5s
	position: fixed
	// Change to site width mobile padding
	padding: sizes(base)
	top: 0
	width: 100%
	background: white
	z-index: 2
	+respond-above(device-medium)
		padding: sizes(double-half) sizes(triple)
	+respond-above(device-x-large)
		max-width: 1480px


	.navigation-primary-logo
		width: 180px
		float: left

	.navigation-primary-links
		+no-bullet
		top: 60px
		left: 0
		margin-top: 14px
		position: fixed
		display: none
		background: map-get($navigation, background-desktop)
		width: 100%
		&.is-open
			display: block
			color: white
			background: colors(brand-primary, dark)
			// border-top: 1px solid colors(keyline, light)
			// box-shadow: 0px 2px 3px rgba(00,00,00,0.4)

		+respond-above(device-medium)
			display: table
			opacity: 1
			visibility: visible
			height: auto
			float: right
			left: auto
			width: auto
			position: static
			background: transparent

		> li
			text-align: center
			position: relative
			+respond-above(device-medium)
				display: table-cell

			+respond-above(device-medium)
				&.active
					a
						color: colors(brand-primary)
						&:after
							position: absolute
							top: 49px
							left: 50%
							margin-left: -40px
							content: ""
							display: block
							background: colors(brand-primary)
							height: 4px
							width: 80px


			> a
				display: block
				padding: sizes(double)
				font-size: map-get($navigation, link-size-mobile)

				+respond-above(device-medium)
					padding: 0 20px
					font-size: map-get($navigation, link-size-desktop)

	// When user scrolls
	&.is-fixed
		box-shadow: 0 1px 2px rgba(00,00,00,0.2)
		+respond-above(device-medium)
			padding: sizes(base) sizes(triple)

.mobile-navigation-toggle
	position: absolute
	top: 50%
	right: sizes(base)
	margin-top: -7px
	display: block
	cursor: pointer
	width: 20px
	height: 14px
	transform: rotate(0deg)
	transition: .5s ease-in-out
	+respond-above(device-medium)
		display: none

	span
		display: block
		position: absolute
		height: 2px
		border-radius: 3px
		width: 100%
		background: colors(greyscale, dark)
		opacity: 1
		left: 0
		transform: rotate(0deg)
		transition: .25s

		&:nth-child(1)
			top: 0
		&:nth-child(2), &:nth-child(3)
			top: 6px
		&:nth-child(4)
			top: 12px

	&.close
		span
			&:nth-child(1)
				top: 6px
				width: 0%
				left: 50%
			&:nth-child(2)
				transform: rotate(45deg)
			&:nth-child(3)
				transform: rotate(-45deg)
			&:nth-child(4)
				top: 6px
				width: 0%
				left: 50%

